logs
target
.bloop
.metals
.bsp
.vscode
.ammonite
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
files
package-lock.json
node_modules/
/public/generated-js/
metals.sbt
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt
