html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #00234d;
    max-width: 100%;
    overflow-x: hidden;
}

.logo {
    width: 126px;
    height: 100px;
}

.logo-header {
    width: 47px;
    height: 50px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.demo-drawer {
    border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.drawer-header, .drawer-footer {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
}

.drawer-footer {
    padding-left: 40px;
}

.navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdl-navigation__link--active {
    background-color: #00BCD4;
    /** !important because overridden by .demo-layout .navigation .mdl-navigation__link */
    color: #37474F !important;
}

.demo-layout .navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: white;
}

.demo-layout .navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.demo-content {
    max-width: 1080px;
}

.mdl-button--raised.mdl-button--colored {
    color: white;
}

.header__ribbon {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: -25px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 90px;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    z-index: 10;
}

/* Note: the mdl footer has too much padding at the bottom and demands a
 * mandatory scroll
 */
.mdl-mega-footer-fix {
    padding-bottom: 4px;
}

.mdl-mega-footer {
    color: #fff;
    background-color: #1c1c1c;
    font-size: 16px;
    font-weight: 400;
}

.mdl-mega-footer__middle-section {
    display: flex;
    justify-content: space-between;
}

.mdl-mega-footer__aplus {
    font-size: 20px;
    margin-left: 16px;
}

.mdl-mega-footer__beta-link {
    margin-left: 63px;
}

.mdl-mega-footer a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.mdl-mega-footer li {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px !important;
}

.mdl-mega-footer .mdl-logo {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 32px;
}

.mdl-card__supporting-text {
    width: 100% !important;
    box-sizing: border-box;
}

.mdl-card--resizable {
    width: unset;
    max-width: 400px;
}

.mdl-dialog-fix {
    top: 50% !important;
    transform: translate(0, -50%) !important;
}

@media print {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
        margin-left: 0px !important;
    }

    .mdl-data-table tbody tr {
        height: 15px;
        padding: 2px;
    }

    .mdl-data-table td {
        height: 15px;
        padding: 2px;
    }

    .mdl-cell--6-col-print {
        width: calc(50% - 16px) !important;
    }

    .mdl-cell--8-col-print {
        width: calc(66.6666666% - 16px) !important;
    }

    .mdl-cell--4-col-print {
        width: calc(33.3333333% - 16px) !important;
    }

    .mdl-layout {
        height: initial;
    }

    .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
        padding-left: 2px;
    }

    .mdl-layout__content {
        background-color: white !important;
        height: initial !important;
        overflow: visible !important;
        display: block !important;
    }

    .mdl-list__item-avatar {
        display: none !important;
    }

    body, html {
        overflow: visible !important;
        min-height: initial !important;
        height: initial !important;
    }

    *:first-line {
        text-shadow: none !important;
    }

    .mdl-layout__container {
        height: initial !important;
        overflow: visible !important;
    }

    .mdl-layout {
        display: block !important;
        overflow: visible !important;
    }

    .do-not-print {
        display: none !important;
    }

    .mandat-print-wrapper h4 {
      margin-top: 0px;
    }

    .mandat-print-wrapper ul {
      margin-top: 0px;
    }

    .mandat-print-wrapper p,ul,li {
      font-size: 12px;
    }
}

.info-box {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #5bc0de;
    font-style: italic;
    background-color: white;
}

.info-box--no-spacing {
    margin-top: 0px;
    margin-bottom: 0px;
}

.info-box--orange {
    border-left-color: #FF7E47;
}

.info-box-container {
    text-align: left;
    white-space: normal;
}

.mdl-card__title-text {
    margin-right: 120px;
}

.invisible {
    display: none;
}

.tag {
    height: 18px;
    width: 80px;
    color: #666666;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: #ECECEC;
    padding: 7px;
}

.tag--important {
    color: #FFFFFF;
    background-color: #666666;
}

.tag--closed {
    color: #FFFFFF;
    background-color: #BABABA;
}

.td--clear-border {
    border-left: 4px solid;
    border-color: #ECECEC;
}

.td--important-border {
    border-left: 4px solid;
    border-color: #666666;
}

.td--blue-background {
    background-color: #f1f6fc;
}

.icon--light {
    color: #D8D8D8;
}

.vertical-align--middle > * {
    vertical-align: middle;
}

.mdl-data-table__cell--content-size {
    white-space: nowrap;
    width: 1%;
}

.hidden {
    display: none;
}

.hidden-important {
    display: none !important;
}

@media (max-width: 767px) {
    .hidden--small-screen {
        display: none;
    }
}

@media (min-width: 767px) {
    .show--small-screen {
        display: none;
    }
}

.application__subject {
    color: #888888;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.application__name {
    color: #555555;;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.application__age {
    font-style: italic;
    font-size: 13px;
}

.application__anwsers {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}

.text--strikethrough {
    text-decoration: line-through;
}

.tag--admin {
    background-color: #7a008f;
    color: white;
}

.tag--responsable {
    background-color: #e2181a;
    color: white;
}

.tag--instructor {
    background-color: #bee1ff;
    color: black;
}

.tag--disabled {
    background-color: #646464;
    color: white;
}

#span-group-description {
    display: block;
}

dialog.dialog--50percent-width {
    width: 50%;
}

a {
    color: initial;
}

.mdl-textfield--large {
    width: 600px;
    max-width: 90%;
}

.mdl-data-table__cell--split {
    display: block;
    float: left;
    width: 100%;
    height: initial !important;
}

.title--addline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title--addline:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 20px;
    flex: 1 0 20px;
}

.ariane {
    font-weight: bold;
    font-size: 19px;
}

.text--font-size-medium {
    font-size: 14px;
    font-weight: 400;
}

.input-import-user {
    width: 100%;
}

.cell-import-user {
    margin: 3px 3px !important;
    padding: 3px 3px !important;
}

.mdl-data-table--th--nopadding {
    padding-left: 0px !important;
    padding-right: 0.5em !important;
}

.mdl-textfield__input--readonly {
    background-color: lightgrey;
}

.mdl-textarea--more-height {
    height: 20em;
}

.--padding-20px {
    padding: 20px;
}

/* https://github.com/etalab/template.data.gouv.fr/blob/master/src/css/components/notification.css
 * https://github.com/etalab/template.data.gouv.fr/blob/master/src/css/base/theme.css
 */
.notification {
    background: #b4e1fa;
    border: 1px solid #006be6;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    display: flex;
    align-items: center;
}

.notification--success {
    background: #daf5e7;
    border-color: #03bd5b;
}

.notification--error {
    background: rgba(239, 172, 166, 0.45882);
    border-color: #d63626;
}

.notification--error > div {
    display: flex;
    margin: auto;
}

.notification__message {
    flex-grow: 1;
}


.avoid-clicks {
    pointer-events: none;
}

.mdl-button--fab .fas, .mdl-button--fab .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 20px;
}

.mdl-color--light-green {
    background-color: #B8E2A3;
}

.mdl-color--medium-green {
    background-color: #42A341;
}

.mdl-color--dark-green {
    background-color: #108803;
}

.aplus-demo-header__title {
    font-size: 14px;
    font-family: "Courier New";
}

.aplus-textfield__input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBCBCB;
    font-size: 14px;
    padding: 10px 12px;
    width: 200px;
    max-width: 100%;
}

.aplus-textfield__label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.aplus-textfield__label__example {
    font-style: italic;
    color: #71777A;
    font-size: 14px;
    margin-top: 6px;
    display: inline-block;
}

.aplus-textfield__input--large {
    width: 440px;
}

.aplus-colored-circle {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 10px;
    background: #29B6F6;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

.main__grid {
    min-height: calc(100% - 120px);
}

.chart-container {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 100%;
}

.application-row {
    cursor: pointer;
}

.covid19-help {
    background-color: white;
    color: #F50057;
    border: 1px solid #F50057;
    max-width: 160px;
    padding: 16px 28px;
    margin: 16px;
    text-align: center;
}

.disabled-users-toggle {
    cursor: pointer;
    padding: 4px;
    text-decoration: underline;
    text-align: center;
}

.disabled-users-toggle:hover {
    background: #f3f4f6;
}


/** List of classes with only 1 property (prefixed by `single--`) **/
/** Using Autoprefixer for legacy **/

.single--margin-top--8px {
    margin-top: -8px;
}

.single--margin-top--16px {
    margin-top: -16px;
}

.single--margin-top-8px {
    margin-top: 8px;
}

.single--margin-top-10px {
    margin-top: 10px;
}

.single--margin-top-16px {
    margin-top: 16px;
}

.single--margin-top-24px {
    margin-top: 24px;
}

.single--margin-top-40px {
    margin-top: 40px;
}

.single--margin-bottom--8px {
    margin-bottom: -8px;
}

.single--margin-bottom--24px {
    margin-bottom: -24px;
}

.single--margin-bottom-0px {
    margin-bottom: 0px;
}

.single--margin-bottom-8px {
    margin-bottom: 8px;
}

.single--margin-bottom-16px {
    margin-bottom: 16px;
}

.single--margin-bottom-24px {
    margin-bottom: 24px;
}

.single--margin-bottom-32px {
    margin-bottom: 32px;
}

.single--margin-bottom-40px {
    margin-bottom: 40px;
}

.single--margin-bottom-60px {
    margin-bottom: 60px;
}

.single--margin-right-8px {
    margin-right: 8px;
}

.single--margin-right-16px {
    margin-right: 16px;
}

.single--margin-right-20px {
    margin-right: 20px;
}

.single--margin-right-24px {
    margin-right: 24px;
}

.single--margin-right-32px {
    margin-right: 32px;
}

.single--margin-left-2px {
    margin-left: 2px;
}

.single--margin-left-8px {
    margin-left: 8px;
}

.single--margin-left-24px {
    margin-left: 24px;
}

.single--margin-left-32px {
    margin-left: 32px;
}

.single--margin-0px {
    margin: 0px;
}

.single--margin-4px {
    margin: 4px;
}

.single--margin-8px {
    margin: 8px;
}

.single--margin-16px {
    margin: 16px;
}


.single--padding-0px {
    padding: 0px;
}

.single--padding-8px {
    padding: 8px;
}

.single--padding-4px {
    padding: 4px;
}

.single--padding-top-8px {
    padding-top: 8px;
}

.single--padding-top-16px {
    padding-top: 16px;
}

.single--padding-bottom-8px {
    padding-bottom: 8px;
}

.single--padding-bottom-16px {
    padding-bottom: 16px;
}

.single--padding-left-16px {
    padding-left: 16px;
}

.single--padding-left-40px {
    padding-left: 40px;
}

.single--padding-left-48px {
    padding-left: 48px;
}

.single--padding-right-16px {
    padding-right: 16px;
}

.single--max-width-160px {
    max-width: 160px;
}

.single--max-width-184px {
    max-width: 184px;
}

.single--max-width-800px {
    max-width: 800px;
}

.single--max-width-960px {
    max-width: 960px;
}

.single--height-auto {
    height: auto !important;
}

.single--width-unset {
    width: unset;
}

.single--width-100pc {
    width: 100%;
}

.single--width-20px {
    width: 20px;
}

.single--width-48px {
    width: 48px;
}

.single--width-300px {
    width: 300px;
}

.single--width-400px {
    width: 400px;
}

.single--width-max-content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.single--font-size-12px {
    font-size: 12px;
}

.single--font-size-14px {
    font-size: 14px;
}

.single--font-size-16px {
    font-size: 16px;
}

.single--font-size-20px {
    font-size: 20px;
}

.single--font-size-50px {
    font-size: 50px;
}

.single--overflow-auto {
    overflow: auto;
}

.single--display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.single--flex-grow-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.single--align-content-flex-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.single--align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.single--align-items-center-important {
    /* !important to work with the legacy order of .css :D */
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.single--justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.single--align-self-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.single--align-self-flex-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.single--flex-wrap-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.single--flex-direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.single--white-space-normal {
    white-space: normal;
}

.single--white-space-nowrap {
    white-space: nowrap;
}

.single--cursor-pointer {
    cursor: pointer;
}

.single--text-decoration-none {
    text-decoration: none;
}

.single--text-decoration-underline {
    text-decoration: underline;
}

.single--text-transform-uppercase {
    text-transform: uppercase;
}

.single--list-style-type-none {
    list-style-type: none;
}

.single--font-weight-500 {
    font-weight: 500;
}

.single--font-weight-600 {
    font-weight: 600;
}

.single--font-weight-bold {
    font-weight: bold;
}

.single--line-height-22px {
    line-height: 22px !important;
}

.single--line-height-24px {
    line-height: 24px !important;
}

.single--background-color-white {
    background-color: white;
}

.single--background-color-white-important {
    background-color: white !important;
}

.single--pointer-events-none {
    pointer-events: none;
}

.single--pointer-events-all {
    pointer-events: all;
}

.single--border-bottom-2px {
    border-bottom: 2px solid;
}


@media (max-width: 479px) {
    .single--hidden-phone {
        display: none;
    }
}


/****************
Colors
*/
.aplus-color--blue {
    background-color: #0053b3 !important;
}

.aplus-color--light-grey {
    background-color: #ebeff3 !important;
}

.aplus-color-text--black {
    color: #00234d !important;
}

.aplus-color-text--error {
    color: #d50000;
}

/* from --blue: #0053b3;
 * https://github.com/etalab/template.data.gouv.fr/blob/master/src/css/base/theme.css#L5
 *
 * Usage:
 * - links
 */
.aplus-color-text--blue {
    color: #0053b3;
}

/*************
Typographie
 */
.typography--text-line-height-1-3 {
    line-height: 1.3;
}

.typography--text-line-height-2 {
    line-height: 2;
}

.typography--text-align-center {
    text-align: center;
}

.typography--text-align-center-important {
    text-align: center !important;
}

/*************
Chart
 */
.chart--default-size {
    height: 300px;
    width: 95%;
}

.chart--500px-height {
    height: 500px;
    width: 95%;
}

/********
Icons
 */

.material-icons--small-postfix {
    font-size: 20px;
    margin-left: 5px;
}

/* Remove Icons for IE10 and IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .material-icons {
        display: none;
    }
}

.navigation .mdl-navigation__link .material-icons:first-of-type {
    font-size: 24px;
    margin-right: 32px;
}

/*************
Tabs
 */

.mdl-tabs__tab.is-active {
    background: white;
}

.badge-holder {
    position: relative;
}

.badge-holder .badge {
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 2px 6px;
    border-radius: 50%;
    background: red;
    color: white;
}

.mdl-card__supporting-text {
    color: rgba(0, 0, 0, 0.70);
}

.answer-card {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none !important;
}

.global-errors {
    color: red;
    font-weight: bold;
}

/* Edit My Groups styles */
.mdl-data-table tbody tr.no-hover:nth-child(even) {
    background: #eeeeee
}

.mdl-data-table tbody tr.no-hover:nth-child(even):hover {
    background: #eeeeee;
}

.mdl-data-table tbody tr.no-hover:hover {
    background: inherit;
}

.header {
    color: #555555;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eeeeee;
}

.sub-header {
    color: #3c3c3c;
    font-size: 16px;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 8px;
}

.remove-link-panel {
    text-align: center !important;
}

.remove-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #555555;
    text-decoration: underline;
    cursor: pointer;
}

.group-container {
    padding-top: 24px;
    padding-bottom: 8px;
}

.group-container > div:first-child {
    padding-left: 24px;
}

.group-table {
    border: none;
    border-spacing: 0;
    border-collapse: unset;
    white-space: normal;
}

.add-new-user-panel {
    align-items: center;
    justify-content: start;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.form-example {
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid #9E9E9E;
    border-radius: 8px;
}

.row--disabled {
  background-color: grey !important;
  text-decoration: line-through;
}

.overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay-foreground {
  position: relative;
  z-index: 1;
}
