html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.logo {
  width: 126px;
  height: 100px;
}

.logo-header {
    width: 47px;
    height: 50px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
}


.navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  mbbbbbbbbbbbbbbbbbbbbax-width: 1080px;
}

.mdl-button--raised.mdl-button--colored {
    color: white;
}

.header__ribbon {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: -25px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 90px;
    background-color: red;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    z-index: 10;
}

.mdl-card__supporting-text {
    width: 100% !important;
    box-sizing: border-box;
}

@media print {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
        margin-left: 0px !important;
    }
    .mdl-data-table tbody tr {
        height: 15px;
        padding: 2px;
    }
    .mdl-data-table td {
        height: 15px;
        padding: 2px;
    }
    .mdl-cell--6-col-print {
        width: calc(50% - 16px) !important;
    }
    .mdl-cell--8-col-print {
        width: calc(66.6666666% - 16px) !important;
    }
    .mdl-cell--4-col-print {
        width: calc(33.3333333% - 16px) !important;
    }
    .mdl-layout {
        height: initial;
    }
    .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
        padding-left: 2px;
    }
    .mdl-layout__content {
        background-color: white !important;
        height: initial !important;
        overflow: visible !important;
        display: block !important;
    }

    .mdl-list__item-avatar {
        display: none !important;
    }

    body, html {
        overflow: visible !important;
        min-height: initial !important;
        height: initial !important;
    }

    *:first-line {
        text-shadow: none !important;
    }

    .mdl-layout__container {
        height: initial !important;
        overflow: visible !important;
    }

    .mdl-layout {
        display: block !important;
        overflow: visible !important;
    }

    .mdl-grid, .mdl-card, .mdl-card__title {
        display: block !important;

    }

    .do-not-print {
        display:none !important;
    }
}

.info-box {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #5bc0de;
    font-style: italic;
    background-color: white;
}

.info-box--no-spacing {
    margin-top: 0px;
    margin-bottom: 0px;
}

.info-box--orange {
    border-left-color: #FF7E47;
}

.mdl-card__title-text {
    margin-right: 120px;
}

.invisible {
    display: none;
}

.tag {
    height: 18px;
    width: 80px;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    background-color: #ECECEC;
    padding: 7px;
}

.tag--important {
    color: #FFFFFF;
    background-color: #666666;
}

.tag--closed {
    color: #FFFFFF;
    background-color: #BABABA;
}

.td--clear-border {
    border-left: 4px solid;
    border-color: #ECECEC;
}

.td--important-border {
    border-left: 4px solid;
    border-color: #666666;
}

.icon--light {
    color: #D8D8D8;
}

.vertical-align--middle > * {
    vertical-align: middle;
}

.mdl-data-table__cell--content-size {
    white-space: nowrap;
    width: 1%;
}

.hidden {
    display: none;
}
@media (max-width: 767px) {
    .hidden--small-screen {
        display: none;
    }
}
@media (min-width: 767px) {
    .show--small-screen {
        display: none;
    }
}

.application__subject {
    color: #888888;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}
.application__name {
    color: #555555;;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}
.application__age {
    font-style: italic;
}
.application__anwsers {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}

/* Remove Icons for IE10 and IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .material-icons {
        display: none;
    }
}

.text--strikethrough {
    text-decoration: line-through;
}

.tag--admin {
    background-color: #7a008f;
    color: white;
}

.tag--responsable {
    background-color: #e2181a;
    color: white;
}
.tag--instructor {
    background-color: #bee1ff;
}
.tag--aidant {
    background-color: greenyellow;
}

.tag--disabled {
    background-color: #646464;
    color: white;
}

#span-group-description {
    display: block;
}

dialog.dialog--50percent-width {
    width: 50%;
}

ul#group-area-container {
    list-style: none;
    padding-left: 0;
}

ul#group-area-container li {
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 1em;
    background-color: white;
}

a {
   color: initial;
}

.mdl-textfield--large {
    width: 600px;
    max-width: 90%;
}

.mdl-data-table__cell--split {
    display: block;
    float: left;
    width: 100%;
    height: initial !important;
}

.title--addline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title--addline:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 20px;
    flex: 1 0 20px;
}      

.ariane {
    font-weight: bold;
    font-size: 19px;
}

.text--font-size-medium {
    font-size: 16px;
    font-weight: 400;
}

.input-import-user {
    width: 100%;
}

.cell-import-user {
    margin: 3px 3px !important;
    padding: 3px 3px !important;
}

.mdl-data-table--th--nopadding {
    padding-left: 0px !important;
    padding-right: 0.5em !important;
}

.mdl-textfield__input--readonly {
    background-color: lightgrey;
}

.mdl-textarea--more-height {
  height: 20em;
}

.--padding-20px {
    padding: 20px;
}


.notification {
    background: #b4e1fa;
    border: 1px solid #006be6;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
}

.notification--error {
    background: rgba(239,172,166,0.45882);
    border-color: #d63626;
}