html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #00234d;
}
.logo {
  width: 126px;
  height: 100px;
}

.logo-header {
    width: 47px;
    height: 50px;
}

.contact-phone-icon {
    width: 52px;
    height: 52px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawer-header, .drawer-footer {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
}

.drawer-footer {
    padding-left: 40px;
}

.navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mdl-navigation__link--active {
    background-color: #00BCD4;
    /** !important because overridden by .demo-layout .navigation .mdl-navigation__link */
    color: #37474F !important;
}

.demo-layout .navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
    color: white;
}
.demo-layout .navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.demo-content {
  max-width: 1080px;
}

.mdl-button--raised.mdl-button--colored {
    color: white;
}

.header__ribbon {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: -25px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 90px;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    z-index: 10;
}

.mdl-card__supporting-text {
    width: 100% !important;
    box-sizing: border-box;
}

@media print {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
        margin-left: 0px !important;
    }
    .mdl-data-table tbody tr {
        height: 15px;
        padding: 2px;
    }
    .mdl-data-table td {
        height: 15px;
        padding: 2px;
    }
    .mdl-cell--6-col-print {
        width: calc(50% - 16px) !important;
    }
    .mdl-cell--8-col-print {
        width: calc(66.6666666% - 16px) !important;
    }
    .mdl-cell--4-col-print {
        width: calc(33.3333333% - 16px) !important;
    }
    .mdl-layout {
        height: initial;
    }
    .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
        padding-left: 2px;
    }
    .mdl-layout__content {
        background-color: white !important;
        height: initial !important;
        overflow: visible !important;
        display: block !important;
    }

    .mdl-list__item-avatar {
        display: none !important;
    }

    body, html {
        overflow: visible !important;
        min-height: initial !important;
        height: initial !important;
    }

    *:first-line {
        text-shadow: none !important;
    }

    .mdl-layout__container {
        height: initial !important;
        overflow: visible !important;
    }

    .mdl-layout {
        display: block !important;
        overflow: visible !important;
    }

    .mdl-grid, .mdl-card, .mdl-card__title {
        display: block !important;

    }

    .do-not-print {
        display:none !important;
    }
}

.info-box {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #5bc0de;
    font-style: italic;
    background-color: white;
}

.info-box--no-spacing {
    margin-top: 0px;
    margin-bottom: 0px;
}

.info-box--orange {
    border-left-color: #FF7E47;
}

.mdl-card__title-text {
    margin-right: 120px;
}

.invisible {
    display: none;
}

.tag {
    height: 18px;
    width: 80px;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    background-color: #ECECEC;
    padding: 7px;
}

.tag--important {
    color: #FFFFFF;
    background-color: #666666;
}

.tag--closed {
    color: #FFFFFF;
    background-color: #BABABA;
}

.td--clear-border {
    border-left: 4px solid;
    border-color: #ECECEC;
}

.td--important-border {
    border-left: 4px solid;
    border-color: #666666;
}

.icon--light {
    color: #D8D8D8;
}

.vertical-align--middle > * {
    vertical-align: middle;
}

.mdl-data-table__cell--content-size {
    white-space: nowrap;
    width: 1%;
}

.hidden {
    display: none;
}
@media (max-width: 767px) {
    .hidden--small-screen {
        display: none;
    }
}
@media (min-width: 767px) {
    .show--small-screen {
        display: none;
    }
}

.application__subject {
    color: #888888;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}
.application__name {
    color: #555555;;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}
.application__age {
    font-style: italic;
    font-size: 13px;
}
.application__anwsers {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}

.text--strikethrough {
    text-decoration: line-through;
}

.tag--admin {
    background-color: #7a008f;
    color: white;
}

.tag--responsable {
    background-color: #e2181a;
    color: white;
}
.tag--instructor {
    background-color: #bee1ff;
}
.tag--aidant {
    background-color: greenyellow;
}

.tag--disabled {
    background-color: #646464;
    color: white;
}

#span-group-description {
    display: block;
}

dialog.dialog--50percent-width {
    width: 50%;
}

ul#group-area-container {
    list-style: none;
    padding-left: 0;
}

ul#group-area-container li {
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 1em;
    background-color: white;
}

a {
   color: initial;
}

.mdl-textfield--large {
    width: 600px;
    max-width: 90%;
}

.mdl-data-table__cell--split {
    display: block;
    float: left;
    width: 100%;
    height: initial !important;
}

.title--addline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title--addline:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 20px;
    flex: 1 0 20px;
}      

.ariane {
    font-weight: bold;
    font-size: 19px;
}

.text--font-size-medium {
    font-size: 16px;
    font-weight: 400;
}

.input-import-user {
    width: 100%;
}

.cell-import-user {
    margin: 3px 3px !important;
    padding: 3px 3px !important;
}

.mdl-data-table--th--nopadding {
    padding-left: 0px !important;
    padding-right: 0.5em !important;
}

.mdl-textfield__input--readonly {
    background-color: lightgrey;
}

.mdl-textarea--more-height {
  height: 20em;
}

.--padding-20px {
    padding: 20px;
}

/* https://github.com/etalab/template.data.gouv.fr/blob/master/src/css/components/notification.css
 * https://github.com/etalab/template.data.gouv.fr/blob/master/src/css/base/theme.css
 */
.notification {
    background: #b4e1fa;
    border: 1px solid #006be6;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    display: flex;
    align-items: center;
}

.notification--success {
    background: #daf5e7;
    border-color: #03bd5b;
}

.notification--error {
    background: rgba(239,172,166,0.45882);
    border-color: #d63626;
}

.notification__message {
    flex-grow: 1;
}



.avoid-clicks {
    pointer-events: none;
}

.mdl-button--fab .fas, .mdl-button--fab .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 20px;
}

.mdl-color--light-green {
    background-color: #B8E2A3;
}

.mdl-color--medium-green {
    background-color: #42A341;
}

.mdl-color--dark-green {
    background-color: #108803;
}

.aplus-demo-header__title {
    font-size: 14px;
    font-family: "Courier New";
}

.aplus-textfield__input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBCBCB;
    font-size: 14px;
    padding: 10px 12px;
    width: 200px;
    max-width: 100%;
}
.aplus-textfield__label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
.aplus-textfield__label__example {
    font-style: italic;
    color: #71777A;
    font-size: 14px;
    margin-top: 6px;
    display: inline-block;
}

.aplus-textfield__input--large {
    width: 440px;
}

.margin-top--10px {
    margin-top: 10px;
}

.margin-top--30px {
    margin-top: 30px;
}

.main__grid {
    min-height: calc(100% - 120px);
}

.--max-width-960px {
    max-width: 960px;
}

.align-items-center {
    /* !important to work with the legacy order of .css :D */
    align-items: center !important;
}

.--margin-right-20px {
    margin-right: 20px;
}

.usefulness__icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 100%;
}

.application-row {
    cursor: pointer;
}

.single--overflow-auto {
    overflow: auto;
}

/****************
Colors
*/
.aplus-color--blue {
    background-color: #0053b3 !important;
}

.aplus-color--light-grey {
    background-color: #ebeff3 !important;
}

.aplus-color-text--black {
    color: #00234d !important;
}

/* from --blue: #0053b3;
 * https://github.com/etalab/template.data.gouv.fr/blob/master/src/css/base/theme.css#L5
 *
 * Usage:
 * - links
 */
.aplus-color-text--blue {
    color: #0053b3;
}

/*************
Typographie
 */
.typography--text-line-height-1-3 {
    line-height: 1.3;
}

.typography--text-align-center {
    text-align: center;
}

/*************
Chart
 */
.chart--default-size {
    height: 300px;
    width: 95%;
}
.chart--500px-height {
    height: 500px;
    width: 95%;
}

/********
Icons
 */

.material-icons--small-postfix {
    font-size: 20px;
    margin-left: 5px;
}

/* Remove Icons for IE10 and IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .material-icons {
        display: none;
    }
}

.navigation .mdl-navigation__link .material-icons:first-of-type {
    font-size: 24px;
    margin-right: 32px;
}
