.material-icons--36px {
    font-size: 36px;
}

.mdl-typography--text-prewrap {
    white-space: pre-wrap;
}

.mdl-tabs__tab-bar--align-left {
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
}