
.mdl-textfield__input {
    padding-left: 10px;
    height: 30px;
}
.mdl-textfield__label {
    padding-left: 10px;
    top: 29px;
}
.mdl-checkbox__box-outline {
    background-color: white;
}
.mdl-radio .mdl-radio__outer-circle {
    background-color: white;
}
.mdl-radio.is-checked .mdl-radio__outer-circle {
    background: none;
}

.mdl-textfield--no-padding {
    padding: 0px;
}
.mdl-textfield--no-padding .mdl-textfield__label {
    top: 3px;
}
.mdl-textfield--no-padding .mdl-textfield__label:after {
    bottom: 0px;
}
.mdl-textfield--no-padding.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--no-padding.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    top: -14px;
}
.margin-left-30px {
    margin-left: 30px;
}

.mdl-textfield.is-focused.mdl-textfield--floating-label .mdl-textfield__label {
    visibility: initial;
}
.mdl-textfield.is-focused .mdl-textfield__label {
    visibility: hidden;
}

.mdl-textfield__input {
    background-color: white
}

.mdl-data-table td {
    padding: 0px 18px;
}
.mdl-data-table {
    background-color: initial;
    border: none;
}
.mdl-data-table td {
    border-top: none;
    border-bottom: none;
}

.textfield__input--no-height-constraint {
    height: initial;
}
