<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>%highlight(%-5level) %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <logger name="play" level="INFO"/>
  <logger name="application" level="DEBUG"/>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>
  <logger name="play.filters.https.RedirectHttpsFilter" level="WARN"/>

  <!-- OFF some noisy logs for tests -->
  <logger name="com.gargoylesoftware.htmlunit.DefaultCssErrorHandler" level="OFF"/>
  <logger name="com.zaxxer.hikari.HikariDataSource" level="OFF"/>
  <logger name="io.github.classgraph.ClassGraph" level="OFF"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>

  <root level="INFO"/>
</configuration>
