@import helper._
@import views.home.LoginPanel

@(innerPage: LoginPanel)(implicit flash: Flash, webJarsUtil: org.webjars.play.WebJarsUtil, request: RequestHeader, mainInfos: MainInfos)

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        @toHtml(views.helpers.head.buildInfoMeta)
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <title>Administration+</title>

        @webJarsUtil.locate("roboto-fontface.css").css()
        @webJarsUtil.locate("material-icons.css").css()
        @webJarsUtil.locate("material.min.css").css()
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/home.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/mdl-extensions.css")'>
        <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("generated-js/index.css")'>
    </head>

    <body>
        <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout">
            <header class="mdl-layout__header mdl-color--white">

                @toHtml(views.helpers.common.optionalDemoVersionHeader)

                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-title mdl-layout-title--plus">
                        <img
                        class="layout-title__logo"
                        src="@routes.Assets.versioned("images/logo-marianne.svg")"
                        alt="Administration+"
                        /><span class="layout-title__domain">aplus</span
                    ><img
                    src="@routes.Assets.versioned("images/pointbetagouvfr.svg")"
                    class="layout-title__gouvfr mdl-cell--hide-phone mdl-cell--hide-tablet"
                    alt="beta.gouv.fr"
                    />
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link aplus-color-text--black" href="https://docs.aplus.beta.gouv.fr/faq" target="_blank" rel="noopener"
                        >FAQ
                            <i class="material-icons">
                                open_in_new
                            </i></a
                        >
                        <a class="mdl-navigation__link aplus-color-text--black" href="#contact"
                        >Nous contacter</a
                        >
                    </nav>
                </div>
            </header>
            <main
            class="mdl-layout__content mdl-grid mdl-grid--no-spacing mdl-color--white"
            >
                <div
                class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing mdl-color--white"
                >
                    <div
                    class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing mdl-color--white heigh-min--95vh"
                    >
                        <div
                        class="mdl-cell mdl-cell--6-col-desktop mdl-cell--middle mdl-color--white mdl-typography--text-center mdl-cell--12-col mdl-grid"
                        >
                            <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop">
                                <img
                                class="logo_full--250x200"
                                src="@routes.Assets.versioned("images/logo_full_500x397.png")"
                                />

                                <h5 class="mdl-typography--text-uppercase typography--text-line-height-1-3">
                                    Le service qui permet de résoudre les blocages administratifs
                                    complexes ou urgents
                                </h5>
                            </div>
                        </div>
                        <div
                        class="mdl-cell mdl-cell--6-col-desktop mdl-typography--text-center mdl-cell--12-col aplus-color--light-grey mdl-grid"
                        >
                            <div
                                class="mdl-cell mdl-cell--middle mdl-cell--10-col mdl-cell--1-offset-desktop mdl-grid"
                            >
                                @innerPage match {
                                    case LoginPanel.ConnectionForm => {
                                        @connectionFormPanel()
                                    }
                                    case infos: LoginPanel.SendbackEmailForm => {
                                        @sendbackEmailForm(infos)
                                    }
                                    case infos: LoginPanel.EmailSentFeedback => {
                                        @emailSentFeedbackPanel(infos)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div
                    class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing mdl-color--white" id="contact"
                    >
                        <div
                        class="mdl-cell mdl-cell--12-col aplus-color--blue mdl-grid mdl-color-text--white"
                        >
                            <div
                            class="mdl-cell mdl-cell--7-col mdl-cell--1-offset-desktop mdl-cell--12-col-mobile"
                            >
                                <h4 class="mdl-typography--font-medium">
                                    Vous rencontrez des difficultés à vous connecter ?
                                </h4>
                                <h5 class="mdl-typography--font-regular">
                                    Contactez-nous, notre équipe est disponible pour vous
                                    renseigner et vous aider.
                                </h5>
                            </div>

                            <div
                            class="mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col mdl-cell--middle mdl-typography--text-nowrap"
                            >
                                <h4 class="vertical-align--middle">
                                    <i class="material-icons material-icons--32px">email</i>
                                    <a
                                    href="mailto:@Constants.supportEmail"
                                    class="mdl-color-text--white"
                                    >@Constants.supportEmail</a
                                    >
                                </h4>
                            </div>
                        </div>
                        <div
                        class="mdl-cell mdl-cell--12-col aplus-color--light-grey mdl-grid mdl-grid--no-spacing"
                        >
                            <div
                            class="mdl-cell mdl-cell--12-col mdl-typography--text-center"
                            id="quoi"
                            >
                                <h2 class="section__title">Administration +</h2>
                                <h3 class="section__subtitle">Qu'est-ce que c'est ?</h3>
                                <a href="#quoi" class="aplus-color-text--black"
                                ><i class="material-icons material-icons--48px"
                                >keyboard_arrow_down</i
                                ></a
                                >
                            </div>
                        </div>
                    </div>
                    <div
                    class="mdl-cell mdl-cell--12-col aplus-color--light-grey mdl-grid mdl-grid--no-spacing"
                    >
                        <div
                        class="mdl-cell mdl-cell--5-col-desktop mdl-cell--1-offset mdl-cell--0-offset-mobile mdl-cell--10-col-tablet mdl-cell--12-col"
                        >
                            <img
                            class="mdl-cell--hide-phone mdl-cell--hide-tablet img--max-width-600px"
                            src="@routes.Assets.versioned("images/home/Aplus-qu-est-ce-que-cest-desktop.svg")"

                            />
                            <img
                            class="mdl-cell--hide-desktop img--width-100"
                            src="@routes.Assets.versioned("images/home/Aplus-qu-est-ce-que-cest-mobile.svg")"
                            />
                        </div>
                        <div
                        class="mdl-cell mdl-cell--1-offset mdl-cell--4-col-desktop mdl-cell--middle mdl-typography--text-center mdl-cell--12-col"
                        >
                            <h4 class="remove-top-margin">
                                Objectif : coopérer pour résoudre les blocages complexes ou
                                les demandes urgentes
                            </h4>
                            <p>
                                Des agents dans chaque administration sont mobilisés pour
                                répondre aux urgences sociales.
                            </p>
                            <img src="@routes.Assets.versioned("images/home/Aplus-Success.svg")" class="img--max-height-290px"/>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div
                    class="mdl-cell mdl-cell--12-col aplus-color--white mdl-grid mdl-grid--no-spacing"
                    >
                        <div
                        class="mdl-cell mdl-cell--12-col mdl-typography--text-center"
                        id="comment"
                        >
                            <h2 class="section__title">Administration +</h2>
                            <h3 class="section__subtitle">Comment ça marche ?</h3>
                            <a href="#comment" class="aplus-color-text--black"><i class="material-icons material-icons--48px"
                            >keyboard_arrow_down</i
                            ></a
                            >
                        </div>
                    </div>


                    <div
                    class="mdl-cell mdl-cell--10-col-desktop mdl-cell--1-offset-desktop mdl-cell--12-col mdl-color--white"
                    >
                        <img
                        class="mdl-cell--hide-phone mdl-cell--hide-tablet img--heigh-100"
                        src="@routes.Assets.versioned("images/home/Aplus-comment-ca-marche-desktop.svg")"
                        />
                        <img
                        class="mdl-cell--hide-desktop img--width-100"
                        src="@routes.Assets.versioned("images/home/Aplus-comment-ca-marche-mobile.svg")"
                        />
                        <br />
                    </div>
                    <div
                    class="mdl-cell mdl-cell--12-col aplus-color--light-grey mdl-grid "
                    >
                        <div
                        class="mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-grid--no-spacing"
                        id="pourquoi"
                        >
                            <h2 class="section__title">Administration +</h2>
                            <h3 class="section__subtitle">Pourquoi l'utiliser ?</h3>
                            <a href="#pourquoi" class="aplus-color-text--black"
                            ><i class="material-icons material-icons--48px"
                            >keyboard_arrow_down</i
                            ></a
                            >
                        </div>
                    </div>

                    <div
                    class="mdl-cell mdl-cell--12-col aplus-color--light-grey mdl-grid"
                    >
                        <div
                        class="mdl-card usage-card mdl-shadow--2dp aplus-color--blue mdl-cell mdl-cell--4-col"
                        >
                            <div
                            class="mdl-card__title mdl-card--expand mdl-color-text--white mdl-typography--text-center"
                            >
                                <h2>
                                    1
                                </h2>
                                <p>
                                    Sur Administration+, vous pouvez faire intervenir plusieurs administrations
                                    sur une demande. 
                                  
                                </p>
                            </div>
                        </div>
                        <div
                        class="mdl-card usage-card mdl-shadow--2dp aplus-color--blue mdl-cell mdl-cell--4-col"
                        >
                            <div
                            class="mdl-card__title mdl-card--expand mdl-color-text--white mdl-typography--text-center"
                            >
                                <h2>
                                    2
                                </h2>
                                <p>
                                     Sur Administration+, vous échangez ensemble sur un fil de discussion dédié.
                                   
                                </p>
                            </div>
                        </div>
                        <div
                        class="mdl-card usage-card mdl-shadow--2dp aplus-color--blue mdl-cell mdl-cell--4-col"
                        >
                            <div
                            class="mdl-card__title mdl-card--expand mdl-color-text--white mdl-typography--text-center"
                            >
                                <h2>
                                    3
                                </h2>
                                <p>
                                    Sur Administration+, vous gardez une trace des échanges tant que
                                    la demande est en cours.
                                </p>
                            </div>
                        </div>
                        <div
                        class="mdl-card usage-card mdl-shadow--2dp aplus-color--blue mdl-cell mdl-cell--4-col"
                        >
                            <div
                            class="mdl-card__title mdl-card--expand mdl-color-text--white mdl-typography--text-center"
                            >
                                <h2>
                                    4
                                </h2>
                                <p>
                                    Sur A+ vous êtes en conformité par rapport à la confidentialité des données.
                      
                                </p>
                            </div>
                        </div>
                        <div
                        class="mdl-card usage-card mdl-shadow--2dp aplus-color--blue mdl-cell mdl-cell--4-col"
                        >
                            <div
                            class="mdl-card__title mdl-card--expand mdl-color-text--white mdl-typography--text-center"
                            ><h2>5</h2>
                                <p>Les demandes sont habituellement résolues sous 4 jours.</p>
                            </div>
                        </div>
                        <div
                        class="mdl-card usage-card mdl-shadow--2dp aplus-color--blue mdl-cell mdl-cell--4-col"
                        >
                            <div
                            class="mdl-card__title mdl-card--expand mdl-color-text--white mdl-typography--text-center"
                            >
                                <h2>
                                    6
                                </h2>
                                <p>
                                    L’équipe d'Administration+ est disponible pour vous aider.
                                </p>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col"><br /><br /></div>
                    </div>
                </div>
            </main>
        </div>
        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer__middle-section">
                <div class="mdl-mega-footer__drop-down-section">
                    <img
                    class="footer__logo"
                    src="@routes.Assets.versioned("images/logo_dinum_150x202.png")"
                    alt="Administration+"
                    />
                    <br />
                    <span>Un service fourni par la DINUM</span>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                    <ul class="mdl-mega-footer__link-list">
                      <li>
                        <img src='@routes.Assets.versioned("images/logo_small_150x160.png")' class="logo-header" alt="logo Administration+"><span class="mdl-mega-footer__aplus">Administration+</span>
                      </li>
                      <li>
                        <a href="https://beta.gouv.fr/startups/aplus"
                           class="mdl-mega-footer__beta-link">Une startup d’État de beta.gouv</a>
                      </li>
                    </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                    <input
                    class="mdl-mega-footer__heading-checkbox"
                    type="checkbox"
                    checked
                    />
                    <ul class="mdl-mega-footer__link-list">
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="https://docs.aplus.beta.gouv.fr/faq">FAQ</a></li>
                        <li><a href="https://docs.aplus.beta.gouv.fr/conditions-generales-dutilisation">CGU</a></li>
                        <li><a href="@routes.ApplicationController.stats">Statistiques</a></li>
                        <li>Accessibilité : non conforme</li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- Piwik -->
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/stats.js")"></script>
        <noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=42" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
        <script type="text/javascript" src="@routes.JavascriptController.javascriptRoutes"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("generated-js/index.js")"></script>
    </body>
</html>
