@(currentUser: User, currentUserRights: Authorization.UserRights)(users: Seq[User])

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--white" style="white-space: normal;">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th class="mdl-data-table__cell--non-numeric">Nom</th>
                <th class="mdl-data-table__cell--non-numeric">Qualité</th>
                <th class="mdl-data-table__cell--non-numeric">Commune</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Téléphone</th>
                <th class="mdl-data-table__cell--non-numeric">Compte Partagé</th>
                <th class="mdl-data-table__cell--non-numeric">Instructeur</th>
                <th class="mdl-data-table__cell--non-numeric">Responsable groupe</th>
                @if(Authorization.canSeeExperimentalAdminFeatures(currentUserRights)) {
                    <th class="mdl-data-table__cell--non-numeric">Admin</th>
                }
                <th class="mdl-data-table__cell--non-numeric">Aidant</th>
                <th class="mdl-data-table__cell--non-numeric">CGU validé</th>
            </tr>
        </thead>
        <tbody>
        @for((user, index) <- users.sortBy(_.name).filterNot(_.disabled).zipWithIndex) {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">
                @if(Authorization.canEditOtherUser(user)(currentUserRights)) {
                    <a href="@routes.UserController.editUser(user.id)" target="_blank" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons">edit</i>
                    </a>
                }
            </td>
            <td class="mdl-data-table__cell--non-numeric @user.disabledRoleName.map { _ => text--strikethrough }">@user.name</td>
            <td class="mdl-data-table__cell--non-numeric">@user.qualite</td>
            <td class="mdl-data-table__cell--non-numeric">@user.communeCode</td>
            <td class="mdl-data-table__cell--non-numeric @user.disabledRoleName.map { _ => text--strikethrough }">@user.email</td>
            <td class="mdl-data-table__cell--non-numeric">@user.phoneNumber</td>
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @if(user.sharedAccount){ checked } disabled>
                    <span class="mdl-checkbox__label">Compte Partagé</span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @user.instructorRoleName.map { _ => checked } disabled>
                    <span class="mdl-checkbox__label">Instructeur</span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @user.groupAdminRoleName.map { _ => checked } disabled>
                    <span class="mdl-checkbox__label">Responsable</span>
                </label>
            </td>
                @if(Authorization.canSeeExperimentalAdminFeatures(currentUserRights)) {
                    <td class="mdl-data-table__cell--non-numeric">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                            <input type="checkbox" class="mdl-checkbox__input" @user.adminRoleName.map { _ => checked } disabled>
                            <span class="mdl-checkbox__label">Admin</span>
                        </label>
                    </td>
                }
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @user.helperRoleName.map { _ => checked } disabled>
                    <span class="mdl-checkbox__label">Aidant</span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @if(user.cguAcceptationDate.nonEmpty){ checked } disabled>
                    <span class="mdl-checkbox__label">CGU</span>
                </label>
            </td>
        }
        </tbody>
    </table>
