@(users: Seq[User])(implicit currentUser: User)

    <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp pem-table" style="white-space: normal;">
        <thead>
            <tr>
                @if(currentUser.admin) {
                    <th class="mdl-data-table__cell--non-numeric"></th>
                }
                <th class="mdl-data-table__cell--non-numeric">Nom</th>
                <th class="mdl-data-table__cell--non-numeric">Administration/Qualité</th>
                <th class="mdl-data-table__cell--non-numeric">Commune</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                @if(currentUser.admin) {
                    <th class="mdl-data-table__cell--non-numeric">Admin de zone</th>
                }
                <th class="mdl-data-table__cell--non-numeric">Responsable groupe</th>
                <th class="mdl-data-table__cell--non-numeric">Agent A+</th>
                <th class="mdl-data-table__cell--non-numeric">Aidant A+</th>
                <th class="mdl-data-table__cell--non-numeric">Charte A+</th>
                <th class="mdl-data-table__cell--non-numeric">Email de login</th>
            </tr>
        </thead>
        <tbody>
        @for((user, index) <- users.zipWithIndex) {
            <tr>
                @if(currentUser.admin) {
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="@routes.UserController.editUser(user.id)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                }
            <td class="mdl-data-table__cell--non-numeric">@user.name</td>
            <td class="mdl-data-table__cell--non-numeric">@user.qualite</td>
            <td class="mdl-data-table__cell--non-numeric">@user.communeCode</td>
            <td class="mdl-data-table__cell--non-numeric">@user.email</td>
                @if(currentUser.admin) {
                    <td class="mdl-data-table__cell--non-numeric">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                            <input type="checkbox" class="mdl-checkbox__input" @if(user.admin){ checked } disabled>
                            <span class="mdl-checkbox__label">Admin</span>
                        </label>
                    </td>
                }
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @if(user.groupAdmin){ checked } disabled>
                    <span class="mdl-checkbox__label">Responsable</span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @if(user.instructor){ checked } disabled>
                    <span class="mdl-checkbox__label">Agent</span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @if(user.helper){ checked } disabled>
                    <span class="mdl-checkbox__label">Aidant</span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                    <input type="checkbox" class="mdl-checkbox__input" @if(user.hasAcceptedCharte){ checked } disabled>
                    <span class="mdl-checkbox__label">Charte</span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="sendLoginMail(this,'@user.email');">Envoyer email (Valable 15mins)</button>
            </td>
            </tr>
        }
        </tbody>
    </table>