@(elements: helper.FieldElements)

@defining(elements.args.getOrElse(Symbol("type"), "textfield")) {
     case "checkbox" => {
       <label class="mdl-checkbox mdl-js-checkbox">
          @elements.input
          <span class="mdl-checkbox__label">@elements.args.getOrElse(Symbol("label"), "")</span>
       </label>
     }
     case fieldType: String => {
       <div class="mdl-@fieldType mdl-js-@fieldType @if(fieldType == "textfield" && elements.args.getOrElse(Symbol("floated"), "Yes") == "Yes") { mdl-textfield--floating-label } @if(elements.hasErrors) {is-invalid} @elements.args.getOrElse(Symbol("class"), "")"
          @elements.args.get(Symbol("divId")) match {
             case Some(id) => { id="@id" }
              case None => {}
            }
       >
         @elements.input
         @for(label <- elements.args.get(Symbol("label"))) {
           <label class="mdl-@{fieldType}__label" for="@elements.field.id">@label</label>
         }
         @if(elements.hasErrors) {
           <span class="mdl-@{fieldType}__error">@elements.errors.mkString(", ")</span>
         }
       </div>
     }
}
