@()(implicit request: RequestHeader)

<div class="mdl-layout__header-row mdl-color--pink-500 mdl-color-text--white invisible demo-only">
    <span class="mdl-layout-title aplus-demo-header__title">
        Version de démonstration d’Administration+
    </span>
</div>

<div class="mdl-layout__header-row mdl-color--pink-500 mdl-color-text--white">
    France Services et Administration+ se mobilisent pendant le confinement. Merci de votre implication si nécessaire en cette période. Des milliers de nouveaux blocages risquent de survenir. Remportons ce combat ! Bon courage à tous.
</div>

@if(_root_.helper.RequestHelper.userAgentIsInternetExplorer(request)) {
    <div class="mdl-layout__header-row mdl-color--pink-500 mdl-color-text--white">
        <span class="single--flex-shrink-initial">Nous avons détecté que vous utilisiez le navigateur Internet Explorer ! Microsoft conseille depuis février 2019 de ne plus utiliser son navigateur qui n’est plus mis à jour depuis la sortie de Edge en 2015 et ne supporte donc plus les standards actuels du Web. <a href="https://docs.aplus.beta.gouv.fr/faq/pourquoi-ne-plus-utiliser-le-navigateur-internet-explorer-de-microsoft" class="mdl-color-text--white">Pour en savoir plus</a></span>
    </div>
}
