@()

<div class="mdl-card mdl-shadow--4dp mdl-card--resizable">
    <div class="mdl-card__title mdl-card--expand mdl-color--pink-500 mdl-color-text--white single--justify-content-center">
        <h3 class="mdl-card__title-text single--margin-0px">Demande d’autorisation par SMS</h3>
    </div>
    <div class="mdl-card__supporting-text aplus-color-text--black">
        <h5 class="single--margin-0px single--font-size-14px single--text-transform-uppercase">
            Dans le cadre de l’état d’urgence sanitaire
        </h5>
    </div>
    <div class="mdl-card__supporting-text aplus-color-text--black">
        Téléphone portable de l’usager :
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--no-label">
            <input class="mdl-textfield__input mdl-color--white"
                   type="text"
                   name="mandat-sms-phone"
                   id="mandat-sms-phone"
                   placeholder="0612345678">
            <span class="mdl-textfield__error">
                Ce champ doit être un numéro français de 10 chiffres
            </span>
        </div>
    </div>
    <div class="mdl-card__actions single--padding-left-16px">
        <button id="mandat-sms-send-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
            Envoyer un SMS à l’usager
        </button>
    </div>
    <div class="mdl-card__supporting-text">
        <a class="mdl-navigation__link"
           href="https://docs.aplus.beta.gouv.fr/mandat/comment-creer-un-mandat-dans-le-contexte-de-confinement-lie-a-lepidemie-covid"
           target="_blank"
           rel="noopener noreferrer">
            pour plus d’information sur le mandat par SMS
            <i class="material-icons material-icons--small-postfix">open_in_new</i>
        </a>
    </div>
    <div id="mandat-sms-success" class="mdl-card__supporting-text aplus-color-text--black hidden">
        <div class="notification notification--success"><span>Le SMS a bien été envoyé ! Vous recevrez un e-mail dès que l’usager aura répondu. <a href="/" class="aplus-color-text--black" target="_blank" rel="noopener noreferrer">Vous pouvez suivre l’échange en cliquant sur ce lien.</a></span></div>
    </div>
    <div id="mandat-sms-validation-failed" class="mdl-card__supporting-text aplus-color-text--black hidden">
        <div class="notification notification--error"><span>Merci de renseigner ci-contre les informations concernant l’usager : Prénom, Nom de famille et Date de naissance.</span></div>
    </div>
    <div id="mandat-sms-error-server" class="mdl-card__supporting-text aplus-color-text--black hidden">
        <div class="notification notification--error"><span>Une erreur est survenue sur le serveur Administration+. Si l’erreur persiste vous pouvez contacter l’équipe A+ : <a href="mailto:@Constants.supportEmail">@Constants.supportEmail</a> (merci de fournir la date et l’heure à laquelle est survenue l’erreur).</span></div>
    </div>
    <div id="mandat-sms-error-browser" class="mdl-card__supporting-text aplus-color-text--black hidden">
        <div class="notification notification--error"><span>Une erreur est survenue dans votre navigateur. Si l’erreur persiste vous pouvez contacter l’équipe A+ : <a href="mailto:@Constants.supportEmail">@Constants.supportEmail</a></span></div>
    </div>
    <input type="hidden"
           name="linkedMandat"
           id="linkedMandat">
</div>
