@import _root_.helper.forms.MDLForms._
@(form: Form[_], mandatoryFields: List[String], isCreationForm: Boolean)

<div id="other-div">
    @if(isCreationForm) {
        <br>
        Ajouter une autre information (facultatif)
        <br>
        <br>
    }

    <div class="single--display-flex single--align-items-center single--flex-wrap-wrap">
        <select id="aplus-application-form-user-infos-types-select-id" class="single--margin-top-16px single--margin-bottom-16px single--margin-right-24px single--font-size-14px">
            <option disabled selected value="">Selectionnez une information à ajouter</option>
            @for(info <- (Application.optionalUserInfosKeys ::: List("Autre")).filter(!mandatoryFields.contains(_))) {
                <option value="@info">@info</option>
            }
        </select>

        <div class="mdl-textfield mdl-js-textfield invisible single--margin-right-24px">
            <label class="mdl-textfield__label" for="other-type">Saisissez le type d’information</label>
            <input class="mdl-textfield__input mdl-color--white aplus-application-form-user-infos-input" name="other-type" type="text" id="other-type">
        </div>

        <div class="mdl-textfield mdl-js-textfield invisible single--margin-right-24px">
            <label class="mdl-textfield__label" for="other-type-value">Saisissez l’information </label>
            <input class="mdl-textfield__input mdl-color--white aplus-application-form-user-infos-input" type="text" name="other-type-value" id="other-type-value">
        </div>

        <div id="add-infos__ok-button" class="invisible aplus-application-form-user-infos-add-button single--display-flex single--align-items-center">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" type="button" >
                <i class="material-icons">add_circle</i>
            </button>
            <span class="single--cursor-pointer single--text-decoration-underline single--margin-left-2px">Ajouter</span>
        </div>
    </div>
</div>
