@import _root_.helper.MDLForms._
@(form: Form[_], mandatoryFields: List[String], isCreationForm: Boolean)(implicit messagesProvider: MessagesProvider)

<div id="form__infos">
    @repeatMap(form("infos"), form, mandatoryFields) {  (infoField, info) =>

    <div>@info.capitalize @if(mandatoryFields.contains[String](info)) { <span class="mdl-color-text--red-500">*</span> } else { (facultatif) }
        <br>

        <div class="single--display-flex single--align-items-center single--flex-wrap-wrap">

            <div>
                @helper.input(infoField,
                              'label -> s"Saisir $info de l’usager ici",
                              'class -> "mdl-textfield--fix"
                ) { (id, name, value, args) =>
                <input class="mdl-textfield__input mdl-color--white"
                       type="text"
                       name="@name"
                       id="@id"
                       value="@value"
                       @toHtmlArgs(args)>
                }
            </div>

            @if(info == "Date de naissance") {
                <div class="mdl-tooltip__container">
                    <i id="birth-help"
                       class="icon material-icons"
                       aria-describedby="birth-help-description">help</i>
                    <span id="birth-help-description"
                          role="tooltip"
                          class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large"
                          for="birth-help"
                          aria-hidden="true">
                        Format recommandé : jj/mm/aaaa
                    </span>
                </div>
            }
        </div>
    </div>
    }

    @if(isCreationForm) {
        <h5 class="title--addline">Autres informations utiles pour traiter la demande&nbsp;<em class="mdl-typography--body-1">(facultatif)</em></h5>
    }
        <div id="other-div">
            @if(isCreationForm) {
                Ajouter une autre information (facultatif)<br><br>
            } else {
                <b>Ajouter une autre information :</b><br>
            }
            <select id="aplus-application-form-user-infos-types-select-id">
                <option disabled selected value="">Selectionnez une information à ajouter</option>
                @for(info <- List("Prénom", "Nom de famille", "Date de naissance", "Numéro de sécurité sociale", "Identifiant CAF", "Numéro de dossier", "Nom de Naissance", "Autre").filter(!mandatoryFields.contains(_))) {
                    <option value="@info">@info</option>
                }
            </select><br>
            <div class="mdl-textfield mdl-js-textfield invisible --margin-right-20px">
                <label class="mdl-textfield__label" for="other-type">Saisissez le type d’information</label>
                <input class="mdl-textfield__input mdl-color--white aplus-application-form-user-infos-input" name="other-type" type="text" id="other-type">
            </div>
            <div class="mdl-textfield mdl-js-textfield invisible --margin-right-20px">
                <label class="mdl-textfield__label" for="other-type-value">Saisissez l’information </label>
                <input class="mdl-textfield__input mdl-color--white aplus-application-form-user-infos-input" type="text" name="other-type-value" id="other-type-value">
            </div>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored invisible aplus-application-form-user-infos-add-button" type="button" id="add-infos__ok-button">
            <i class="material-icons">add_circle</i>
            </button>
        </div>

</div>
