@(application: Application, answer: Option[Answer] = None, group: UserGroup, users: List[User], url: String)

Bonjour l’équipe @group.name, <br>
<br>
Une nouvelle@if(answer.isEmpty){ demande } else { réponse }de la part de@if(answer.isEmpty){ @application.creatorUserName } else { @answer.get.creatorUserName }est disponible sur Administration+.<br>
<br>
Seules les personnes suivantes peuvent accéder à la@if(answer.isEmpty){ demande } else { réponse }:  <br><ul>@for(user <- application.invitedUsers(users).filter(_.groupIds.contains(group.id))) {
<li>@user.name @if(application.answers.exists(_.creatorUserID == user.id)){ ( intervient dans la demande ) } </li>  }
</ul>
<br>
Cliquez ici pour accéder à la@if(answer.isEmpty){ demande } else { réponse }: <br>
<a href="@url">@url</a><br>
<br>
Vous n’avez pas d’accès à Administration+ ?<br>
<a href="@routes.HomeController.contact">Contactez l’équipe A+</a>.<br>
<br>
Bonne journée,<br>
L’équipe Administration+<br>
