@(userEmail: String, tokenExpirationInMinutes: Int)

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body
    style="font-family: Verdana; background-color: #311B92; color: white; text-align: center; margin: 0px; padding: 0px;"
  >
    <div
      style="width: 100%; max-width: 600px; text-align: left; display: inline-block; font-size: 14px; margin-top: 12px"
    >
      <span
        >La direction interministérielle du numérique (DINUM) et l'agence nationale de la cohésion des territoires (ANCT, anciennement
        CGET) présentent
        :</span
      >
    </div>
    <h1
      style="margin-top: 49px; font-size: 24px; text-align: center; font-weight: bold"
    >
      Administration+
    </h1>
    <h2 style="font-size: 19px; font-weight: normal;">
      Le service qui permet de résoudre les blocages administratifs
    </h2>
    <div
      style="color: #37474F; max-width: 600px; background-color: white; text-align: left; display: inline-block; margin-bottom: 30px"
    >
      <div
        style="margin: 30px 16px; background-color: #fae0e8;
border: 1px solid #eaeaea; padding: 15px; font-size: 14px"
      >
        Administration+ a été retenue par le Premier ministre pour équiper en
        2020 l’ensemble des France Services. C’est la messagerie qui
        fera le lien entre les agents France Services et les référents
        opérateurs au coeur des administrations afin de régler les situations
        complexes rencontrées par les usagers.

        <div style="font-weight: bold; margin-top: 8px">
          Pour en savoir plus :
          <a href="https://beta.gouv.fr/startups/aplus.html"
            >https://beta.gouv.fr/startups/aplus.html</a
          >
        </div>
      </div>
      <div
        style="margin: 30px; margin-top: 0px; display: inline-block; font-size: 16px; line-height: 24px;"
      >
        Bonjour, <br />
        <br />
        Dans le cadre de la mise en place de France Services, nous vous avons
        ouvert un accès à la plateforme Administration+.

        <h3
          style="font-size: 28px; font-weight: normal; margin: 30px 0px 20px 0px;"
        >
          Comment vous connecter ?
        </h3>

        1. Rendez-vous sur
        <b
          ><a href="https://aplus.beta.gouv.fr"
            >https://aplus.beta.gouv.fr</a
          ></b
        >.<br />
        2. Deux options s’offrent à vous sur la page de connexion :
        <ul>
          <li><b>Créer un mot de passe</b> en suivant les instructions indiquées,</li>
          <li>ou <b>saisir votre adresse de messagerie professionnelle et nominative</b> (@userEmail) pour recevoir un e-mail de connexion.</li>
        </ul>
        3. Cliquez sur le lien contenu dans l'e-mail. Pas besoin de mot de passe
        ! Attention, ce lien n’est valable que @tokenExpirationInMinutes minutes.<br />
        4. Acceptez les conditions d’utilisations (CGU) lors de votre première
        connexion.<br />

        <h3
          style="font-size: 28px; font-weight: normal; margin: 30px 0px 20px 0px;"
        >
          Comment utiliser Administration+ ?
        </h3>

        Pour vous familiariser en toute autonomie avec l’outil, des vidéos (webinaires) sont à votre disposition dans le menu de gauche de la <a href="https://docs.aplus.beta.gouv.fr/guides-et-tutoriels/responsable-de-groupe/ajouter-un-utilisateur">documentation d’Administration+</a><br />
        <br />
        Lancez-vous sans attendre grâce à la vidéo "<a href="https://docs.aplus.beta.gouv.fr/videos#administration-demarrage-rapide">Administration+ : Démarrage rapide</a>" !<br />
        <br />
        
        <h3
          style="font-size: 28px; font-weight: normal; margin: 30px 0px 20px 0px;"
        >
          Comment inviter mes collègues sur Administration+ ?
        </h3>

        Tout membre Administration+ peut inviter un autre membre à rejoindre son groupe. Seul un responsable de groupe peut créer de nouveaux comptes Administration+ en suivant <a href="https://docs.aplus.beta.gouv.fr/tutoriels/ajouter-un-utilisateur">cette procédure simple</a>.<br />
        <br />
        Vous pouvez identifier votre (vos) responsable(s) à solliciter pour une création de compte via l'onglet "Mes groupes" dans le menu de gauche.<br />
        
        <h3
          style="font-size: 28px; font-weight: normal; margin: 30px 0px 20px 0px;"
        >
          Qui contacter en cas de besoin ?
        </h3>

        L’équipe Administration+ vous accompagne dans l’utilisation de cet
        outil.<br />
        <br />
        <span style="font-weight: bold; font-size: 18px"
          >Une question, un problème technique ?
          <br>
          <a href="@routes.HomeController.contact">Contactez l’équipe A+</a>
        <br /><br />
        Toute l’équipe est à votre disposition pour répondre à vos questions,
        alors n’hésitez pas !

        <h3
          style="font-size: 28px; font-weight: normal; margin: 30px 0px 20px 0px line-height:32px;"
        >
          Comment me tenir au courant des nouveautés ?
        </h3>

        Si vous le souhaitez vous recevrez régulièrement la newsletter
        d’Administration+ qui vous informera des dernières mises à jour et
        nouveautés du service.<br />
        <br />
        Bien cordialement,<br />
        L’équipe Administration+
        <br />
      </div>
    </div>
    <div
      style="width: 100%; max-width: 600px; text-align: center; display: inline-block; font-size: 13px; margin-top: 6px; margin-bottom:6px;"
    >
      Vous recevez cet e-mail car vous êtes un agent participant au dispositif
      Frances Services dont Administration+ est l'un des outils.
      <br /><br />
      L'ANCT (Agence nationale de la cohésion des territoires) et La DINUM
      (Direction interministérielle du numérique)
    </div>
  </body>
</html>
