@(user: User)

<pre style="white-space: pre-line;">
Bonjour et bienvenue sur Administration+, le service qui permet de résoudre les blocages administratifs complexes.

<i>Administration+ a été retenue en interministériel pour équiper en 2020 l'ensemble des Structures France Services.
C'est la messagerie qui fera le lien entre les agents France Services, et les référents opérateurs au coeur 
des administrations afin de régler les situations complexes rencontrées par les usagers.</i>

<b>Pour en savoir plus : <a href="https://beta.gouv.fr/startups/aplus.html">https://beta.gouv.fr/startups/aplus.html</a></b> 

En tant qu'utilisateur, nous vous avons ouvert un accès à la plateforme Administration+.

<b>Comment me connecter ?</b>

1. Rendez-vous sur <a href="https://aplus.beta.gouv.fr">https://aplus.beta.gouv.fr</a> .
2. Rentrez votre adresse de messagerie professionnelle (@user.email). Un e-mail va vous être envoyé.
3. Cliquez sur le lien contenu dans l'e-mail. Pas besoin de mot de passe !
    <b>Attention, ce lien n’est valable que 15 minutes.</b>

4. Acceptez les conditions d’utilisations (CGU) lors de votre première connexion.

<b>Comment utiliser Administration+ ?</b>

Des vidéos (webinaires) sont à votre disposition dans le menu de gauche. Elles vous permettront de vous familiariser avec l’outil, en toute autonomie.

L’équipe d’Administration+ anime également des formations en présentiel. Les modalités sont à décider avec votre organisation.

<b>Qui contacter en cas de besoin ?</b>

L’équipe Administration+ vous accompagne dans l’utilisation de cet outil.
Une question, un problème technique ? Contactez-nous :

* sur la Hotline (support) <b>01 84 80 88 12<b> ,du lundi au vendredi de 9h à 17h
* ou par mail sur <b><a href="mailto:@Constants.supportEmail">@Constants.supportEmail</a></b>

 Toute l’équipe est à votre disposition pour répondre à vos questions, alors n’hésitez pas !

 <b>Comment me tenir au courant des nouveautés ?</b>

 Si vous le souhaitez vous recevrez régulièrement la newsletter d’Administration+ qui vous informera des dernières mises à jour et nouveautés du service.

 Bien cordialement,
 L’équipe Administration+
</pre>
