@import models._
@import models.formModels.AddUserFormData
@import _root_.helper.MDLForms._

@(user: User, currentUserRights: Authorization.UserRights)(form: Form[(List[AddUserFormData])], min: Int, action: Call)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader, mainInfos: MainInfos)


@main(user, currentUserRights, maxWidth = false)(s"Gestion des utilisateurs") {
  <style>
          .smaller-textfield > .mdl-textfield {
              width: 130px;
          }
  </style>
}{
  <div class="mdl-cell mdl-cell--12-col single--overflow-auto">
  @helper.form(action = action) {
    @helper.CSRF.formField
    @if(form.hasGlobalErrors) {
      <div style="color: red; font-weight: bold;">@form.globalErrors.flatMap(_.messages).mkString(", ")</div>
    }
      <em>Attribuer le rôle d’instructeur à : </em><a href="#" class="onclick-check-all" data-selector=".instructor">Tous</a> / <a href="#" class="onclick-uncheck-all" data-selector=".instructor">Aucuns</a>

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="white-space: normal;">
      <thead>
        <tr>
          <th></th>
          <th class="mdl-data-table__cell--non-numeric">Nom et prénom</th>
          <th class="mdl-data-table__cell--non-numeric">Qualité</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th class="mdl-data-table__cell--non-numeric">Téléphone</th>
          <th class="mdl-data-table__cell--non-numeric">Instructeur</th>
          <th class="mdl-data-table__cell--non-numeric">Responsable</th>
          <th class="mdl-data-table__cell--non-numeric">Compte Partagé</th>
        </tr>
      </thead>
      <tbody>
      @helper.repeatWithIndex(form("users"), min = min) { (userField, index) =>
        <tr id="line_@index">
          <td>@index
          </td>
          <td class="mdl-data-table__cell--non-numeric smaller-textfield">
            @helper.input(userField("name"), "label" -> "Nom et prénom") { (id, name, value, args) =>
              <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td class="mdl-data-table__cell--non-numeric smaller-textfield">
            @helper.input(userField("qualite"), "label" -> "Qualité") { (id, name, value, args) =>
              <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td class="mdl-data-table__cell--non-numeric smaller-textfield">
            @helper.input(userField("email"), "label" -> "Email") { (id, name, value, args) =>
              <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td class="mdl-data-table__cell--non-numeric smaller-textfield">
            @helper.input(userField("phoneNumber"), "label" -> "Téléphone") { (id, name, value, args) =>
                <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td>
            @helper.checkbox(userField("instructor"), "type" -> "checkbox", "label" -> "Instructeur", "class" -> "mdl-checkbox__input instructor")
          </td>
          <td>
          @helper.checkbox(userField("groupAdmin"), "type" -> "checkbox", "label" -> "Responsable", "class" -> "mdl-checkbox__input")
          </td>
          <td>
          @helper.checkbox(userField("sharedAccount"), "type" -> "checkbox", "label" -> "Compte Partagé", "class" -> "mdl-checkbox__input")
          </td>
        <td>
            <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab onclick-delete-element" data-selector="#line_@index"><i class="material-icons">delete_forever</i></button>
        </td>
        </tr>
      }
      </tbody>
    </table>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell">
      Sauvegarder les modifications
    </button>
  }
  </div>
}{
}
