@import models._
@import java.util.UUID
@(user: User, currentUserRights: Authorization.UserRights)(areas: List[Area], userGroups: List[UserGroup])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)


@main(user, currentUserRights)(s"Gestion des territoires"){

}{
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        @for(area <- Area.all.filter(area => user.areas.contains[UUID](area.id))) {
        <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="white-space: normal;">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                        @area.name
                        @if(user.admin) { /
                            @area.id /
                            @if(mainInfos.config.areasWithLoginByKey.contains[UUID](area.id)) {
                                <i class="material-icons">warning</i> Login par clé possible<i class="material-icons">warning</i> /
                            }
                            <a href="@routes.ApplicationController.applicationsAdmin?areaId=@area.id" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                                Voir les demandes
                            </a> /
                            <a href="@routes.UserController.all(area.id)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                                Voir les utilisateurs
                            </a>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(userGroup <- userGroups.filter(_.areaIds.contains[UUID](area.id)).sortBy(_.name)) {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            @if(user.admin){
                                <a href="@routes.GroupController.editGroup(userGroup.id)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                    <i class="material-icons" style="vertical-align: middle;">edit</i>
                                </a>
                            } Groupe : @userGroup.name @userGroup.organisation match {
                            case Some(organisation) => { ( @organisation.name ) }
                            case None => {}
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
}{
}
