@(user: User)(applications: Seq[Application])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)
@import java.util.Locale

@main(user)(s"Toutes les demande")  {
<style>
    .pem-table {
        width: 100%;
    }
    td {
        cursor: pointer;
    }
</style>
}{
<div class="mdl-cell mdl-cell--12-col pem-container">
    <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp" style="white-space: normal;">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Date de la demande</th>
            <th class="mdl-data-table__cell--non-numeric">Sujet</th>
            <th class="mdl-data-table__cell--non-numeric">Avancement</th>
        </tr>
        </thead>
        <tbody>
        @for((application) <- applications) {
            <tr onclick="window.document.location='@routes.ApplicationController.show(application.id)';">
            <td class="mdl-data-table__cell--non-numeric">@application.creationDate.toString("dd MMM YYYY", new Locale("fr"))</td>
            <td class="mdl-data-table__cell--non-numeric">@application.subject</td>
            <td class="mdl-data-table__cell--non-numeric">@application.status</td>
            </tr>
        }
        </tbody>
    </table>
</div>
}