@(user: User, area: Area)(applicationsCreatedByMe: Seq[Application], applicationsIGotInvited: Seq[Application], applicationsFromTheArea: Seq[Application] = List())(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)
@import java.util.Locale

@main(user, area)(s"Toutes les demandes")  {
<style>
    .pem-table {
        width: 100%;
    }
    td {
        cursor: pointer;
    }
</style>
}{
    @if(applicationsCreatedByMe.isEmpty && applicationsIGotInvited.isEmpty) {
        <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
            <p>Vous n'avez pas de demande en cours.
            @if(user.helper) {
                Vous pouvez en créer une nouvelle en cliquant ici : <a href="@routes.ApplicationController.create()">Créer une nouvelle demande</a>
            }
            </p>
        </div>

    } else {
        @if(applicationsCreatedByMe.nonEmpty) {
            <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Les demandes que j'ai créées</h4>
                <div class="mdl-cell mdl-cell--12-col pem-container">
                    <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp" style="white-space: normal;">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Date</th>
                                <th class="mdl-data-table__cell--non-numeric">Sujet</th>
                                <th class="mdl-data-table__cell--non-numeric">Avancement</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for((application) <- applicationsCreatedByMe) {
                            <tr onclick="window.document.location = '@routes.ApplicationController.show(application.id)';">
                                <td class="mdl-data-table__cell--non-numeric">@application.creationDate.toString("dd MMM YYYY - HH:mm", new Locale("fr"))</td>
                                <td class="mdl-data-table__cell--non-numeric">@application.subject</td>
                                <td class="mdl-data-table__cell--non-numeric">@application.status</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if(applicationsIGotInvited.nonEmpty) {
            <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Demandes sur lesquelles j'ai été invité</h4>
                <div class="mdl-cell mdl-cell--12-col pem-container">
                    <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp" style="white-space: normal;">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Date</th>
                                <th class="mdl-data-table__cell--non-numeric">Sujet</th>
                                <th class="mdl-data-table__cell--non-numeric">Avancement</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for((application) <- applicationsIGotInvited) {
                            <tr onclick="window.document.location = '@routes.ApplicationController.show(application.id)';">
                                <td class="mdl-data-table__cell--non-numeric">@application.creationDate.toString("dd MMM YYYY - HH:mm", new Locale("fr"))</td>
                                <td class="mdl-data-table__cell--non-numeric">@application.subject</td>
                                <td class="mdl-data-table__cell--non-numeric">@application.status</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    @if(applicationsFromTheArea.nonEmpty && user.admin) {
        <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Toutes les demandes du territoire: @area.name</h4>
            <div class="mdl-cell mdl-cell--12-col pem-container">
                <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp" style="white-space: normal;">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Date</th>
                            <th class="mdl-data-table__cell--non-numeric">Sujet</th>
                            <th class="mdl-data-table__cell--non-numeric">Avancement</th>
                            <th class="mdl-data-table__cell--non-numeric">Créateur</th>
                            <th class="mdl-data-table__cell--non-numeric">Total invités</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((application) <- applicationsFromTheArea) {
                        <tr onclick="window.document.location='@routes.ApplicationController.show(application.id)';">
                            <td class="mdl-data-table__cell--non-numeric">@application.creationDate.toString("dd MMM YYYY - HH:mm", new Locale("fr"))</td>
                            <td class="mdl-data-table__cell--non-numeric">@application.subject</td>
                            <td class="mdl-data-table__cell--non-numeric">@application.status</td>
                            <td class="mdl-data-table__cell--non-numeric">@application.creatorUserName</td>
                            <td class="mdl-data-table__cell--non-numeric">@application.invitedUsers.size</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
