@import models._
@import cats.implicits.catsSyntaxEq

@(currentUser: User, currentUserRights: Authorization.UserRights)(selectedArea: Area)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)


@main(currentUser, currentUserRights, maxWidth = false)(s"Gestion des groupes utilisateurs - ${selectedArea.name}") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
    <style>
            .row--disabled {
                background-color: grey !important;
                text-decoration: line-through;
            }
    </style>
}{
    @if(currentUser.admin) {
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" href="@routes.UserController.all(selectedArea.id)?vue=classique">Vue utilisateurs classique</a>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" href="@routes.SignupController.signupRequests">Préinscription Aidants</a>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" href="@routes.CSVImportController.importUsersFromCSV">Importer utilisateurs</a>
    }
    @if(currentUser.areas.length > 1) {
        <p class="mdl-cell mdl-cell--12-col">Territoire :
          <select id="changeAreaSelect"
                  name="area-selector"
                  data-current-area="@{selectedArea.id}">
            @for(area <- (Area.allArea :: currentUser.areas.flatMap(Area.fromId))) {
              <option value="@area.id"
                      data-redirect-url="@{routes.UserController.all(area.id).url + "?vue=nouvelle"}"
                      @if(area.id === selectedArea.id) { selected }>
                @if(area.id === Area.allArea.id) { tous les territoires } else { @area }
              </option>
              }
          </select>
        </p>
    }

    <div id="current-area-value" data-area-id="@selectedArea.id"></div>
    <div class="mdl-cell mdl-cell--12-col" id="tabulator-users-table"></div>

    @if(currentUser.admin) {
      @toHtml(views.addGroup.innerForm(currentUser, selectedArea))
    }

}{
}
