@import cats.implicits.catsSyntaxEq
@import models._
@(currentUser: User, currentUserRights: Authorization.UserRights)(userGroups: List[UserGroup], allUsers: List[User], applications: List[Application], selectedArea: Area)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)

@display(users: Seq[User], id: Option[String] = None)(header: Html)(footer: Html) = {
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white" style="padding: 24px;" @if(id.isDefined){ id="@id.get" } >
        <div>
            <div style="font-size: 20px; color: black;" >
                @header
            </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table" style="border: none; border-spacing: 0px; border-collapse: unset; white-space: normal;">
        @for(user <- users) {
            <tr class="searchable-row td--clear-border">
              @if(currentUser.admin) {
                  <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--content-size" style="width: 20px"><a href="@routes.UserController.editUser(user.id)" target="_blank"  class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">edit</i>
                  </a></td>
              }
              <td class="mdl-data-table__cell--non-numeric @if(user.disabled){ text--strikethrough }"><span class="application__name">@user.name</span><i></i>
                <br><span class="application__subject">@user.qualite</span></td>
              <td class="mdl-data-table__cell--non-numeric @if(user.disabled){ text--strikethrough }">@user.email<br>

              </td>
              <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--content-size">
                @user.disabledRoleName.map { role =>
                  <span class="tag tag--disabled">@role</span>
                }
                @user.groupAdminRoleName.map { role =>
                  <span class="tag tag--responsable">@role</span>
                }
                @user.adminRoleName.map { role =>
                  <span class="tag tag--admin">@role</span>
                }
              </td>
              <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--content-size">
                @user.instructorRoleName.map { role =>
                  <span class="tag tag--instructor">@role</span>
                }
              </td>

              <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--content-size">
                <div id="answers-90500d58-4345-4538-a1d7-ff80e87b5398" class="vertical-align--middle">
                  <i class="material-icons icon--light">chat_bubble</i>
                  <span class="application__anwsers">@applications.count(_.creatorUserId == user.id) demandes</span><br>
                  <i class="material-icons icon--light">question_answer</i>
                  <span class="application__anwsers">@applications.count(_.invitedUsers.contains(user.id)) sollicitations</span>
                </div>
              </td>
              <td class="mdl-data-table__cell--non-numeric search-cell mdl-data-table__cell--content-size"></td>
            </tr>
        }
        </table>
        <div style="margin-top: 24px; margin-bottom: -24px;">
            <div>
                @footer
            </div>
        </div>
    </div>
}


@main(currentUser, currentUserRights)(s"Gestion des groupes utilisateurs - ${selectedArea.name}") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
}{

  @if(currentUser.admin) {
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" href="@routes.UserController.all(selectedArea.id)?vue=nouvelle">Nouvelle vue utilisateurs</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" href="@routes.SignupController.signupRequests">Préinscription Aidants</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" href="@routes.CSVImportController.importUsersFromCSV">Importer utilisateurs</a>
  }
  @if(currentUser.areas.length > 1) {
    <p class="mdl-cell mdl-cell--12-col">Territoire :
      <select id="changeAreaSelect"
              name="area-selector"
              data-current-area="@{selectedArea.id}">
        @for(area <- (Area.allArea :: currentUser.areas.flatMap(Area.fromId))) {
          <option value="@area.id"
                  data-redirect-url="@{routes.UserController.all(area.id).url + "?vue=classique"}"
                  @if(area.id === selectedArea.id) { selected }>
            @if(area.id === Area.allArea.id) { tous les territoires } else { @area }
          </option>
          }
      </select>
    </p>
  }
      @for(userGroup <- userGroups.sortBy(_.name)) {
        @defining(allUsers.filter(_.groupIds.contains(userGroup.id))){ groupUsers =>
          @display(groupUsers.filter(_.groupIds.length == 1), Some(s"group-${userGroup.id}")){
            @if(currentUser.admin) {
              <a href="@routes.GroupController.editGroup(userGroup.id)" target="_blank" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">edit</i>
              </a>
            }
            @userGroup.areaIds.flatMap(Area.fromId).map(_.name).sorted.mkString(", ") /
            <b>@userGroup.name</b> / @(userGroup.organisation, Organisation.deductedFromName(userGroup.name)) match {
              case (Some(organisation), _) => {
                @organisation.shortName / }
              case (_, Some(organisation)) => { @organisation.shortName / }
              case _ => {}
            } INSEE : @userGroup.inseeCode  <br>
            <span class="text--font-size-medium">@userGroup.description</span>
          }{
            @if(groupUsers.exists(_.groupIds.length != 1)) {
              Et utilisateurs multigroupes :
              @for(user <- groupUsers.filter(_.groupIds.length != 1)) {
                <a href="@routes.UserController.editUser(user.id)" target="_blank" >@user.name (@user.qualite)</a> /
              } <hr>
            }
            @if(Authorization.canEditGroup(userGroup)(currentUserRights)) {
              @helper.form(routes.UserController.add(userGroup.id), "method" -> "get") {
                @helper.CSRF.formField
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: unset; margin-right: 24px;">
                  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="rows" name="rows" value="1">
                  <label class="mdl-textfield__label" for="rows">Nombre de comptes à créer</label>
                  <span class="mdl-textfield__error">Ce n’est pas un nombre</span>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                  Créer de nouveaux comptes dans ce groupe
                </button>
              }
            }
          }
        }
      }
      @if(currentUser.admin) {
        @defining(allUsers.filter(_.groupIds.isEmpty)) { users =>
          @display(users) {
              Sans groupe (@users.length utilisateurs)
          }  { }
        }
        @defining(allUsers.filter(_.areas.isEmpty)) { users =>
          @display(users) {
            Sans territoire (@users.length utilisateurs)
          }  { }
        }
      }
    @if(currentUser.admin) {
      @toHtml(views.addGroup.innerForm(currentUser, selectedArea))
    }
}{
}
