@import models._
@(user: User, area: Area)(users: List[User])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)

@main(user, area)(s"Gestion des utilisateurs ${area.name}") {
  <style>
          .pem-table {
            width: 100%;
          }
  </style>
  <script>
          function sendLoginMail(sender, email) {
            var request = new XMLHttpRequest();
            var parent = sender.parentNode;
            parent.innerHTML = "<span style='font-weight: bold;'>En cours</span> <img src='@routes.Assets.versioned("images/spin.gif")'>";
            request.open('POST', '@routes.LoginController.login()', true);
            request.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
            request.onload = function() {
              if (request.status === 200) {
                parent.innerHTML = "<span style='color: green; font-weight: bold;'>Ok !</span>";
              } else {
                parent.innerHTML = "<span style='color: red; font-weight: bold;'>Erreur !</span>";
              }
            };
            request.onerror = function() {
              parent.innerHTML = "<span style='color: red; font-weight: bold;'>Erreur !</span>";
            };
            request.send("email="+email);
          }
  </script>
} {
  <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
    <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp pem-table mdl-cell mdl-cell--12-col" style="white-space: normal;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Nom</th>
          <th class="mdl-data-table__cell--non-numeric">Administration/Qualité</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th class="mdl-data-table__cell--non-numeric">Admin</th>
          <th class="mdl-data-table__cell--non-numeric">Agent A+</th>
          <th class="mdl-data-table__cell--non-numeric">Aidant A+</th>
          <th class="mdl-data-table__cell--non-numeric">Charte A+</th>
          <th class="mdl-data-table__cell--non-numeric">Territoires</th>
          <th class="mdl-data-table__cell--non-numeric">Email de login</th>
        </tr>
      </thead>
      <tbody>
      @for((user, index) <- users.zipWithIndex) {
        <tr>
          <td class="mdl-data-table__cell--non-numeric">@user.name</td>
          <td class="mdl-data-table__cell--non-numeric">@user.qualite</td>
          <td class="mdl-data-table__cell--non-numeric">@user.email</td>
          <td class="mdl-data-table__cell--non-numeric">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
              <input type="checkbox" class="mdl-checkbox__input" @if(user.admin){ checked } disabled>
              <span class="mdl-checkbox__label">Admin</span>
            </label>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
              <input type="checkbox" class="mdl-checkbox__input" @if(user.instructor){ checked } disabled>
              <span class="mdl-checkbox__label">Agent</span>
            </label>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
              <input type="checkbox" class="mdl-checkbox__input" @if(user.helper){ checked } disabled>
              <span class="mdl-checkbox__label">Aidant</span>
            </label>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
              <input type="checkbox" class="mdl-checkbox__input" @if(user.hasAcceptedCharte){ checked } disabled>
              <span class="mdl-checkbox__label">Charte</span>
            </label>
          </td>
        <td class="mdl-data-table__cell--non-numeric">@user.areas.flatMap(area => Area.all.find(_.id == area).map(_.name)).mkString(", ")</td>

          <td class="mdl-data-table__cell--non-numeric">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="sendLoginMail(this,'@user.email');">Envoyer email</button>
          </td>
        </tr>
        @if(index % 10 == 9) {
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Nom</th>
            <th class="mdl-data-table__cell--non-numeric">Administration/Qualité</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
            <th class="mdl-data-table__cell--non-numeric">Admin</th>
            <th class="mdl-data-table__cell--non-numeric">Agent A+</th>
            <th class="mdl-data-table__cell--non-numeric">Aidant A+</th>
            <th class="mdl-data-table__cell--non-numeric">Charte A+</th>
            <th class="mdl-data-table__cell--non-numeric">Territoires</th>
            <th class="mdl-data-table__cell--non-numeric">Email de login</th>
          </tr>
        }
      }
      </tbody>
    </table>
    @helper.form(routes.UserController.add(), 'method -> "get", 'class -> "mdl-cell mdl-cell--12-col mdl-grid") {
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="rows" name="rows" value="1">
        <label class="mdl-textfield__label" for="rows">Nombre d'utilisateur à ajouter</label>
        <span class="mdl-textfield__error">Ce n'est pas un nombre</span>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--6-col" type="submit">
        Ajouter des utilisateurs
      </button>
    }
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--6-col mdl-cell--12-col-phone" onclick="document.location='@routes.UserController.edit()'">
    Modifier les utilisateurs
    </button>

  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h4>Admin</h4>
    <ul>
      <li>Peut ajouter et supprimer des utilisateurs</li>
      <li>Peut changer les permissions des utilisateurs</li>
      <li>Peut voir les adresses emails des agents</li>
    </ul>
  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h4>Agent A+</h4>
    <ul>
      <li>Peut répondre à la demande</li>
      <li>Peut inviter des personnes à la demande</li>
      <li>Reçoit une notification par email à chaque nouvelle demande sur lequel il est invité</li>
      <li>Peut voir l'ensemble des messages sur lequel il est invité</li>
    </ul>
  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h4>Aidant A+</h4>
    <ul>
      <li>Peut déposer une demande</li>
      <li>Peut inviter un instructeur sur une demande</li>
      <li>Peut voir uniquement les messages de réponse à la demande</li>
    </ul>
  </div>
}