@import _root_.helper.MDLForms._
@import models.Organisation.Category
@import play.api.libs.json.Json
@import serializers.{DataModel, Keys}

@(currentUser: User, currentUserRights: Authorization.UserRights, currentArea: Area)(instructorsOfGroups: List[User], organisationGroups: List[UserGroup], coworkers: List[User], userSignature: Option[String], canCreatePhoneMandat: Boolean, featureMandatSms: Boolean, featureCanSendApplicationsAnywhere: Boolean, categories: List[Category], applicationForm: Form[models.formModels.ApplicationFormData], attachments: Iterable[String] = Nil)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, messagesProvider: MessagesProvider)

@main(currentUser, currentUserRights)(s"Nouvelle demande")  {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
    <style>
    .mdl-data-table td {
        padding: 0px 18px;
    }
    </style>
}{
        <div class="mdl-cell mdl-cell--12-col">
            <div style="margin-bottom: 20px"><a href="@routes.ApplicationController.myApplications()">Mes demandes</a> <span style="margin: 0 10px 0 10px"> > </span> Nouvelle Demande</div>
      
            <div class="mdl-grid mdl-grid--no-spacing">
                @if(applicationForm.hasErrors) {
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="notification notification--error">
                            Merci de renseigner les champs obligatoires et d’envoyer à nouveau votre demande.
                        </div>
                    </div>
                }
                <h4 class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">Nouvelle demande</h4>
            </div>
            <div>
                Les champs marqués d’un <span class="mdl-color-text--red-500">*</span> sont obligatoires
            </div>

            @if(featureCanSendApplicationsAnywhere) {
              <h5 class="title--addline">Territoire concerné</h5>
              <div>
                @helpers.changeAreaSelect(currentArea, Area.all, routes.ApplicationController.create())
                <em>(Le changement de territoire est une fonctionalité expérimentale)</em>
              </div>
            } else if (currentUser.areas.nonEmpty) {
              <h5 class="title--addline">Territoire concerné</h5>
              <div>
                @helpers.changeAreaSelect(currentArea, currentUser.areas.flatMap(Area.fromId), routes.ApplicationController.create())
              </div>
            }

            @helper.form(action = routes.ApplicationController.createPost(), "enctype" -> "multipart/form-data", "id" -> "create-application-form", "class" -> "aplus-protected-form") {
                @helper.CSRF.formField
                    <input type="hidden" name="application-id" readonly value="@applicationForm("application-id").value.getOrElse(java.util.UUID.randomUUID)">

                    <input type="hidden" name="@{Keys.Application.areaId}" readonly value="@{currentArea.id}">

                        <h5 class="title--addline">
                            Sélectionnez les organismes concernés sur la zone @currentArea.name <span class="mdl-color-text--red-500">*</span>
                        </h5>


                        <div class="single--display-flex single--align-items-center single--flex-wrap-wrap single--margin-bottom-16px">
                            <div class="single--margin-right-16px single--white-space-nowrap">FILTRER PAR :</div>
                            <div class="aplus-application-form-remove-category-filter-button
                                        single--cursor-pointer
                                        single--white-space-nowrap
                                        mdl-color-text--black
                                        single--text-decoration-underline
                                        single--margin-right-16px">
                                Tout afficher
                            </div>
                            @for(category <- categories) {
                                <button type="button"
                                        class="mdl-chip aplus-application-form-category-filter-button single--margin-4px single--cursor-pointer"
                                        data-organisations="@Json.stringify(Json.toJson(category.defaultOrganisations.map(_.shortName)))">
                                    <span class="mdl-chip__text">@category.name</span>
                                </button>
                            }
                        </div>

                    <div class="mdl-grid mdl-grid--no-spacing" style="background-color: white;">
                        @if(applicationForm("users").hasErrors) {
                            <p style="color: red; font-weight: bold;">@applicationForm("users").errors.map(_.format).mkString(", ")</p>
                        }
                        
                        <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col" id="users">
                        @for(organisationGroup <- organisationGroups.sortBy(_.name)) {
                            @defining(organisationGroup.organisationSetOrDeducted) { organisation: Option[Organisation] =>
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric" colspan="2">
                                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                                                <input type="checkbox" class="mdl-checkbox__input aplus-application-form-group" value="@organisationGroup.name" name="organismes[]" @if(applicationForm.data.find({case (k, v) => k.startsWith("organismes[") && v == organisationGroup.name})){ checked="checked" }>
                                                <span class="mdl-checkbox__label aplus-color-text--black mdl-typography--font-regular" ><b>@organisationGroup.name</b> @if(organisation.nonEmpty){ <em>(@organisation.get.name)</em> }</span>
                                                <span id="span-group-description">@organisationGroup.description</span>
                                            </label></th>
                                    </tr>
                                </thead>
                                <tbody class="organisation-row @if(!applicationForm.data.find({case (k, v) => k.startsWith("organismes[") && v == organisationGroup.name})){ invisible }">
                                    @if(organisation.map(_.shortName).contains("CAF")) {
                                        <tr><td colspan="2" style="text-align: left; white-space: normal">
                                            <div class="info-box info-box--no-spacing">La CAF aura besoin du <b>numéro identifiant CAF</b> et à défaut de la date de naissance. Vous pouvez le renseigner dans <b>Informations concernant l'usager</b> ci-dessous.</div>
                                        </td></tr>
                                    } else if(organisation.map(_.shortName).contains("CPAM")) {
                                    <tr><td colspan="2" style="text-align: left; white-space: normal">
                                        <div class="info-box info-box--no-spacing">La CPAM aura besoin du <b>numéro de sécurité sociale</b> et à défaut de la date de naissance. Vous pouvez le renseigner dans <b>Informations concernant l'usager</b> ci-dessous.</div>
                                    </td></tr>
                                    }

                                    @for(instructor <- instructorsOfGroups.filter(_.groupIds.contains(organisationGroup.id))) {
                                        <tr class="invisible" >
                                            <td style="width: 95px">
                                                <i class="material-icons" style="vertical-align: middle;">chevron_right</i>
                                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                                                    <input type="checkbox" class="mdl-checkbox__input" name="users[]" value="@instructor.id" @if(applicationForm.data.find({case (k, v) => k.startsWith("users[") && v == instructor.id.toString})){ checked="checked" }>
                                                </label>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric">@instructor.name</td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        }
                        </table>
                    </div>
                    <br>
                    <h5 class="title--addline">
                        Sujet de la demande
                    </h5>

                    Résumer la nature du problème rencontré <span class="mdl-color-text--red-500">*</span>

                    <div class="single--display-flex single--align-items-center single--flex-wrap-wrap">
                        <div>
                    @helper.input(applicationForm("subject"),
                                  "label" -> "Saisir le sujet de votre demande...",
                                  "class" -> "mdl-textfield--large mdl-textfield--large-fix"
                    ) { (id, name, value, args) =>
                    <input class="mdl-textfield__input"
                           type="text"
                           name="@name"
                           id="@id"
                           value="@value"
                           @toHtmlArgs(args)>
                    }
                        </div>
                        <div class="mdl-tooltip__container">
                            <i id="subject-help"
                               class="icon material-icons"
                               aria-describedby="subject-help-description">help</i>
                            <span id="subject-help-description"
                                  role="tooltip"
                                  class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large"
                                  for="subject-help"
                                  aria-hidden="true">
                                Ce résumé ne doit pas comporter de données personnelles
                            </span>
                        </div>
                    </div>

                    <h5 class="title--addline">Informations concernant l'usager</h5>
                    @helpers.usersInformations(applicationForm, List("Prénom", "Nom de famille", "Date de naissance"), true, featureMandatSms)
                    <br>
                    <br>
                    <h5 class="title--addline">
                        Description du problème <span class="mdl-color-text--red-500">*</span>
                    </h5>

                    <div>
                        @helper.input(applicationForm("description"), "class" -> "mdl-textfield--floating-label mdl-textfield--large", "label" -> "Rédigez une description rapide du problème ...") { (id, name, value, args) =>
                            <textarea class="mdl-textfield__input textfield__input--no-height-constraint" type="text" rows= "5" name="@name" id="@id" @toHtmlArgs(args)>@value</textarea>
                        }<br>

                        @if(currentUser.sharedAccount) {
                            Signature :<br>
                            @helper.input(
                                applicationForm("signature"),
                                "label" -> "Renseignez ici votre : Prénom, NOM, service",
                                "class" -> "mdl-textfield--large"
                            ) { (id, name, value, args) =>
                                <input class="mdl-textfield__input"
                                       type="text"
                                       name="@name"
                                       id="@id"
                                       @if(currentUser.sharedAccount && value.isEmpty) {
                                           value="@{userSignature.getOrElse(value)}"
                                       } else {
                                           value="@value"
                                       }
                                       @toHtmlArgs(args)>
                            }<br>
                        }

                        @if(applicationForm("file").hasErrors) {
                            <span style="color: red; font-weight: bold;">@applicationForm("file").errors.map(_.format).mkString(", ")</span><br>
                        }
                        Ajouter un ou plusieurs fichiers ( 5Mo maximum au total ) :
                        <ul>
                            @for((attachment,index) <- attachments.zipWithIndex) {
                                <li>@attachment</li>
                            }
                        </ul>
                        <ul id="attachment-list">
                            <li><input type="file" name="file[0]"></li>
                        </ul>
                    </div>  <br>


                    @if(coworkers.nonEmpty) {
                      <h5 class="title--addline">Ajouter des collègues à la demande</h5>
                      <table>
                      @for(coworker <- coworkers) {
                        <tr>
                          <td>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                              <input type="checkbox" class="mdl-checkbox__input" name="users[]" value="@coworker.id" @if(applicationForm.data.find({case (k, v) => k.startsWith("users[") && v == coworker.id.toString})){ checked="checked" }>
                            </label>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">@coworker.name</td>
                        </tr>
                      }
                      </table>
                      <br>
                    }

                    <h5 class="title--addline">
                        Autorisation de l’usager <span class="mdl-color-text--red-500">*</span>
                    </h5>

                    <div class="single--align-items-center mdl-grid mdl-grid--no-spacing">

                        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet single--margin-top-30px single--margin-bottom-40px">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-mandat">
                            <input type="checkbox" id="checkbox-mandat" name="validate" class="mdl-checkbox__input" value="true">
                            <span class="mdl-checkbox__label single--font-size-14px">J’atteste avoir recueilli l’autorisation de l’usager <span class="mdl-color-text--red-500">*</span> :</span>
                            </label>


                            @helper.input(
                                applicationForm("mandatType"),
                                "class" -> "single--width-100pc single--padding-top-8px single--padding-bottom-8px",
                                Symbol("_error") -> applicationForm("mandatType").error.map(_.withMessage("Veuillez sélectionner un type de mandat"))
                            ) { (id, name, value, args) =>

                            @defining((
                                if (canCreatePhoneMandat) List(
                                    Application.MandatType.Sms -> "par sms",
                                    Application.MandatType.Phone -> "par téléphone (à l’oral)",
                                    Application.MandatType.Paper -> "par mandat signé"
                                ) else List(
                                    Application.MandatType.Sms -> "par sms",
                                    Application.MandatType.Paper -> "par mandat signé"
                                )
                            ).map(option => (DataModel.Application.MandatType.dataModelSerialization(option._1), option._2))) { options =>
                                @options.map { case (optionValue, optionLabel) =>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect single--margin-right-20px single--font-size-14px"
                                       for="@(id)_@optionValue">
                                    <input type="radio"
                                           id="@(id)_@optionValue"
                                           class="mdl-radio__button"
                                           name="@name"
                                           value="@optionValue"
                                           @if(value == Some(optionValue)){checked="checked"}
                                           @toHtmlArgs(args)/>
                                    <span class="mdl-radio__label">@optionLabel</span>
                                </label>
                                }
                                }

                            }

                                <br>
                      Date et heure <span class="mdl-color-text--red-500">*</span> :
                                <br>

                    @helper.input(applicationForm("mandatDate"),
                                  "class" -> " single--padding-top-8px") { (id, name, value, args) =>
                    <input class="mdl-textfield__input"
                           type="text"
                           name="@name"
                           id="@id"
                           value="@value"
                           @toHtmlArgs(args)>
                    }
                    <br>

                    @* Use a <input type="submit"> because there is another <button> *@
                        <input type="submit"
                               id="review-validation"
                               class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                               value="Envoyer ma demande"
                               disabled>
                        <br>
                        <br>
                        </div>

                        @if(featureMandatSms) {
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                                @helpers.smsMandatAjaxForm()
                            </div>
                        } else {
                        <div class="covid19-help">
                            <div class="single--margin-bottom-8px"><b>COVID19</b></div>
                            Dans le contexte de confinement actuel,
                            <a @if(canCreatePhoneMandat) {
                                href="https://docs.aplus.beta.gouv.fr/mandat/experimentation-calvados-creer-un-mandat-a-distance-dans-le-contexte-de-confinement"
                               } else {
                                href="https://docs.aplus.beta.gouv.fr/mandat/comment-creer-un-mandat-dans-le-contexte-de-confinement-lie-a-lepidemie-covid"
                               }
                               class="mdl-color-text--pink-A400"
                               target="_blank"
                               rel="noopener noreferrer">
                                retrouvez ici la procédure à respecter pour recueillir
                                l’autorisation de l’usager
                                @if(canCreatePhoneMandat) {
                                    par sms ou téléphone
                                } else {
                                    par sms
                                }
                                <i class="material-icons material-icons--small-postfix">open_in_new</i>
                            </a>
                        </div>
                        }
                    </div>
            }
        </div>
}{
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/application-attachment.js")"></script>
}
