@(currentUser: User)(data: List[(Area, List[(Set[Organisation],Int)], Int)])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader)

@main(currentUser, maxWidth = false)(s"Tableau de suivie déploiement") {
    @webJarsUtil.locate("tabulator.min.css").css()
    @webJarsUtil.locate("tabulator.min.js").script()
}{
    <h5 class="title--addline">Nombre d'agents instructeurs par organisation</h5>
    <i>Les agents sont comptés double s'ils sont dans plusieurs départements. Les organisations manquantes ne sont pas affichées. Certains agents ne sont pas détecté comme faisant partie d'un organisation (Vous devez corriger le groupe dans ce cas)</i>
    <div id="table" class="mdl-cell mdl-cell--12-col"></div>

    <script>
       var tableData = [
           @for((area: Area, usersSumPerOrganisation: List[(Set[Organisation], Int)], total) <- data) {
                { area: "@area",
                    @for((organisations, userSum) <- usersSumPerOrganisation)  {
                        @{organisations.map(_.key).mkString} : @userSum,
                    }
                  total: "@total"
                },
           }
       ]

       var columns = [
           {title: "Département", field: "area", sorter:"string", width:150},
           @for(organisations <- Organisation.organisationGrouping) {
                {
                    title: "@{organisations.map(_.shortName).mkString("/")}",
                    field: "@{organisations.map(_.key).mkString}",
                    sorter:"number",
                    headerVertical:true,
                    formatter: function(cell, formatterParams, onRendered) {
                        if (cell.getValue() < 1) {
                            cell._cell.element.classList.add("deployment-warning-cell");
                        } else if (cell.getValue() >= 2) {
                            cell._cell.element.classList.add("deployment-all-good-cell");
                        } else {
                            cell._cell.element.classList.add("deployment-quite-good-cell");
                        }
                        return cell.getValue(); //return the contents of the cell;
                    }
                },
           },
           {title: "TOTAUX (nombre de structure)", field: "total", sorter: "number", headerVertical: true}
       ]

       var table = new Tabulator("#table", {
           data:tableData,           //load row data from array
           layout:"fitColumns",      //fit columns to width of table
           responsiveLayout:"hide",  //hide columns that dont fit on the table
           movableColumns:true,      //allow column order to be changed
           resizableRows:true,       //allow row order to be changed
           initialSort:[             //set the initial sort order of the data
               {column:"area", dir:"asc"},
           ],
           columns: columns
       });

    </script>
}
