@(currentUser: User, currentUserRights: Authorization.UserRights)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)

@main(currentUser, currentUserRights, maxWidth = false)(s"Tableau de suivi du déploiement") {
}{
    <div class="mdl-cell mdl-cell--12-col">
        <a class="mdl-button mdl-button--raised" href="@routes.AreaController.franceServiceDeploymentDashboard">Tableau Déploiement France Services</a>
    </div>
    <h5 class="title--addline">Nombre d’agents instructeurs par organisme</h5>
    <i>Les agents sont comptés double si ils sont dans plusieurs départements. Les organismes manquants ne sont pas affichés. Certains agents ne sont pas détectés comme faisant partie d'une organisation (Vous devez corriger le groupe dans ce cas)</i>
    <div id="aplus-admin-deployment-table" class="mdl-cell mdl-cell--12-col"></div>
    <div class="mdl-cell mdl-cell--12-col">
        <a class="mdl-button mdl-button--raised" href="@routes.AreaController.deploymentDashboard?uniquement-fs=non">Afficher tous les organismes</a>
        <button id="aplus-admin-deployment-download-btn-csv"
                class="mdl-button mdl-button--raised">Télécharger CSV</button>
        <button id="aplus-admin-deployment-download-btn-xlsx"
                class="mdl-button mdl-button--raised">Télécharger XLSX</button>
    </div>
}{
    <script type="application/javascript" src="@routes.Assets.versioned("generated-js/xlsx.full.min.js")"></script>
}
