@(currentUser: User)(data: List[(Area, List[(Set[Organisation],Int)], Int)], organisationSetToCountOfCounts: Map[Set[Organisation], Int])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader)

@main(currentUser, maxWidth = false)(s"Tableau de suivie déploiement") {
    @webJarsUtil.locate("tabulator.min.css").css()
    @webJarsUtil.locate("tabulator.min.js").script()
}{
    <h5 class="title--addline">Nombre d'agents instructeurs par organisation</h5>
    <i>Les agents sont comptés double s'ils sont dans plusieurs départements. Les organisations manquantes ne sont pas affichées. Certains agents ne sont pas détecté comme faisant partie d'un organisation (Vous devez corriger le groupe dans ce cas)</i>
    <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
        @for(organisationSet <- data.head._2.map(_._1)) {
            <div class="mdl-cell mdl-cell--2-col">
                <label>
                    <input type="checkbox" checked name="@{organisationSet.map(_.key).mkString}" onchange="table.toggleColumn('@{organisationSet.map(_.key).mkString}')">
                    @{organisationSet.map(_.shortName).mkString("/")}
                </label>
            </div>
        }
    </div>
    <div id="table" class="mdl-cell mdl-cell--12-col"></div>
    <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-button--raised" onclick="downloadCSV()">Télécharger CSV</button>

    </div>
    <script>
       var tableData = [
           @for((area: Area, usersSumPerOrganisation: List[(Set[Organisation], Int)], total) <- data) {
                { area: "@area",
                    @for((organisations, userSum) <- usersSumPerOrganisation)  {
                        @{organisations.map(_.key).mkString} : @userSum,
                    }
                  total: "@total"
                },
           }
           {
                area: "TOTAUX (de structure)",
                @for((organisations, count) <- organisationSetToCountOfCounts)  {
                    @{organisations.map(_.key).mkString} : @count,
                }
                total: ""
           }
       ]

       var columns = [
           {title: "Département", field: "area", sorter:"string", width:150,
               frozen:true},
           @for(organisations <- Organisation.organisationGrouping) {
                {
                    title: "@{organisations.map(_.shortName).mkString("/")}",
                    field: "@{organisations.map(_.key).mkString}",
                    sorter:"number",
                    headerVertical:true,
                    formatter: function(cell, formatterParams, onRendered) {
                        var value = cell.getValue();
                        if (cell._cell.row.data.area == "TOTAUX (de structure)") {
                            if (value < 1) {
                                cell._cell.element.classList.add("mdl-color--red");
                            } else if (value <= 4) {
                                cell._cell.element.classList.add("mdl-color--light-green");
                            } else if (value <= 7) {
                                cell._cell.element.classList.add("mdl-color--medium-green");
                            } else {
                                cell._cell.element.classList.add("mdl-color--dark-green");
                            }
                            return value;
                        }
                        if (value < 1) {
                            cell._cell.element.classList.add("mdl-color--red");
                        } else if (value >= 2) {
                            cell._cell.element.classList.add("mdl-color--green");
                        } else {
                            cell._cell.element.classList.add("mdl-color--yellow");
                        }
                        return value;
                    }
                },
           },
           {
                title: "TOTAUX (de structure)",
                field: "total",
                sorter: "number",
                headerVertical: true,
                formatter: function(cell, formatterParams, onRendered) {
                    var value = cell.getValue();
                    if (value < 1) {
                        cell._cell.element.classList.add("mdl-color--red");
                    } else if (value <= 4) {
                        cell._cell.element.classList.add("mdl-color--light-green");
                    } else if (value <= 7){
                        cell._cell.element.classList.add("mdl-color--medium-green");
                    } else {
                        cell._cell.element.classList.add("mdl-color--dark-green");
                    }
                    return value;
                }
           }
       ]

       var table = new Tabulator("#table", {
           data:tableData,           //load row data from array
           layout:"fitColumns",      //fit columns to width of table
           responsiveLayout:"hide",  //hide columns that dont fit on the table
           movableColumns:true,      //allow column order to be changed
           resizableRows:true,       //allow row order to be changed
           initialSort: [],
           columns: columns,
           height: "85vh",
       });

       function downloadCSV() {
           var date = new Date().toISOString().replace(/:/g,'-');
           table.download('csv', 'aplus-export-deploiement-'+date+'.csv');
       }

    </script>
}
