@import models._
@(currentUser: User)(userGroup: UserGroup, groupUsers: List[User], isEmpty: Boolean, zoneAsJson: String, geoplusHost: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader)


@main(currentUser)(s"Gestion du groupe ${userGroup.name} - ${userGroup.areaIds.flatMap(Area.fromId).map(_.name).mkString(", ")}") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
    <script src='@routes.Assets.versioned("javascripts/group.js")'></script>

    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/auto-complete.css")'>
    <script src='@routes.Assets.versioned("javascripts/auto-complete.min.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/group-autocomplete.js")'></script>
}{
    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        <span class="mdl-cell mdl-cell--12-col ariane">Territoires : @for(areaId <- userGroup.areaIds) {
            <a href="@routes.UserController.all(areaId)#group-@userGroup.id">@{Area.fromId(areaId).get.name}</a>
        } / Groupe :  @userGroup.name </span>
        @helper.form(routes.GroupController.editGroupPost(userGroup.id), 'method -> "post") {
            @helper.CSRF.formField
            <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name" value="@userGroup.name" @if(!currentUser.admin) { disabled } maxlength="60">
                <label class="mdl-textfield__label" for="name">Nom du groupe</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="description" name="description" value="@userGroup.description" @if(!currentUser.admin) { disabled }>
                <label class="mdl-textfield__label" for="description">Description du groupe</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="insee-code" data-langname="@geoplusHost" data-lang="@zoneAsJson" @if(!currentUser.admin) { disabled }>
                <label class="mdl-textfield__label" for="insee-code">Région(s), Arrondissement(s), Département(s), Commune(s) par nom ou code INSEE</label>
                <ul id="group-area-container"></ul>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email" name="email" value="@userGroup.email.getOrElse("")" @if(!currentUser.admin) { disabled } maxlength="200">
                <label class="mdl-textfield__label" for="email">Email du groupe (BAL générique pour inscription et notifications)</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <select id="organisation" name="organisation">
                    <option @if(userGroup.organisation.isEmpty){selected} style="font-weight: bold" value="">Organisme non-référencé</option>
                    @for(organisation <- Organisation.all) {
                        <option value="@organisation.shortName" @if(userGroup.organisation.contains(organisation.shortName)){selected}>@organisation.shortName : @organisation.name</option>
                    }
                </select>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <select id="area-ids" name="area-ids[]" multiple size="5" >
                    @for(area <- currentUser.areas.flatMap(Area.fromId)) {
                    <option value="@area.id" @if(userGroup.areaIds.contains(area.id)) { selected }>@area.name</option>
            }                   
            </select>
            </div>
            @if(currentUser.admin) {
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                        Editer le groupe
                    </button>
                    <br>
                    @if(isEmpty) {
                        <button class="mdl-button mdl-js-button mdl-button--raised" type="button" onclick="Group.showGroupRemovalDialog()">
                            Supprimer le groupe
                        </button>
                    }
                </div>
            }
        }
    </div>
    <div>
        @helpers.displayUsers(groupUsers)(currentUser)
        @helper.form(routes.UserController.add(userGroup.id), 'method -> "get") {
            @helper.CSRF.formField
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="rows" name="rows" value="1">
                <label class="mdl-textfield__label" for="rows">Nombre d'utilisateur à ajouter</label>
                <span class="mdl-textfield__error">Ce n'est pas un nombre</span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                Ajouter des utilisateurs dans le groupe
            </button>
        }
    </div>

    <dialog class="mdl-dialog dialog--50percent-width" id="dialog-delete-group">
        <h4 class="mdl-dialog__title">Veuillez confirmer la suppression du groupe.</h4>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-button" id="dialog-delete-group-cancel" onclick="Group.closeGroupRemovalDialog()">Annuler</button>
            <button type="button" class="mdl-button mdl-button" id="dialog-delete-group-confirm" onclick="Group.confirmRemovalDialog('@userGroup.id')">Confirmer</button>
        </div>
    </dialog>
}