@import models.Authorization
@import models.forms.AddUserToGroupFormData

@(currentUser: User, currentUserRights: Authorization.UserRights)(userGroup: UserGroup, groupUsers: List[User], isEmpty: Boolean, usersInfos: Map[java.util.UUID, views.editMyGroups.UserInfos], lastActivity: Map[java.util.UUID, java.time.Instant], addUserForm: Form[AddUserToGroupFormData], addRedirectQueryParam: String => String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader, mainInfos: MainInfos)


@modals = {

  @********* Experimental (testing by admins for now) **********@
  @if(Authorization.canSeeExperimentalAdminFeatures(currentUserRights)) {

    @for(user <- groupUsers) {
      @toHtml(views.editMyGroups.removeUserFromGroupDialog(user, userGroup.id, addRedirectQueryParam))
    }

  }

  @toHtml(views.group.deleteGroupModal(userGroup))

}


@main(currentUser, currentUserRights, modals = modals)(s"Gestion du groupe ${userGroup.name} - ${userGroup.areaIds.flatMap(Area.fromId).map(_.name).mkString(", ")}") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
}{

@defining(Authorization.canEditGroup(userGroup)(currentUserRights)) { canEdit =>
@defining(Authorization.canEditGroupAnyField(userGroup)(currentUserRights)) { canEditAny =>

    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        <span class="mdl-cell mdl-cell--12-col ariane">Territoires : @for(areaId <- userGroup.areaIds) {
            <a href="@routes.UserController.all(areaId)#group-@userGroup.id">@{Area.fromId(areaId).get.name}</a>
        } / Groupe :  @userGroup.name </span>
        @helper.form(routes.GroupController.editGroupPost(userGroup.id), "method" -> "post") {
            @helper.CSRF.formField
            <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name" value="@userGroup.name" @if(!canEdit) { disabled } maxlength="@models.UserGroup.nameMaxLength">
                <label class="mdl-textfield__label" for="name">Nom du groupe</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="description" name="description" value="@userGroup.description" @if(!canEdit) { disabled }>
                <label class="mdl-textfield__label" for="description">Description succincte</label>
            </div>

            <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input single--height-auto" type="text" rows="3" id="publicNote" name="publicNote" @if(!canEdit) { disabled }>@userGroup.publicNote</textarea>
                <label class="mdl-textfield__label" for="publicNote">Description détaillée</label>
            </div>

            @toHtml(views.helpers.applications.groupFormExample(userGroup))

            @if(userGroup.inseeCode.nonEmpty) {
                <div class="mdl-cell mdl-cell--12-col">
                    <b>Code INSEE</b> (non utilisé pour le moment) : @userGroup.inseeCode.mkString(", ")
                </div>
            }
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email" name="email" value="@userGroup.email.getOrElse("")" @if(!canEdit) { disabled } maxlength="200">
                <label class="mdl-textfield__label" for="email">Email du groupe (BAL générique pour inscription et notifications)</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <select id="organisation" name="organisation" @if(!canEditAny) {disabled}>
                    <option @if(userGroup.organisation.isEmpty){selected} style="font-weight: bold" value="">Organisme non-référencé</option>
                    @for(organisation <- Organisation.all) {
                        <option value="@organisation.id.id" @if(userGroup.organisation.map(_.id).contains[Organisation.Id](organisation.id)){selected}>@organisation.shortName : @organisation.name</option>
                    }
                </select>
                @if(!canEditAny) {
                  <select id="organisation-hidden" name="organisation" class="hidden">
                    <option value="">Organisme non-référencé</option>
                    @for(organisation <- Organisation.all) {
                        <option value="@organisation.id.id" @if(userGroup.organisation.map(_.id).contains[Organisation.Id](organisation.id)){selected}>@organisation.shortName : @organisation.name</option>
                    }
                  </select>
                }
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <select id="area-ids" name="area-ids[]" multiple size="5" class="use-slimselect" @if(!canEditAny) {disabled}>
                    @for(area <- currentUser.areas.flatMap(Area.fromId)) {
                        <option value="@area.id" @if(userGroup.areaIds.contains(area.id)) { selected }>@area.name</option>
                    }
                </select>
                @if(!canEditAny) {
                  <select id="area-ids" name="area-ids[]" multiple size="5" class="hidden">
                    @for(area <- Area.all) {
                        <option value="@area.id" @if(userGroup.areaIds.contains(area.id)) { selected }>@area.name</option>
                    }
                  </select>
                }
            </div>


            @if(Authorization.canEditSupportMessages(currentUserRights)) {

              <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input single--height-auto" type="text" rows="3" id="internalSupportComment" name="internalSupportComment">@userGroup.internalSupportComment</textarea>
                <label class="mdl-textfield__label" for="internalSupportComment">Commentaire interne pour le support (visible uniquement par les administrateurs)</label>
              </div>

            } else {
              <input type="hidden"
                     name="internalSupportComment"
                     id="internalSupportComment"
                     value="@userGroup.internalSupportComment">
            }

            @if(canEdit) {
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised" type="submit">
                        Editer le groupe
                    </button>
                    <br>
                    @if(isEmpty) {
                        <button class="mdl-button mdl-js-button mdl-button--raised" id="dialog-delete-group-show" type="button">
                            Supprimer le groupe
                        </button>
                    }
                </div>
            }
        }
    </div>
    <div class="single--overflow-auto">
        @helpers.displayUsers(currentUser, currentUserRights)(groupUsers)
        @helper.form(routes.UserController.add(userGroup.id), "method" -> "get") {
            @helper.CSRF.formField
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="rows" name="rows" value="1">
                <label class="mdl-textfield__label" for="rows">Nombre de comptes à créer</label>
                <span class="mdl-textfield__error">Ce n’est pas un nombre</span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                Créer de nouveaux comptes dans ce groupe
            </button>
        }
    </div>


    @********* Experimental (testing by admins for now) **********@
    @if(Authorization.canSeeExperimentalAdminFeatures(currentUserRights)) {
        @toHtml(views.editMyGroups.groupBlock(userGroup, groupUsers, usersInfos, lastActivity, addUserForm, addRedirectQueryParam, currentUser, currentUserRights))
    }

}
}
}{
}
