@import models._
@import extentions.MDLForms._
@import java.util.UUID
@(currentUser: User, area: Area)(form: Form[User], userId: UUID, userGroups: List[UserGroup])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider)


@main(currentUser, area)(s"Utilisateur ${userId}") {
    
} {

    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  @helper.form(action = routes.UserController.editUserPost(userId)) {
    @if(form.hasGlobalErrors) {
      <div style="color: red; font-weight: bold;">@form.globalErrors.mkString(", ")</div>
    }
    @helper.input(form("id"), 'label -> "Id", 'class -> "hidden") { (id, name, value, args) =>
        <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    }
    @helper.input(form("name"), 'label -> "Nom de l'utilisateur") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    } <br>
    @helper.input(form("qualite"), 'label -> "Qualité de l'utilisateur") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    } <br>
    @helper.input(form("communeCode"), 'label -> "Code commune") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) minlength="0" maxlength="5" pattern="[0-9AB]*">
    } <br>
    @helper.input(form("email"), 'label -> "Email de l'utilisateur") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    }
    @helper.checkbox(form("instructor"), 'type -> "checkbox", 'label -> "Agent", 'class -> "mdl-checkbox__input")
    @helper.checkbox(form("helper"), 'type -> "checkbox", 'label -> "Aidant", 'class -> "mdl-checkbox__input")
    @helper.checkbox(form("adminGroup"), 'type -> "checkbox", 'label -> "Responsable(s) du groupe", 'class -> "mdl-checkbox__input")
    @helper.checkbox(form("hasAcceptedCharte"), 'label -> "Charte validé", 'type -> "checkbox", 'class -> "mdl-checkbox__input")

    <ul>
    @for(area <- form.value.map(_.areas).getOrElse(List()).flatMap(area => Area.all.find(_.id == area))) {
        <li>Territoire : @area.name</li>
        @for(userGroup <- userGroups.filter(_.area == area.id)) {
            <li style="list-style-type:none"><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-disabled">
                <input type="checkbox" class="mdl-checkbox__input" name="groupIds[]" value="@userGroup.id" @if(form.data.find({case (k, v) => k.startsWith("groupIds[") && v == userGroup.id.toString})){ checked="checked" }>
                <span class="mdl-checkbox__label">Groupe : @userGroup.name</span>
            </label></li>
        }
    }
    </ul>

    <b>Délégations</b>
    <div class="mdl-grid mdl-grid--no-spacing user-delegations" >
    @helper.repeatWithIndex(form("delegations"), min = 0) { (field, indexDelegations) =>
     <fieldset class="mdl-grid mdl-cell mdl-cell--12-col" style="border: 2px groove threedface;">
      @helper.input(field("name"), 'label -> "Nom", 'class -> "mdl-cell mdl-cell--12-col") { (id, name, value, args) =>
          <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
      }
      @helper.input(field("email"), 'label -> "Email", 'class -> "mdl-cell mdl-cell--12-col") { (id, name, value, args) =>
          <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
      } <br>
        <p>Pourra agir au nom de l'agent</p>
       <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--12-col" type="button" onclick="deleteDelegation(this);">
          Supprimer
       </button>
     </fieldset>
    }
      </div><br>
        <button class="mdl-button mdl-js-button mdl-button--raised" type="button" onclick="addDelegation(0, this)">
              Ajouter délégation
        </button> <br>


      <b style="color: red">@helper.checkbox(form("admin"), 'type -> "checkbox", 'label -> "Admin de la zone", 'class -> "mdl-checkbox__input")</b>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell">
      Sauvegarder les modifications
    </button>
  }
  </div>
    <script type='text/javascript'>
        function deleteDelegation(button){
          button.parentNode.parentNode.removeChild(button.parentNode);
        }

        function addDelegation(userIndex, button) {
          var dialog = button.parentNode.parentNode;
          var countDelegation =  dialog.querySelectorAll(".user-delegations fieldset").length;
          var newNode = document.createElement('fieldset');
          newNode.className = "mdl-grid mdl-cell mdl-cell--12-col";
          newNode.style = "border: 2px groove threedface;";
          newNode.innerHTML = '<div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-cell mdl-cell--12-col">   \
                        <input class="mdl-textfield__input" type="text" name="users['+userIndex+'].delegations['+countDelegation+'].name" id="users_'+userIndex+'_delegations_0_name" value="" label="Nom" class="mdl-cell mdl-cell--12-col">  \
                        <label class="mdl-textfield__label" for="users_'+userIndex+'_delegations_'+countDelegation+'_name">Nom</label>  \
                    </div>                                                                                 \
                    <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-cell mdl-cell--12-col">  \
                        <input class="mdl-textfield__input" type="text" name="users['+userIndex+'].delegations['+countDelegation+'].email" id="users_'+userIndex+'_delegations_0_email" value="" label="Email" class="mdl-cell mdl-cell--12-col"> \
                        <label class="mdl-textfield__label" for="users_'+userIndex+'_delegations_'+countDelegation+'_email">Email</label> \
                    </div><br>  \
                    <p>Pourra agir au nom de l\'agent</p>  \
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--12-col" type="button" onclick="deleteDelegation(this);">  \
                    Supprimer  \
                    </button>';
          dialog.querySelector(".user-delegations").appendChild(newNode);
          componentHandler.upgradeElements(newNode);
        }
    </script>
}