@import models._
@import extentions.MDLForms._
@import java.util.UUID
@(currentUser: User)(form: Form[User], userId: UUID, userGroups: List[UserGroup], unused: Boolean = false, tokenName: String = "", tokenValue: String = "")(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader)

@main(currentUser)(s"Utilisateur ${form("name").value.getOrElse("")}") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
    <script src='@routes.Assets.versioned("javascripts/dialog.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/slimselect-v1.24.0.min.js")'></script>
    <link href='@routes.Assets.versioned("stylesheets/slimselect-v1.24.0.min.css")' rel="stylesheet"></link>
}{
    @helper.form(action = routes.UserController.editUserPost(userId), 'class -> "mdl-grid mdl-cell mdl-cell--12-col") {
        @for(user <- form.value) {
            @for((area, group) <- user.areas.headOption.flatMap(Area.fromId).zip(user.groupIds.headOption.flatMap(groupId => userGroups.find(_.id == groupId)))) {
                <span class="mdl-cell mdl-cell--12-col ariane">
                    Territoire : <a href="@routes.UserController.all(user.areas.head)#group-@user.groupIds.head">@{area.name}</a> /
                    Groupe : <a href="@routes.GroupController.editGroup(group.id)">@{group.name}</a> /
                    Utilisateur : @form("name").value.getOrElse("") </span>
            }
        }
    <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell">
            Sauvegarder
        </button>
    </div>
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col">
    @helper.CSRF.formField

    @if(form.hasGlobalErrors) {
      <div style="color: red; font-weight: bold;">@form.globalErrors.mkString(", ")</div>
    }
    @helper.input(form("id"), 'label -> "Id", 'class -> "hidden") { (id, name, value, args) =>
        <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    }
    @helper.input(form("name"), 'label -> "Nom et prénom") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    } <br>
    @helper.input(form("qualite"), 'label -> "Qualité") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    } <br>
    @helper.input(form(csv.USER_PHONE_NUMBER.key), 'label -> "Numéro de téléphone") { (id, name, value, args) =>
       <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
     } <br>
    @helper.input(form("communeCode"), 'label -> "Code INSEE commune") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) disabled>
    } <br>
    @helper.input(form("email"), 'label -> "Email") { (id, name, value, args) =>
    <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    }
    @helper.checkbox(form("instructor"), 'type -> "checkbox", 'label -> "Instructeur", 'class -> "mdl-checkbox__input")
    @helper.checkbox(form("helper"), 'type -> "checkbox", 'label -> "Aidant", 'class -> "mdl-checkbox__input")
    @helper.checkbox(form("adminGroup"), 'type -> "checkbox", 'label -> "Responsable de ces groupes", 'class -> "mdl-checkbox__input")
    @helper.checkbox(form("disabled"), 'type -> "checkbox", 'label -> "Désactiver l'utilisateur", 'class -> "mdl-checkbox__input")

        @if(unused) {
        <button class="mdl-button mdl-js-button mdl-button--raised" type="button" onclick="showDialog(document.querySelector('#dialog-delete-user'))">Supprimer cet utilisateur inutilisé.</button>
        <br>
        }
    <b>Délégations</b>
    <div class="mdl-grid mdl-grid--no-spacing user-delegations" >
    @helper.repeatWithIndex(form("delegations"), min = 0) { (field, indexDelegations) =>
     <fieldset class="mdl-grid mdl-cell mdl-cell--12-col" style="border: 2px groove threedface;">
      @helper.input(field("name"), 'label -> "Nom", 'class -> "mdl-cell mdl-cell--12-col") { (id, name, value, args) =>
          <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
      }
      @helper.input(field("email"), 'label -> "Email", 'class -> "mdl-cell mdl-cell--12-col") { (id, name, value, args) =>
          <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
      } <br>
        <p>Pourra agir au nom de l'utilisateur</p>
       <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--12-col" type="button" onclick="deleteDelegation(this);">
          Supprimer
       </button>
     </fieldset>
    }
      </div><br>
        <button class="mdl-button mdl-js-button mdl-button--raised" type="button" onclick="addDelegation(0, this)">
              Ajouter délégation
        </button> <br>


      <b style="color: red">@helper.checkbox(form("admin"), 'type -> "checkbox", 'label -> "Admin de la zone", 'class -> "mdl-checkbox__input")</b>
  </div>
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col mdl-grid">
        <b class="mdl-cell mdl-cell--12-col">Territoires</b>
        <select id="multiple" multiple>
            <optgroup label="Val d'oise">
                <option value="value 1" selected>CAF - Argenteuil</option>
                <option value="value 2">CPAM - Argenteuil</option>
                <option value="value 3">France Services Argenteuil</option>
            </optgroup>
            <optgroup label="Yonne">
                <option value="value 21">CAF - Yonne</option>
                <option value="value 22">CNAV - Yonne</option>
                <option value="value 23">France Services Ville 2</option>
            </optgroup>
        </select>
        <script>
            new SlimSelect({ select: '#multiple' });
        </script>
        @if(form("areas").hasErrors) {
            <p style="color: red; font-weight: bold;">@form("areas").errors.map(_.format).mkString(", ")</p>
        }
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell">
            Sauvegarder
        </button>
    </div>
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <b>Outils</b>
        <p>
            <a href="@routes.ApplicationController.allAs(userId)">Aperçu de l'écran de toutes les demandes de l'utilisateur</a><br>
            <a href="@routes.UserController.allEvents()?fromUserId=@userId">Log d'événements de l'utilisateur</a>
        </p>
    </div>
    }
    <script type='text/javascript'>
        function deleteDelegation(button){
          button.parentNode.parentNode.removeChild(button.parentNode);
        }

        function addDelegation(userIndex, button) {
          var dialog = button.parentNode.parentNode;
          var countDelegation =  dialog.querySelectorAll(".user-delegations fieldset").length;
          var newNode = document.createElement('fieldset');
          newNode.className = "mdl-grid mdl-cell mdl-cell--12-col";
          newNode.style = "border: 2px groove threedface;";
          newNode.innerHTML = '<div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-cell mdl-cell--12-col">   \
                        <input class="mdl-textfield__input" type="text" name="users['+userIndex+'].delegations['+countDelegation+'].name" id="users_'+userIndex+'_delegations_0_name" value="" label="Nom" class="mdl-cell mdl-cell--12-col">  \
                        <label class="mdl-textfield__label" for="users_'+userIndex+'_delegations_'+countDelegation+'_name">Nom</label>  \
                    </div>                                                                                 \
                    <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-cell mdl-cell--12-col">  \
                        <input class="mdl-textfield__input" type="text" name="users['+userIndex+'].delegations['+countDelegation+'].email" id="users_'+userIndex+'_delegations_0_email" value="" label="Email" class="mdl-cell mdl-cell--12-col"> \
                        <label class="mdl-textfield__label" for="users_'+userIndex+'_delegations_'+countDelegation+'_email">Email</label> \
                    </div><br>  \
                    <p>Pourra agir au nom de l\'utilisateur</p>  \
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--12-col" type="button" onclick="deleteDelegation(this);">  \
                    Supprimer  \
                    </button>';
          dialog.querySelector(".user-delegations").appendChild(newNode);
          componentHandler.upgradeElements(newNode);
        }

        function showHide(sender) {
            var thead = sender.parentNode.parentNode.parentNode.parentNode;
            var tbody = thead.nextElementSibling;
            if(sender.checked) {
                tbody.classList.remove("invisible");
            } else {
                tbody.classList.add("invisible");
            }
        }
    </script>

    <dialog class="mdl-dialog" id="dialog-delete-user">
        <h4 class="mdl-dialog__title">Suppression d'un utilisateur inutilisé.</h4>
        <div class="mdl-dialog__content">
            <b>Êtes-vous certain de vouloir supprimer le compte de cet utilisateur?</b>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-button--raised mdl-button--colored" onclick="confirmDeletion()">Confirmer</button>
            <button type="button" class="mdl-button mdl-button--raised" onclick="closeDialog(document.querySelector('#dialog-delete-user'))">Annuler</button>
        </div>
    </dialog>

    <script type="text/javascript">
        var dialog = document.querySelector('#dialog-delete-user');
        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }

        function confirmDeletion() {
            document.location = '@routes.UserController.deleteUnusedUserById(userId)';
        }
    </script>
}