@import models._
@import models.formModels.EditUserFormData
@import _root_.helper.MDLForms._
@import java.util.UUID
@import serializers.Keys
@import cats.implicits.catsSyntaxEq

@(currentUser: User, currentUserRights: Authorization.UserRights)(form: Form[EditUserFormData], uneditedUser: User, userGroups: List[UserGroup], canDeleteUser: Boolean = false, tokenName: String = "", tokenValue: String = "")(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader, mainInfos: MainInfos)


@main(currentUser, currentUserRights, modals = toHtml(views.user.deleteUserModal(uneditedUser)))(s"Utilisateur ${form("name").value.getOrElse("")}") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
}{
@defining(form.value.exists(user => Authorization.canEditOtherUser(uneditedUser)(currentUserRights))) { canEditUser =>
    @helper.form(action = routes.UserController.editUserPost(uneditedUser.id), "class" -> "mdl-grid mdl-cell mdl-cell--12-col") {
        @for(user <- form.value) {
            @for((area, group) <- user.areas.headOption.flatMap(Area.fromId).zip(user.groupIds.headOption.flatMap(groupId => userGroups.find(_.id === groupId)))) {
                <span class="mdl-cell mdl-cell--12-col ariane">
                    Territoire : <a href="@routes.UserController.all(user.areas.head)#group-@user.groupIds.head">@{area.name}</a> /
                    Groupe : <a href="@routes.GroupController.editGroup(group.id)">@{group.name}</a> /
                    Utilisateur : @form("name").value.getOrElse("") </span>
            }
        }
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col">
    @helper.CSRF.formField

    @if(form.hasGlobalErrors) {
      <div style="color: red; font-weight: bold;">@form.globalErrors.mkString(", ")</div>
    }
    @helper.input(form("id"), "label" -> "Id", "class" -> "hidden") { (id, name, value, args) =>
        <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
    }
    @helper.input(form("name"), "label" -> "Nom et prénom") { (id, name, value, args) =>
        <input class="mdl-textfield__input"
               type="text"
               name="@name"
               id="@id"
               value="@value"
               @if(!canEditUser) { readonly }
               @toHtmlArgs(args)>
    } <br/>
    @helper.input(form("lastName"), "label" -> "Nom") { (id, name, value, args) =>
        <input class="mdl-textfield__input"
               type="text"
               name="@name"
               id="@id"
               value="@value"
               @if(!canEditUser) { readonly }
               @toHtmlArgs(args)>
    } <br>
    @helper.input(form("firstName"), "label" -> "Prénom") { (id, name, value, args) =>
        <input class="mdl-textfield__input"
               type="text"
               name="@name"
               id="@id"
               value="@value"
               @if(!canEditUser) { readonly }
               @toHtmlArgs(args)>
    } <br>
    @helper.input(form("qualite"), "label" -> "Qualité") { (id, name, value, args) =>
        <input class="mdl-textfield__input"
               type="text"
               name="@name"
               id="@id"
               value="@value"
               @if(!canEditUser) { readonly }
               @toHtmlArgs(args)>
    } <br>
    @helper.input(form("phoneNumber"), "label" -> "Numéro de téléphone") { (id, name, value, args) =>
        <input class="mdl-textfield__input"
               type="text"
               name="@name"
               id="@id"
               value="@value"
               @if(!canEditUser) { readonly }
               @toHtmlArgs(args)>
     } <br>
    @helper.input(form("email"), "label" -> "Email") { (id, name, value, args) =>
        <input class="mdl-textfield__input"
               type="text"
               name="@name"
               id="@id"
               value="@value"
               @if(!canEditUser) { readonly }
               @toHtmlArgs(args)>
    }
  </div>
  <div class="mdl-grid mdl-cell--6-col-desktop mdl-cell--12-col">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col">
          <b class="mdl-cell mdl-cell--12-col">Sélectionner des territoires</b>
          <select id="area-ids"
                  name="areas[]"
                  class="use-slimselect"
                  @if(!canEditUser) { disabled }
                  multiple>
              @for(areaId <- currentUser.areas) {
                    <option value="@areaId"
                        @if(form.data.values.toList.contains(areaId.toString)){ selected }
                    >@{Area.fromId(areaId).map(_.name)}</option>
              }
          </select>
          <b class="mdl-cell mdl-cell--12-col">Sélectionner les groupes</b>
          <select name="groupIds[]"
                  class="use-slimselect"
                  @if(!canEditUser) { disabled }
                  multiple>
            @for(area <- currentUser.areas.flatMap(Area.fromId)) {
                <optgroup label="@{area}">
                    @for(userGroup <- userGroups.filter(group => group.areaIds.contains(area.id))) {
                        <option value="@userGroup.id"
                            @if(form.data.values.toList.contains(userGroup.id.toString)){ selected }
                        >@userGroup.name</option>
                    }
                </optgroup>
            }
          </select>
          <b class="mdl-cell mdl-cell--12-col">Observateur des organisations</b>
          <select name="observableOrganisationIds[]"
                  class="use-slimselect"
                  @if(!canEditUser) { disabled }
                  multiple>
            @for(organisation <- Organisation.all) {
                <option value="@{organisation.id.id}"
                    @if(form.value.exists(_.observableOrganisationIds.contains[Organisation.Id](organisation.id))){ selected }
                >@{organisation.shortName} - @{organisation.name}</option>
            }
          </select>
          @if(form("areas").hasErrors) {
            <p style="color: red; font-weight: bold;">@form("areas").errors.map(_.format).mkString(", ")</p>
          }

          <b class="mdl-cell mdl-cell--12-col">Utilisateur actuellement présent dans ces groupes :</b><br/>
          @for(user <- form.value) {
              @for(group <- user.groupIds.distinct.flatMap(groupId => userGroups.find(_.id === groupId)).sortBy(_.name)) {
                  <a class="mdl-cell mdl-cell--10-col" href="@routes.GroupController.editGroup(group.id)">@{group.name}</a><br/>
              }
          }

          <div class="mdl-cell mdl-cell--12-col single--margin-top-24px single--margin-bottom-24px">
            @** To avoid unwanted clicks outside the checkbox texts,
                we wrap them into a div that has the `width: max-content` **@
            <div class="single--width-max-content">
              @helper.checkbox(form(Keys.User.sharedAccount), List[Option[(Symbol, String)]](
                Some("type" -> "checkbox"),
                Some("label" -> "Compte Partagé"),
                Some("class" -> "mdl-checkbox__input"),
                if (canEditUser) None else Some("disabled" -> "")
              ).flatten: _*)
            </div>

            <div class="single--width-max-content">
              @helper.checkbox(form("instructor"), List[Option[(Symbol, String)]](
                Some("type" -> "checkbox"),
                Some("label" -> "Instructeur"),
                Some("class" -> "mdl-checkbox__input"),
                if (canEditUser) None else Some("disabled" -> "")
              ).flatten:_*)
            </div>
            <div class="single--width-max-content">
              @helper.checkbox(form("helper"), List[Option[(Symbol, String)]](
                Some("type" -> "checkbox"),
                Some("label" -> "Aidant"),
                Some("class" -> "mdl-checkbox__input"),
                if (canEditUser) None else Some("disabled" -> "")
              ).flatten:_*)
            </div>
            <div class="single--width-max-content">
              @helper.checkbox(form("groupAdmin"), List[Option[(Symbol, String)]](
                Some("type" -> "checkbox"),
                Some("label" -> "Responsable de ces groupes"),
                Some("class" -> "mdl-checkbox__input"),
                if (canEditUser) None else Some("disabled" -> "")
              ).flatten:_*)
            </div>
            <div class="single--width-max-content">
              @helper.checkbox(form("disabled"), List[Option[(Symbol, String)]](
                Some("type" -> "checkbox"),
                Some("label" -> "Désactiver l'utilisateur"),
                Some("class" -> "mdl-checkbox__input"),
                if (canEditUser) None else Some("disabled" -> "")
              ).flatten:_*)
            </div>

          </div>

          @if(currentUser.admin) {
            @helper.input(form("internalSupportComment"),
                          "label" -> "Commentaire interne pour le support (visible uniquement par les administrateurs)",
                          "class" -> "single--width-100pc") { (id, name, value, args) =>
              <textarea class="mdl-textfield__input single--height-auto"
                        type="text"
                        rows="3"
                        id="@id"
                        name="@name">@value</textarea>
            }
          } else {
              <input type="hidden"
                     name="internalSupportComment"
                     id="internalSupportComment"
                     value="@uneditedUser.internalSupportComment">
          }

          @if(canDeleteUser && canEditUser) {
            <button id="delete-user-button" class="mdl-button mdl-js-button mdl-button--raised" type="button">Supprimer cet utilisateur inutilisé</button>
            <br>
          }

      </div>
  </div>

    @if(canEditUser) {
    <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell">
            Sauvegarder
        </button>
    </div>
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <b>Outils</b>
        <p>

          @if(Authorization.canSeeOtherUserNonPrivateViews(uneditedUser)(currentUserRights)) {
            <a href="@routes.ApplicationController.allAs(uneditedUser.id)">
              Aperçu de l’écran de toutes les demandes de l’utilisateur
            </a>
            <br/>
            <a href="@routes.GroupController.showEditMyGroupsAs(uneditedUser.id)">
              Vue "Mes Groupes" de l’utilisateur
            </a>
            <br/>
            <a href="@routes.ApplicationController.statsAs(uneditedUser.id)">
              Vue "Stats" de l’utilisateur
            </a>
            <br/>
          }

            <a href="@routes.UserController.allEvents?fromUserId=@{uneditedUser.id}">Log d'événements de l'utilisateur</a>
        </p>
    </div>
    }

    }
}
}{
}
