@import models._
@(currentUser: User, area: Area)(userGroup: UserGroup, groupUsers: List[User])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader)


@main(currentUser, area, false)(s"Gestion du groupe ${userGroup.name} ${area.name}") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
} {

    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        @helper.form(routes.UserController.editGroupPost(userGroup.id), 'method -> "post") {
            @helper.CSRF.formField
            <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name" value="@userGroup.name" @if(!currentUser.admin) { disabled } maxlength="50">
                <label class="mdl-textfield__label" for="name">Nom du groupe</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="[0-9AB]{2,5}" id="insee-code" name="insee-code" value="@userGroup.inseeCode" @if(!currentUser.admin) { disabled }>
                <label class="mdl-textfield__label" for="insee-code">Code INSEE (département ou commune)</label>
                <span class="mdl-textfield__error">Ce n'est pas un code INSEE valide (code département ou commune)</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email" name="email" value="@userGroup.email.getOrElse("")" @if(!currentUser.admin) { disabled } maxlength="200">
                <label class="mdl-textfield__label" for="email">Email du groupe (BAL générique pour inscription et notifications)</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <select id="organisation" name="organisation">
                    <option @if(userGroup.organisation.isEmpty){selected} style="font-weight: bold" value="">Organisme non-référencé</option>
                    @for(organisation <- Organisation.all) {
                        <option value="@organisation.shortName" @if(userGroup.organisation.contains(organisation.shortName)){selected}>@organisation.shortName : @organisation.name</option>
                    }
                </select>
            </div>
            @if(currentUser.admin) {
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                        Editer le groupe
                    </button>
                </div>
            }
        }
    </div>
    <div>
        @helpers.displayUsers(groupUsers)(currentUser)
        @helper.form(routes.UserController.add(userGroup.id), 'method -> "get") {
            @helper.CSRF.formField
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="rows" name="rows" value="1">
                <label class="mdl-textfield__label" for="rows">Nombre d'utilisateur à ajouter</label>
                <span class="mdl-textfield__error">Ce n'est pas un nombre</span>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                Ajouter des utilisateurs dans le groupe
            </button>
        }
    </div>
}