@import models._
@import extentions.MDLForms._
@(user: User, area: Area)(form: Form[(List[User])], min: Int, action: Call)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider)


@main(user, area)(s"Gestion des utilisateurs ${area.name}") {
    @webJarsUtil.locate("dialog-polyfill.css").css()
  <style>
          .pem-table {
            width: 100%;
          }
          dialog {
              position: fixed;
              top: 50%;
              transform: translate(0, -50%);
          }
          .smaller-textfield > .mdl-textfield {
              width: 130px;
          }
          .mdl-dialog__content {
              text-align: left;
          }
  </style>
    @webJarsUtil.locate("dialog-polyfill.js").script()
    <script type='text/javascript'>
        function registerDialog(index) {
            var dialog = document.querySelector('#dialog-'+index);
            var showDialogButton = document.querySelector('#show-dialog-'+index);
            if (! dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            showDialogButton.addEventListener('click', function() {
                      dialog.showModal();
                    });
            dialog.querySelector('#close-dialog-'+index).addEventListener('click', function() {
                      dialog.close();
                    });
        }
    </script>
} {                           
  <div>
  @helper.form(action = action) {
    @if(form.hasGlobalErrors) {
      <div style="color: red; font-weight: bold;">@form.globalErrors.mkString(", ")</div>
    }

    <table class="mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp pem-table" style="white-space: normal;">
      <thead>
        <tr>
          <th></th>
          <th class="mdl-data-table__cell--non-numeric">Nom</th>
          <th class="mdl-data-table__cell--non-numeric">Administration/Qualité</th>
          <th class="mdl-data-table__cell--non-numeric">Code commune</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th class="mdl-data-table__cell--non-numeric">Agent A+</th>
          <th class="mdl-data-table__cell--non-numeric">Aidant A+</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody>
      @helper.repeatWithIndex(form("users"), min = min) { (userField, index) =>
        <tr>
          <td>@index
            @helper.input(userField("id"), 'label -> "Id", 'class -> "hidden") { (id, name, value, args) =>
              <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td class="mdl-data-table__cell--non-numeric smaller-textfield">
            @helper.input(userField("name"), 'label -> "Nom de l'utilisateur") { (id, name, value, args) =>
              <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            @helper.input(userField("qualite"), 'label -> "Qualité de l'utilisateur") { (id, name, value, args) =>
              <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td class="mdl-data-table__cell--non-numeric smaller-textfield">
            @helper.input(userField("communeCode"), 'label -> "Code commune") { (id, name, value, args) =>
                <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) minlength="0" maxlength="5" pattern="[0-9AB]*">
            }
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            @helper.input(userField("email"), 'label -> "Email de l'utilisateur") { (id, name, value, args) =>
              <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
          </td>
          <td>
            @helper.checkbox(userField("instructor"), 'type -> "checkbox", 'label -> "Agent", 'class -> "mdl-checkbox__input")
          </td>
          <td>
            @helper.checkbox(userField("helper"), 'type -> "checkbox", 'label -> "Aidant", 'class -> "mdl-checkbox__input")
          </td>
          <td>
              <button id="show-dialog-@index" type="button" class="mdl-button mdl-js-button mdl-button--raised" @if(userField("delegations").hasErrors){ style="color: #d50000"}>Options</button>
              <dialog class="mdl-dialog" id="dialog-@index">
              <h4 class="mdl-dialog__title">Options</h4>
              <div class="mdl-dialog__content">
                @helper.checkbox(userField("admin"), 'type -> "checkbox", 'label -> "Admin de la zone", 'class -> "mdl-checkbox__input")
                @helper.checkbox(userField("adminGroup"), 'type -> "checkbox", 'label -> "Admin de tous ces groupes", 'class -> "mdl-checkbox__input")
                @helper.checkbox(userField("hasAcceptedCharte"), 'label -> "Charte validé", 'type -> "checkbox", 'class -> "mdl-checkbox__input")
                  <b>Délégations</b>
                  <div class="mdl-grid mdl-grid--no-spacing user-delegations" >
                  @helper.repeatWithIndex(userField("delegations"), min = 0) { (field, indexDelegations) =>
                     <fieldset class="mdl-grid mdl-cell mdl-cell--12-col" style="border: 2px groove threedface;">
                      @helper.input(field("name"), 'label -> "Nom", 'class -> "mdl-cell mdl-cell--12-col") { (id, name, value, args) =>
                          <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                      }
                      @helper.input(field("email"), 'label -> "Email", 'class -> "mdl-cell mdl-cell--12-col") { (id, name, value, args) =>
                          <input class="mdl-textfield__input" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                      } <br>
                        <p>Pourra agir au nom de l'agent</p>
                       <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--12-col" type="button" onclick="deleteDelegation(this);">
                          Supprimer
                       </button>
                     </fieldset>
                  }
                  </div><br>
                    <button class="mdl-button mdl-js-button mdl-button--raised" type="button" onclick="addDelegation(@index, this)">
                          Ajouter délégation
                    </button> <br>
                <b>Les options sont sauvegardé à la validation du formulaire</b>
              </div>
              <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button" id="close-dialog-@index">Fermer</button>
              </div>
            </dialog>
            <script type='text/javascript'>
                    registerDialog(@index)
            </script>
          </td>
        </tr>
          @if(index % 10 == 9) {
              <tr>
                  <th></th>
                  <th class="mdl-data-table__cell--non-numeric">Nom</th>
                  <th class="mdl-data-table__cell--non-numeric">Administration/Qualité</th>
                  <th class="mdl-data-table__cell--non-numeric">Email</th>
                  <th class="mdl-data-table__cell--non-numeric">Agent A+</th>
                  <th class="mdl-data-table__cell--non-numeric">Aidant A+</th>
                  <th class="mdl-data-table__cell--non-numeric"></th>
              </tr>
          }
      }
      </tbody>
    </table>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell">
      Sauvegarder les modifications
    </button>
  }
  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h4>Admin</h4>
    <ul>
      <li>Peut ajouter et supprimer des utilisateurs</li>
      <li>Peut changer les permissions des utilisateurs</li>
      <li>Peut voir les adresses emails des agents</li>
    </ul>
  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h4>Agent A+</h4>
    <ul>
      <li>Peut répondre à la demande</li>
      <li>Peut inviter des personnes à la demande</li>
      <li>Reçoit une notification par email à chaque nouvelle demande sur lequel il est invité</li>
      <li>Peut voir l'ensemble des messages sur lequel il est invité</li>
    </ul>
  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h4>Aidant A+</h4>
    <ul>
      <li>Peut déposer une demande</li>
      <li>Peut inviter un instructeur sur une demande</li>
      <li>Peut voir uniquement les messages de réponse à la demande</li>
    </ul>
  </div>
    <script type='text/javascript'>
        function deleteDelegation(button){
          button.parentNode.parentNode.removeChild(button.parentNode);
        }

        function addDelegation(userIndex, button) {
          var dialog = button.parentNode.parentNode;
          var countDelegation =  dialog.querySelectorAll(".user-delegations fieldset").length;
          var newNode = document.createElement('fieldset');
          newNode.className = "mdl-grid mdl-cell mdl-cell--12-col";
          newNode.style = "border: 2px groove threedface;";
          newNode.innerHTML = '<div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-cell mdl-cell--12-col">   \
                        <input class="mdl-textfield__input" type="text" name="users['+userIndex+'].delegations['+countDelegation+'].name" id="users_'+userIndex+'_delegations_0_name" value="" label="Nom" class="mdl-cell mdl-cell--12-col">  \
                        <label class="mdl-textfield__label" for="users_'+userIndex+'_delegations_'+countDelegation+'_name">Nom</label>  \
                    </div>                                                                                 \
                    <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-cell mdl-cell--12-col">  \
                        <input class="mdl-textfield__input" type="text" name="users['+userIndex+'].delegations['+countDelegation+'].email" id="users_'+userIndex+'_delegations_0_email" value="" label="Email" class="mdl-cell mdl-cell--12-col"> \
                        <label class="mdl-textfield__label" for="users_'+userIndex+'_delegations_'+countDelegation+'_email">Email</label> \
                    </div><br>  \
                    <p>Pourra agir au nom de l\'agent</p>  \
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--12-col" type="button" onclick="deleteDelegation(this);">  \
                    Supprimer  \
                    </button>';
          dialog.querySelector(".user-delegations").appendChild(newNode);
          componentHandler.upgradeElements(newNode);
        }
    </script>
}