@import _root_.helper.MDLForms._
@import models._
@import java.util.UUID
@import models.formModels.AddUserToGroupFormData
@import cats.implicits.catsSyntaxEq
@(currentUser: User, currentUserRights: Authorization.UserRights)(form: Form[AddUserToGroupFormData])(userGroups: List[UserGroup], users: List[User], applications: List[Application])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader)

@display(users: Seq[User], groupId: UUID)(header: Html)(footer: Html) = {
    <div class="group-container mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white" id="group-@groupId">
        <div>
            <div class="header">@header</div>
        </div>
        <table class="group-table mdl-data-table mdl-js-data-table">
        <div class="sub-header">Liste des membres du groupe</div>
        @for(user <- users) {
            <tr class="no-hover td--clear-border">
                <td class="mdl-data-table__cell--non-numeric @if(user.disabled) { text--strikethrough }">
                  @if(Authorization.canSeeEditUserPage(currentUserRights)) {
                    <a href="@routes.UserController.editUser(user.id)">@user.name</a>
                  } else {
                    <span class="application__name">@user.name</span>
                  }
                    <i></i>
                    <br>
                    <span class="application__subject">@user.qualite</span></td>
                <td class="mdl-data-table__cell--non-numeric @if(user.disabled) { text--strikethrough }">@user.email <br>
                </td>
                <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--content-size">
                    @if(user.groupAdmin) {
                        <span class="tag tag--responsable">Responsable</span>
                    }
                    @if(user.admin) {
                        <span class="tag tag--admin">Admin</span>
                    }
                </td>
                <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--content-size">
                    @if(user.instructor) {
                        <span class="tag tag--instructor">Instructeur</span>
                    }
                    @if(user.helper) {
                        <span class="tag tag--aidant">Aidant</span>
                    }
                </td>
                <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--content-size">
                    <div class="vertical-align--middle">
                        <i class="material-icons icon--light">chat_bubble</i>
                        <span class="application__anwsers">@applications.count(_.creatorUserId === user.id) demandes</span>
                        <br>
                        <i class="material-icons icon--light">question_answer</i>
                        <span class="application__anwsers">@applications.count(_.invitedUsers.contains(user.id))
                            sollicitations</span>
                    </div>
                </td>
                <td class="remove-link-panel">
                @if(user.id =!= currentUser.id) {
                    @helper.form(routes.UserController.removeFromGroup(user.id, groupId), "method" -> "post") {
                        @helper.CSRF.formField
                        <button class="remove-link" type="submit">Retirer&nbsp;du groupe</button>
                    }
                }
                </td>
            </tr>
        }
        </table>
        <div class="single--margin-top-24px single--margin-bottom--24px">
            <div>
            @footer
            </div>
        </div>
    </div>
}


@main(currentUser, currentUserRights)(s"Mes groupes") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
} {
    @for(userGroup <- userGroups.sortBy(_.name)) {
        @defining(users.filter(_.groupIds.contains(userGroup.id))) { groupUsers =>
            @display(groupUsers, userGroup.id) {
                @if(Authorization.canEditGroups(currentUserRights)) {
                  <a href="@routes.GroupController.editGroup(userGroup.id)">@userGroup.name</a>
                } else {
                  @userGroup.name
                }
                <span class="text--font-size-medium">@userGroup.description</span>
            } {
                @helper.form(routes.UserController.addToGroup(userGroup.id), "method" -> "post") {
                    @helper.CSRF.formField
                    @if(form.hasGlobalErrors) {
                        <div class="global-errors">@form.globalErrors.mkString(", ")</div>
                    }
                    <div class="sub-header">Ajouter un membre au groupe</div>
                    <div class="add-new-user-panel single--display-flex">
                        <div>
                            <div class="single--margin-bottom--8px">Adresse e-mail&nbsp;<span class="mdl-color-text--red-500">*</span>&nbsp;:</div>
                            <div>
                                @helper.input(form("email"), "label" -> "Saisir l’adresse e-mail") { (id, name, value, args) =>
                                    <input class="mdl-textfield__input"
                                        type="text"
                                        name="@name"
                                        id="@id"
                                        value="@value"
                                        @toHtmlArgs(args)>
                                }
                            </div>
                        </div>
                        <button class="single--margin-left-24px mdl-button mdl-js-button mdl-button--raised" type="submit">Ajouter au groupe</button>
                    </div>
                }
            }
        }
    }
} {
}
