@import models._
@import extentions.MDLForms._
@(currentUser: User, area: Area)(csvImportContent: String, error: List[FormError])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, messagesProvider: MessagesProvider)

@main(currentUser, area)(s"Importer des utilisateurs") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
} {

    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        @helper.form(routes.UserController.importUsersReview(), 'method -> "post") {
            @helper.CSRF.formField
            <h2 class="mdl-cell mdl-cell--12-col">Importer un contenu CSV (Séparé par des ; )</h2>
            <p>@csvImport.UserImport.HEADER@csvImport.SEPARATOR@csvImport.GroupImport.HEADER</p>
            <textarea label="Contenu du CSV"
                      class="mdl-textfield--floating-label mdl-cell mdl-cell--12-col mdl-textfield__input mdl-color--white"
                      rows= "20"
                      name="csv-import-content"
                      id="csv-import-content">@csvImportContent</textarea>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--10-col mdl-cell--1-offset">
                    Prévisualiser l'importation d'utilisateurs
            </button>
        }
    </div>
}