@import models._
@import _root_.helper.forms.MDLForms._
@import models.forms.CSVRawLinesFormData
@import serializers.UserAndGroupCsvSerializer

@(currentUser: User, currentUserRights: Authorization.UserRights)(form: Form[CSVRawLinesFormData])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, messagesProvider: MessagesProvider, mainInfos: MainInfos)


@main(currentUser, currentUserRights, maxWidth = false)(s"Importer des utilisateurs") {
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>
} {

    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        @helper.form(routes.CSVImportController.importUsersReview, "method" -> "post") {
            @helper.CSRF.formField
            <h2 class="mdl-cell mdl-cell--12-col">Importer un contenu CSV</h2>
            <div>
                <em>Séparateur</em>
                <input type="radio" name="separator" value=";" id="semicolon"><label for="semicolon">Point-virgule</label>
                <input type="radio" name="separator" value="," id="comma" checked><label for="comma">Virgule</label>
            </div>
            <div>
                <em>Départements par défaut : (optionnel, le champ "Territoires" est utilisé dans le cas où il est présent)</em><br>
                <select id="area-default-ids" name="area-default-ids[]" multiple size="5">
                    @for(area <- currentUser.areas.flatMap(Area.fromId)) {
                    <option value="@area.id">@area.name</option>
                    }
                </select>
            </div>
            <em>Format de base attendu : </em>
            <p>@UserAndGroupCsvSerializer.USER_HEADER@UserAndGroupCsvSerializer.SEPARATOR@UserAndGroupCsvSerializer.GROUP_HEADER</p>
            @if(form.errors.nonEmpty) {
                <div style="color: red; font-weight: bold;">@form.errors.map(_.message)</div>
            }

            @helper.input(form("csv-lines"), "class" -> "mdl-textfield--floating-label mdl-textfield--large", "label" -> "Contenu du CSV ...") { (id, name, value, args) =>
                <textarea class="mdl-textfield__input textfield__input--no-height-constraint" type="text" rows= "20" name="@name" id="@id" @toHtmlArgs(args)>@value</textarea>
            }

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--10-col mdl-cell--1-offset">
                    Prévisualiser l'importation d'utilisateurs
            </button>
        }
    </div>
}{
}
