@import helper._

@(token: String, pathToRedirectTo: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, mainInfos: MainInfos)

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>A+</title>
    @webJarsUtil.locate("roboto-fontface.css").css()
    @webJarsUtil.locate("material-icons.css").css()
    @webJarsUtil.locate("material.min.css").css()
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/login.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/mdl-extensions.css")'>
    <meta name="robots" content="noindex" />
</head>
<body>
    <div class="header__ribbon do-not-print mdl-color--cyan-800 mdl-color-text--white" id="header__ribbon">
    BETA
    </div>
<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--deep-purple-900">
    <div class="mdl-layout__header mdl-color-text--grey-500 do-not-print mdl-color--grey-100">
      @toHtml(views.helpers.common.optionalDemoVersionHeader)
    </div>

    <main class="login-main">
        <div class="login-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center ">
                <img src='@routes.Assets.versioned("images/logo_small_150x160.png")' class="logo-login" alt="Administration+">
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="login-content mdl-color--grey-100 mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

              <h3>Vous allez accéder automatiquement à Administration+</h3>
              <p>Si la page suivante ne se charge pas automatiquement, <em><a href="#" id="magic-link-anti-consumption" data-redirect-url="@pathToRedirectTo?token=@token">cliquez ici pour accéder à Administration+</a></em></p>
              <br>
              <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
              <br><br>
              <p class="single--margin-top-40px">Vous rencontrez des difficultés à vous connecter ?<br>
                Contactez-nous sur <a href="mailto:@Constants.supportEmail?subject=Problème%20A+%20Connexion">@Constants.supportEmail</a>.
              </p>
            </div>
        </div>
    </main>
</div>

        <!-- Matomo -->
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/stats.js")"></script>
        <noscript><p><img src="https://stats.beta.gouv.fr/matomo.php?idsite=111&amp;rec=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Matomo Code -->


        @webJarsUtil.locate("material.min.js").script()
        <script type="text/javascript" src="@routes.JavascriptController.javascriptRoutes"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("generated-js/index.js")"></script>
</body>
</html>
