@(user: User, area: Area)(title: String)(header: Html)(content: Html)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>A+</title>
    @webJarsUtil.locate("material.min.css").css()
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/main.css")'>
    @webJarsUtil.locate("roboto-fontface.css").css()
    @webJarsUtil.locate("material-icons.css").css()
    @header
    @webJarsUtil.locate("material.min.js").script()
    <script src="@routes.Assets.versioned("javascripts/polyfills.js")"></script>
    <style>
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
        #accbtn ~ div {
            z-index: 999 !important
        }
    </style>
        <!-- Piwik -->
    <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.aplus.beta.gouv.fr"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.data.gouv.fr/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '42']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
    </script>

        <script>
            function sendLoginMail(sender, email) {
                var request = new XMLHttpRequest();
                var parent = sender.parentNode;
                parent.innerHTML = "<span style='font-weight: bold;'>En cours</span> <img src='@routes.Assets.versioned("images/spin.gif")'>";
                request.open('POST', '@routes.LoginController.login()', true);
                request.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
                request.onload = function() {
                    if (request.status === 200) {
                        parent.innerHTML = "<span style='color: green; font-weight: bold;'>Ok !</span>";
                    } else {
                        parent.innerHTML = "<span style='color: red; font-weight: bold;'>Erreur !</span>";
                    }
                };
                request.onerror = function() {
                    parent.innerHTML = "<span style='color: red; font-weight: bold;'>Erreur !</span>";
                };
                request.send("email="+email);
            }
    </script>
    <noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=42" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </head>
<body>
<div class="header__ribbon do-not-print" id="header__ribbon">
    BETA
</div>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 do-not-print">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">@title</span>
            <div class="mdl-layout-spacer"></div>
            <!--
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Rechercher une demande...</label>
                </div>
            </div>
            -->
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--white mdl-color-text--blue-grey-800 do-not-print">
        <header class="drawer-header" style="display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;">
            <p style="line-height: 1.2; text-align: center;">
                <img src='@routes.Assets.versioned("images/logo_120.png")' class="logo">
            </p>
            <p style="line-height: 1.2;">
            <span style="font-weight: bold;">@user.name</span><br/>
            @user.qualite
            </p>
            <p style="line-height: 1.2; font-size: 11px;">
                <span style="font-weight: bold;">Territoire : </span>
                @area.name
            </p>
            <div class="demo-avatar-dropdown">
                <span style="font-size: 11px;">@user.email</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    @if(user.admin) {
                        @for(area <- Area.all) {
                            <span onclick="document.location='@routes.ApplicationController.changeArea(area.id)';"><li class="mdl-menu__item">@area.name</li></span>
                        }
                    }
                    <span onclick="document.location='@routes.LoginController.disconnect()';"><li class="mdl-menu__item"><i class="material-icons">power_settings_new</i>Déconnexion</li></span>
                </ul>
            </div>
        </header>
        <nav class="navigation mdl-navigation mdl-color--blue-grey-800">
        @if(user.helper) {
            <a class="mdl-navigation__link" href="@routes.ApplicationController.create()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                create_new_folder</i>Nouvelle demande</a>
        }
        <a class="mdl-navigation__link" href="@routes.ApplicationController.all()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder</i>Toutes les demandes</a>
        @if(user.admin || user.groupAdmin) {
            <a class="mdl-navigation__link" href="@routes.UserController.all()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Utilisateurs</a>
        }
        @if(user.admin || user.groupAdmin) {
            <a class="mdl-navigation__link" href="@routes.ApplicationController.stats()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">show_chart</i>Stats</a>
        }
            <a class="mdl-navigation__link" href="@routes.UserController.showCharte()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">content_paste</i>Charte A+</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="mailto:contact&commat;aplus.beta.gouv.fr?subject=Aidez-moi%20avec%20A+"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>Besoin d'aide ? Contactez-nous</a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100" style="height: calc(100% - 16px); overflow-x: auto">
        <div class="mdl-grid main__grid">
            @content
        </div>
    </main>
    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>
    @flash.get("success").map { message =>
        <script type="text/javascript">
            function showMessage(message) {
                var notification = document.querySelector('.mdl-js-snackbar');
                if(!notification.MaterialSnackbar) {
                    setTimeout("showMessage('"+message+"')", 50);
                    return;
                }
                var data = {
                  message: message,
                  timeout: 10000
                };
                notification.MaterialSnackbar.showSnackbar(data);
            }
            showMessage('@message');
        </script>
    }
</div>

    <script>
            if(/localhost|demo/.test(window.location.hostname)) {
                document.getElementById("header__ribbon").innerText = "DEMO";
                var nav = document.getElementsByClassName("navigation")[0]
                nav.classList.add("mdl-color--deep-purple-900")
                nav.classList.remove("mdl-color--blue-grey-800")
            }
    </script>
</body>
</html>

