@import helper._

@(currentUser: User, currentArea: Area, showAreaSelector: Boolean = true, maxWidth: Boolean = true)(title: String)(header: Html)(content: Html)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader)

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Administration+ - @title</title>
    @webJarsUtil.locate("material.min.css").css()
    @webJarsUtil.locate("roboto-fontface.css").css()
    @webJarsUtil.locate("material-icons.css").css()
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/main.css")'>

    @header
    @webJarsUtil.locate("material.min.js").script()
    <script src="@routes.Assets.versioned("javascripts/polyfills.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    @webJarsUtil.locate("dialog-polyfill.css").css()
    @webJarsUtil.locate("dialog-polyfill.js").script()
    <script type="text/javascript" src="@routes.JavascriptController.javascriptRoutes"></script>

    <script src='@routes.Assets.versioned("javascripts/modal.js")'></script>
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/modal.css")'>
    <style>
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
        #accbtn ~ div {
            z-index: 999 !important
        }
    </style>
        <!-- Piwik -->
    <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.aplus.beta.gouv.fr"]]);
            _paq.push(['trackPageView']);
            (function() {
                var u="//stats.data.gouv.fr/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '42']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
    </script>
    <noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=42" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    <script>
            function sendLoginMail(sender, email) {
                var request = new XMLHttpRequest();
                var parent = sender.parentNode;
                parent.innerHTML = "<span style='font-weight: bold;'>En cours</span> <img src='@routes.Assets.versioned("images/spin.gif")'>";
                request.open('POST', '@CSRF(routes.LoginController.login())', true);
                request.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
                request.onload = function() {
                    if (request.status === 200) {
                        parent.innerHTML = "<span style='color: green; font-weight: bold;'>Ok !</span>";
                    } else {
                        parent.innerHTML = "<span style='color: red; font-weight: bold;'>Erreur !</span>";
                    }
                };
                request.onerror = function() {
                    parent.innerHTML = "<span style='color: red; font-weight: bold;'>Erreur !</span>";
                };
                request.send("email="+email);
            }

            function changeArea() {
                var areaSelected = document.getElementById("area").value;
                if(areaSelected != "@currentArea.id") {
                    document.location = "@routes.AreaController.all()/"+areaSelected+"?redirect="+window.location.href;
                }
            }
    </script>
    </head>
<body>
<div class="header__ribbon do-not-print" id="header__ribbon">
    BETA
</div>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header @if(currentUser.admin){ mdl-layout--fixed-drawer }">
    <div class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 do-not-print">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
                <a href="@routes.HomeController.index()"><img src='@routes.Assets.versioned("images/logo_120.png")' class="logo-header" alt="Administration+"></a>
                @title
            </span>
                <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="mdl-layout-spacer"></div>
            <div>
                @currentUser.name
                @if(showAreaSelector && currentUser.areas.length > 1) {
                        <select id="area" name="area" onchange="changeArea()">
                        @for(area <- currentUser.areas.flatMap(Area.fromId)) {
                            <option value="@area.id"
                            @if(area.id == currentArea.id) { selected }>@area.name </option>
                        }
                        </select>
                } else {
                    ( @currentArea.name )
                }
            </div>
                <!-- Navigation -->
            <div>
                <a class="mdl-button" href="@routes.ApplicationController.myApplications()">Toutes mes demandes</a>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <span onclick="document.location='@routes.LoginController.disconnect()';"><li class="mdl-menu__item"><i class="material-icons">power_settings_new</i>Déconnexion</li></span>
            </ul>
        </div>
    </div>

    @if(currentUser.admin) {
    <div class="mdl-layout__drawer mdl-color--white mdl-color-text--blue-grey-800 do-not-print">
        <header class="drawer-header" style="display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;">
            <p style="line-height: 1.2; text-align: center;">
                <img src='@routes.Assets.versioned("images/logo_120.png")' class="logo">
            </p>
            <div class="demo-avatar-dropdown">
                <span style="font-size: 11px;">@currentUser.email</span>
            </div>
        </header>
        <nav class="navigation mdl-navigation mdl-color--blue-grey-800">
        @if(currentUser.admin) {
            <a class="mdl-navigation__link" href="@routes.AreaController.all()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">place</i>Territoires</a>
        }
        @if(currentUser.admin || currentUser.groupAdmin) {
            <a class="mdl-navigation__link" href="@routes.ApplicationController.all(Area.allArea.id)"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder</i>Admin : demandes</a>
            <a class="mdl-navigation__link" href="@routes.UserController.all(Area.allArea.id)"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Utilisateurs</a>
        }
        @if(currentUser.admin) {
            <a class="mdl-navigation__link" href="@routes.UserController.allEvents()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i>Événements</a>
        }
        @if(currentUser.admin || currentUser.groupAdmin) {
            <a class="mdl-navigation__link" href="@routes.ApplicationController.stats()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">show_chart</i>Stats</a>
        }
        </nav>
    </div>
    }

    <main class="mdl-layout__content mdl-color--grey-200" style="height: calc(100% - 16px); overflow-x: auto">
        <div class="mdl-grid main__grid"  @if(maxWidth) { style="max-width: 960px;" }>
            @content
        </div>

        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
              Plus d'informations :
                </div>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="@routes.UserController.showCGU()">CGU</a></li>
                    <li><a href="@routes.HomeController.help()">Contact / Aide / Webinaire</a></li>
                    <li><a href="@routes.Assets.versioned("pdf/mandat_administration_plus_juillet_2019.pdf")" target="_blank">Mandat</a></li>
                </ul>
            </div>
        </footer>
    </main>
    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>
    @flash.get("success").map { message =>
        <script type="text/javascript">
            function showMessage(message) {
                var notification = document.querySelector('.mdl-js-snackbar');
                if(!notification.MaterialSnackbar) {
                    setTimeout("showMessage('"+message+"')", 50);
                    return;
                }
                var data = {
                  message: message,
                  timeout: 10000
                };
                notification.MaterialSnackbar.showSnackbar(data);
            }
            showMessage('@message');
        </script>
    }
</div>

    <script>
            if(/localhost|demo/.test(window.location.hostname)) {
                document.getElementById("header__ribbon").innerText = "DEMO";
                var nav = document.getElementsByClassName("navigation")[0]
                nav.classList.add("mdl-color--deep-purple-900")
                nav.classList.remove("mdl-color--blue-grey-800")
            }
    </script>
</body>
</html>

