@import helper._

@(currentUser: User, currentUserRights: Authorization.UserRights, maxWidth: Boolean = true, modals: Html = Html(""))(title: String)(header: Html)(content: Html)(bodyBottom: Html)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        @toHtml(views.helpers.head.buildInfoMeta)
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <title>Administration+ - @title</title>
        @webJarsUtil.locate("material.min.css").css()
        @webJarsUtil.locate("roboto-fontface.css").css()
        @webJarsUtil.locate("material-icons.css").css()
        @webJarsUtil.locate("fontawesome.css").css()
        @webJarsUtil.locate("solid.css").css()
        <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/mdl-extensions.css")'>

        @header
        <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("generated-js/slimselect.min.css")'>
        <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("generated-js/index.css")'>
    </head>
    <body>
        <div class="header__ribbon do-not-print mdl-color--cyan-800  mdl-color-text--white" id="header__ribbon">
            BETA
        </div>
        <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
            <div class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 do-not-print">

              @toHtml(views.helpers.common.topHeaderConnected)

                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title invisible">
                        <a href="@routes.HomeController.index"><img src='@routes.Assets.versioned("images/logo_small_150x160.png")' class="logo-header" alt="Administration+"></a>
                    </span>
                    <div class="invisible">
                        <a class="mdl-button @if(title == "Mes demandes") { mdl-button--accent }" href="@routes.ApplicationController.myApplications">Mes demandes</a>
                    </div>
                        <!-- Add spacer, to align navigation to the right in desktop -->
                    <div class="mdl-layout-spacer"></div>
                    <div class="hidden--small-screen">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content single--line-height-24px">
                                    <span>@currentUser.name</span>
                                    <span class="mdl-list__item-sub-title">@currentUser.email</span>
                                </span>
                                @if(!currentUser.sharedAccount) {
                                    <span class="mdl-list__item-secondary-content single--align-items-center-important">
                                        <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="@routes.UserController.editProfile" title="Mon profil">
                                            <i class="fas fa-user-circle"></i>
                                        </a>
                                        <span class="mdl-list__item-secondary-info"><a class="mdl-typography--font-regular mdl-color-text--grey-900 mdl-typography--text-nowrap" href="@routes.UserController.editProfile" title="Mon profil">
                                            Mon profil</a></span>
                                    </span>
                                }
                                <span class="mdl-list__item-secondary-content single--align-items-center-important single--padding-left-40px">
                                    <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="@routes.LoginController.disconnect" title="Déconnexion">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </a>
                                    <span class="mdl-list__item-secondary-info"><a class="mdl-typography--font-regular mdl-color-text--grey-900 mdl-typography--text-nowrap" href="@routes.LoginController.disconnect" title="Déconnexion">Se déconnecter</a></span>
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="mdl-layout__drawer mdl-color--white do-not-print mdl-color-text--white">
                <header class="drawer-header" >
                    <p style="line-height: 1.2; text-align: center;">
                        <a href="@routes.HomeController.welcome">
                            <img src="@routes.Assets.versioned("images/logo_full_500x397.png")" alt="Logo Administration+" class="logo">
                        </a>
                    </p>
                </header>
                @helpers.menuNav(currentUserRights)
                <div class="mdl-layout-spacer mdl-color--deep-purple-900"></div>
                <footer class="drawer-footer mdl-color--deep-purple-900">
                    <p>
                      <i class="material-icons mdl-color-text--cyan-600 single--font-size-50px">contact_mail</i>
                      <br>
                      <span class="mdl-typography--subhead">Besoin d’aide ?</span> <br>
                       Contactez-nous: <br>
                        <br>
                        <a href="mailto:@Constants.supportEmail" class="mdl-color-text--cyan-600">@Constants.supportEmail</a>  <br>
                    </p>
                </footer>
            </div>

            <main class="mdl-layout__content mdl-color--grey-200">
                <div class="mdl-grid main__grid single--align-content-flex-start @if(maxWidth) { single--max-width-960px }" >


                @toHtml(views.helpers.forms.flashError)
                @toHtml(views.helpers.forms.flashErrorRawHtml)
                @toHtml(views.helpers.forms.flashSuccess)
                @toHtml(views.helpers.forms.flashSuccessRawHtml)

                    @content
                </div>
                <footer class="mdl-mega-footer mdl-mega-footer-fix do-not-print">
                    <div class="mdl-mega-footer--bottom-section">
                        <div class="mdl-logo">
                            Administration+ @java.time.LocalDate.now().getYear() :
                        </div>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="@routes.HomeController.help">Aide</a></li>
                            <li><a href="https://docs.aplus.beta.gouv.fr/conditions-generales-dutilisation" target="_blank" rel="noopener noreferrer">CGU</a></li>
                            <li><a href="@routes.ApplicationController.showExportMyApplicationsCSV">Exporter mes demandes en CSV</a></li>
                            <li>Accessibilité : non conforme</li>
                        </ul>
                    </div>
                </footer>
            </main>
        </div>

        @*** Note: modals need to be here because:
         ***      1. This is high enough in the DOM to avoid a bug when an
         ***         inner element is scrolled
         ***      2. This is before JS, so events are attached
         ***@
        @modals


        <!-- Piwik -->
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/stats.js")"></script>
        <noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=42" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
        @webJarsUtil.locate("material.min.js").script()
        <script type="text/javascript" src="@routes.JavascriptController.javascriptRoutes"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("generated-js/index.js")"></script>
        @bodyBottom

    </body>
</html>
