@import _root_.helper.Time
@import cats.syntax.all._
@import models.Application.Status.New

@(user: User, currentUserRights: Authorization.UserRights)(myOpenApplications: Seq[Application], myClosedApplications: Seq[Application], applicationsFromTheArea: Seq[Application] = List())(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)


@display(applications: Seq[Application]) = {
  @toHtml(views.myApplications.applicationsList(user, currentUserRights, applications.toList))
}

@main(user, currentUserRights)(s"Mes demandes")  {
<style>
    .pem-table {
        width: 100%;
    }
    #search-input {
        font-size: 17px;
        padding: 5px;
    }
    .usefulness__icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }
    .mdl-data-table__cell--non-numeric > * {
        vertical-align: middle;
    }
</style>
}{
    <div class="mdl-cell mdl-cell--12-col">
    @if(myOpenApplications.isEmpty) {
            @if(myOpenApplications.isEmpty) {
                <div class="info-box">
                    <h4>Bienvenue sur Administration+</h4><br>
                    La page d'accueil d'Administration+ vous permet de consulter la liste de vos demandes en cours.<br>
                    Les demandes permettent la résolution d'un blocage administratif rencontré par un usager.<br><br>
                    @if(user.instructor) {
                        Vous êtes instructeur : vous recevrez un email lorsqu'un aidant sollicitera votre administration ou organisme. <br><br>
                    }
                    @if(Authorization.canCreateApplication(currentUserRights)) {
                        Pour créer votre première demande, vous pouvez utiliser le bouton suivant.<br>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-cell mdl-cell--4-col mdl-cell--12-col-phone onclick-change-location" data-location="@routes.ApplicationController.create">
                            Créer une demande
                        </button><br>
                        <br>
                    <i>Un doute sur la nature du blocage ? Posez-nous la question par mail : <a href="mailto:@Constants.supportEmail?subject=Question">@Constants.supportEmail</a>.</i>
                    }
                </div>
            } else {
                <p>Vous n'avez pas de demande en cours.
                @if(Authorization.canCreateApplication(currentUserRights)) {
                    Pour créer une demande, vous pouvez utiliser le lien suivant : <a href="@routes.ApplicationController.create">Créer une demande</a>.
                }
            }
            </p>

    } else {
        @if(myOpenApplications.nonEmpty) {
           <div class="mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">Mes demandes</h4>
                @if(Authorization.canCreateApplication(currentUserRights)) {
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-cell mdl-cell--4-col mdl-cell--12-col-phone onclick-change-location" data-location="@routes.ApplicationController.create">
                        Créer une demande
                    </button>
                }
            </div>
               <br>
                <span>FILTRER PAR </span><input style="width: 400px; max-width: 100%" type="search" placeholder="Saisir nom, numéro, description, etc" id="search-input"/><br>
                <br>
                @display(myOpenApplications)
        }
    }
    @if(myClosedApplications.nonEmpty) {
        <div class="info-box" id="show-closed-applications"><b>Vous ne voyez pas vos anciennes demandes ?</b> <a href="#" id="show-closed-toggle">Cliquez ici pour afficher vos demandes archivées</a><br>
            (Elles seront supprimées 1 mois après l’archivage.)</div>

        <div class="mdl-grid mdl-grid--no-spacing invisible" id="closed-applications" style="margin: 50px 0;">
            <h4 class="mdl-cell mdl-cell--12-col">Demandes archivées</h4>
            @display(myClosedApplications)
        </div>
    }

    </div>
}{
}
