@import models._
@import extentions.MDLForms._
@import extentions.UUIDHelper

@import forms.Models.UserGroupFormData
@(currentUser: User)(form: Form[List[UserGroupFormData]],
  groupNameToAlreadyExistingGroup: Map[String, UserGroup],
  userEmailToAlreadyExistingUser: Map[String, User])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader)

@display(section: Field, groupIndex: Int)(header: Html) = {
  <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
@header
  <b>Utilisateurs du groupe :</b>
<table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table pem-table">
  <tbody>
    @helper.repeatWithIndex(section("users")) { (user, index) =>
      @defining(userEmailToAlreadyExistingUser.get(user("user")("email").value.getOrElse(""))) { existingUser =>
        @if(existingUser.isEmpty) {
          <tr class="searchable-row td--clear-border" id="line_@{groupIndex}_@{index}">
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              <input name="@user("line").name" value="@user("line").value" type="hidden">
              <input name="@user("user")("id").name" value="@user("user")("id").value" type="hidden">
              <input name="@user("user")("qualite").name" value="@user("user")("qualite").value" type="hidden">

              @helper.input(user("user")("name"), 'label -> "Nom et prénom", 'class -> "input-import-user") { (id, name, value, args) =>
              <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.input(user("user")("email"), 'label -> "Email", 'class -> "input-import-user") { (id, name, value, args) =>
              <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.input(user("user")("phone-number"), 'label -> "Numéro de téléphone", 'class -> "input-import-user") { (id, name, value, args) =>
              <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.input(user("user")("quality"), 'label -> "Qualité", 'class -> "input-import-user") { (id, name, value, args) =>
              <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.checkbox(user("user")("instructor"), 'type -> "checkbox", 'label -> csv.USER_INSTRUCTOR.prefixes(0), 'class -> "mdl-checkbox__input instructor")
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.checkbox(user("user")("adminGroup"), 'type -> "checkbox", 'label -> csv.USER_GROUP_MANAGER.prefixes(0), 'class -> "mdl-checkbox__input")
            </td>
            <td>
              <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" onclick="deleteElement('#line_@{groupIndex}_@index')"><i class="material-icons">delete_forever</i></button>
            </td>
          </tr>
        } else {
          <tr class="searchable-row td--clear-border" id="line_@{groupIndex}_@{index}">
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              <input name="@user("line").name" value="@user("line").value" type="hidden">
              <input name="@user("user")("id").name" value="@existingUser.map(_.id).getOrElse("")" type="hidden">
              <input name="@user("user")("qualite").name" value="@existingUser.map(_.qualite).getOrElse("")" type="hidden">

              @helper.input(user("user")("name"), 'label -> "Nom et prénom", 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user is-disabled mdl-textfield__input--readonly"
                       type="text"
                       name="@name"
                       id="@id"
                       disabled
                       value="@existingUser.map(_.name).getOrElse("")" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.input(user("user")("email"), 'label -> "Email", 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user is-disabled mdl-textfield__input--readonly"
                       type="text"
                       name="@name"
                       id="@id"
                       disabled
                       value="@existingUser.map(_.email).getOrElse("")" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.input(user("user")("phone-number"), 'label -> "Numéro de téléphone", 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user is-disabled mdl-textfield__input--readonly"
                       type="text"
                       name="@name"
                       id="@id"
                       disabled
                       value="@existingUser.map(_.phoneNumber).getOrElse("")" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              @helper.input(user("user")("quality"), 'label -> "Qualité", 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user is-disabled mdl-textfield__input--readonly"
                       type="text"
                       name="@name"
                       id="@id"
                       disabled
                       value="@existingUser.map(_.qualite).getOrElse("")" @toHtmlArgs(args)>
              }
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              <input
                      class="mdl-checkbox__input instructor"
                      type="checkbox"
                      id="instructor_@{groupIndex}_@{index}"
                      disabled
                      name="@user("user")("instructor").name"
                      @if(existingUser.map(_.instructor).getOrElse(false)) { checked }>
              <label for="instructor_@{groupIndex}_@{index}">@csv.USER_INSTRUCTOR.prefixes(0)</label>
            </td>
            <td class="mdl-data-table__cell--non-numeric cell-import-user">
              <input
                      class="mdl-checkbox__input instructor"
                      type="checkbox"
                      id="group_manager_@{groupIndex}_@{index}"
                      name="@user("user")("adminGroup").name"
                      disabled
                      @if(existingUser.map(_.groupAdmin).getOrElse(false)) { checked }>
              <label for="group_manager_@{groupIndex}_@{index}">@csv.USER_GROUP_MANAGER.prefixes(0)</label>
            </td>
            <td>
            </td>
          </tr>
        }
      }
    }
  </tbody>
</table>
  </div>
}

@main(currentUser, maxWidth = false)("Revue de votre import CSV") {
  <script src='@routes.Assets.versioned("javascripts/main.js")'></script>
    <link rel="stylesheet" media="screen,print" href='@routes.Assets.versioned("stylesheets/newForm.css")'>

} {
  @helper.form(routes.CSVImportController.importUsersReviewPost(), 'method -> "post", 'class -> "mdl-cell mdl-cell--12-col") {
  @helper.CSRF.formField
    @if(form.hasErrors) {
      <div class="notification notification--error">
        @for(error <- form.errors) {
        @error.format - @error.key<br>
          @for(arg <- error.args) {
              @arg<br>
          }
        }
      </div>
    }
    <em>Instructeur : </em><a href="#" onclick="checkAllBySelector('.instructor')">Tous</a> / <a href="#" onclick="uncheckAllBySelector('.instructor')">Aucuns</a>
    @helper.repeatWithIndex(form("groups")) { (group, groupIndex) =>
      @display(group, groupIndex) {
        @defining(groupNameToAlreadyExistingGroup.get(group("group")("name").value.getOrElse(""))) { existingGroup =>
          @if(existingGroup.isEmpty) {
            <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding: 0px;">
              <h5 class="title--addline mdl-cell mdl-cell--12-col">@group("group")("name").value.getOrElse("")</h5>
              @helper.input(group("group")("id"), 'label -> "Id", 'class -> "hidden") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
              @helper.input(group("group")("name"), 'label -> "Nom du groupe", 'class -> "mdl-cell mdl-cell--4-col") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
              @helper.input(group("group")("email"), 'label -> csv.GROUP_EMAIL.prefixes(0), 'class -> "mdl-cell mdl-cell--4-col") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
              @defining(group("group")("organisation")) { field =>
              <div class="mdl-cell mdl-cell--4-col">
                Organisation :
                <select id="@field.id" name="@field.name">
                  <option style="font-weight: bold" value="">Organisme non-référencé</option>
                  @for(organisation <- Organisation.all) {
                    <option value="@organisation.shortName" @if(field.value.exists(value => organisation.name.contains(value) || organisation.shortName.contains(value))) {selected}>
                      @organisation.shortName : @organisation.name
                    </option>
                  }
                </select>
              </div>
              }
              <div class="mdl-cell mdl-cell--12-col">
                Territoires : @helper.repeat(group("group")("area-ids")) { areaIdField =>
                @for(area <- areaIdField.value.flatMap(UUIDHelper.fromString).flatMap(Area.fromId)) {
                <input name="@areaIdField.name" value="@area.id" type="hidden">
                <b>@{area.name} (@area.inseeCode) /</b>
                }
                }
              </div>
            </div>
          } else {
            <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding: 0px;">
              <h5 class="title--addline mdl-cell mdl-cell--12-col">@existingGroup.map(_.name).getOrElse("")</h5>
              @helper.input(group("group")("id"), 'label -> "Id", 'class -> "hidden") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user"
                       type="text"
                       name="@name"
                       id="@id"
                       disabled
                       value="@existingGroup.map(_.id).getOrElse("")" @toHtmlArgs(args)>
              }
              @helper.input(group("group")("name"), 'label -> "Nom du groupe", 'class -> "mdl-cell mdl-cell--4-col") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user"
                       type="text"
                       name="@name"
                       id="@id"
                       disabled
                       value="@existingGroup.map(_.name).getOrElse("")" @toHtmlArgs(args)>
              }
              @helper.input(group("group")("email"), 'label -> csv.GROUP_EMAIL.prefixes(0), 'class -> "mdl-cell mdl-cell--4-col") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user"
                       type="text"
                       name="@name"
                       id="@id"
                       disabled
                       value="@existingGroup.map(_.email).getOrElse("")" @toHtmlArgs(args)>
              }
              @defining(existingGroup.map(_.organisation).get) { value =>
                <div class="mdl-cell mdl-cell--4-col">
                  Organisation :
                  <select disabled id="@group("group")("organisation").id" name="@group("group")("organisation").name">
                    <option style="font-weight: bold" value="">Organisme non-référencé</option>
                    @for(organisation <- Organisation.all) {
                      <option value="@organisation.shortName" @if(value.exists(value => organisation.name.contains(value) || organisation.shortName.contains(value))) {selected}>
                        @organisation.shortName : @organisation.name
                      </option>
                    }
                  </select>
                </div>
              }
              <div class="mdl-cell mdl-cell--12-col">
                Territoires : @for(areaId <- existingGroup.map(_.areaIds).getOrElse(Nil)) {
                  @for(area <- Area.fromId(areaId)) {
                    <b>@{area.name} (@area.inseeCode) /</b>
                  }
                }
                @helper.repeat(group("group")("area-ids")) { areaIdField =>
                  @for(area <- areaIdField.value.flatMap(UUIDHelper.fromString).flatMap(Area.fromId)) {
                    <input name="@areaIdField.name" value="@area.id" type="hidden">
                  }
                }
              </div>
            </div>
          }
        }
      }
    }
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell" onsubmit="Main.disableEventTarget(this)">Importer</button>
  }
}