@import models._
@import extentions.MDLForms._
@(currentUser: User, area: Area)(form: Form[List[csv.SectionImport]])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader)

@display(section: Field)(header: Html)(footer: Html) = {
<table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table pem-table mdl-shadow--2dp mdl-color--white">
  <thead>
    <tr>
      @header
    </tr>
  </thead>
  <tbody>
    @helper.repeatWithIndex(section("users")) { (user, index) =>
    <tr class="searchable-row td--clear-border">
      <td class="mdl-data-table__cell--non-numeric cell-import-user">
        @helper.input(user("id"), 'label -> "Id", 'class -> "hidden input-import-user") { (id, name, value, args) =>
          <input class="mdl-textfield__input input-import-user" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
        }
        @helper.input(user(csv.USER_NAME_HEADER_PREFIX), 'label -> "Nom et prénom", 'class -> "input-import-user") { (id, name, value, args) =>
          <input class="mdl-textfield__input input-import-user @if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {mdl-textfield__input--readonly}" @{if(user("id").value.getOrElse(csv.deadbeef.toString)!= csv.deadbeef.toString) {"readonly"}} type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
        }
      </td>
      <td class="mdl-data-table__cell--non-numeric cell-import-user">
        @helper.input(user(csv.USER_QUALITY_HEADER_PREFIX), 'label -> "Qualité", 'class -> "input-import-user") { (id, name, value, args) =>
          <input class="mdl-textfield__input input-import-user @if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {mdl-textfield__input--readonly}" @{if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {"readonly"}} type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
        }
      </td>
      <td class="mdl-data-table__cell--non-numeric cell-import-user">
        @helper.input(user(csv.USER_EMAIL_HEADER_PREFIX), 'label -> "Email", 'class -> "input-import-user") { (id, name, value, args) =>
          <input class="mdl-textfield__input input-import-user @if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {mdl-textfield__input--readonly}" @{if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {"readonly"}} type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
        }
      </td>
      <td class="mdl-data-table__cell--non-numeric cell-import-user">
        @if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {
          <span>@csv.HELPER_HEADER_PREFIX</span>
        } else {
            <label for="@user(csv.HELPER_HEADER_PREFIX).id">@csv.HELPER_HEADER_PREFIX</label>
            <input class=""
                   type="checkbox"
                   name="@user(csv.HELPER_HEADER_PREFIX).name"
                   id="@user(csv.HELPER_HEADER_PREFIX).id"
                   value="@user(csv.HELPER_HEADER_PREFIX).value.getOrElse("")"
                   @{if(!user(csv.HELPER_HEADER_PREFIX).value.getOrElse("").isEmpty) "checked"} />
        }
      </td>
      <td class="mdl-data-table__cell--non-numeric cell-import-user">
        @if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {
          <span>@csv.INSTRUCTOR_HEADER_PREFIX</span>
        } else {
          <label for="@user(csv.INSTRUCTOR_HEADER_PREFIX).id">@csv.INSTRUCTOR_HEADER_PREFIX</label>
          <input class=""
                 type="checkbox"
                 name="@user(csv.INSTRUCTOR_HEADER_PREFIX).name"
                 id="@user(csv.INSTRUCTOR_HEADER_PREFIX).id"
                 value="@user(csv.INSTRUCTOR_HEADER_PREFIX).value.getOrElse("")"
                 @{if(!user(csv.INSTRUCTOR_HEADER_PREFIX).value.getOrElse("").isEmpty) "checked"} />
        }
      </td>
      <td class="mdl-data-table__cell--non-numeric cell-import-user">
        @if(user("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {
          <span>@csv.GROUP_MANAGER_HEADER_PREFIX</span>
        } else {
          <label for="@user(csv.GROUP_MANAGER_HEADER_PREFIX).id">@csv.GROUP_MANAGER_HEADER_PREFIX</label>
          <input class=""
                 type="checkbox"
                 name="@user(csv.GROUP_MANAGER_HEADER_PREFIX).name"
                 id="@user(csv.GROUP_MANAGER_HEADER_PREFIX).id"
                 value="@user(csv.GROUP_MANAGER_HEADER_PREFIX).value.getOrElse("")"
                 @{if(!user(csv.GROUP_MANAGER_HEADER_PREFIX).value.getOrElse("").isEmpty) "checked"} />
        }
      </td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" colspan="6">
        @footer
      </td>
    </tr>
    <tr class="invisible">
      <td class="mdl-data-table__cell--non-numeric" colspan="6">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="clearSearch()">Supprimer le filtre et afficher toutes les demandes</button>
      </td>
    </tr>
  </tfoot>
</table>
}

@main(currentUser, area, false)("Revue de votre import CSV") {
} {
  @helper.form(routes.UserController.importUsersReview(), 'method -> "post", 'class -> "mdl-cell mdl-cell--12-col") {
  @helper.CSRF.formField
    @helper.repeatWithIndex(form("sections")) { (section, index) =>
        @display(section) {
            <th class="mdl-data-table__cell--non-numeric mdl-data-table--th--nopadding">
              @helper.input(section("group")(csv.GROUP_NAME_HEADER_PREFIX), 'label -> csv.GROUP_NAME_HEADER_PREFIX, 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user @if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {mdl-textfield__input--readonly}" @{if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {"readonly"}} type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </th>
            <th class="mdl-data-table__cell--non-numeric mdl-data-table--th--nopadding" colspan="1">
              @helper.input(section("group")(csv.GROUP_ORGANISATION_HEADER_PREFIX), 'label -> csv.GROUP_ORGANISATION_HEADER_PREFIX, 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user @if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {mdl-textfield__input--readonly}" @{if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {"readonly"}} type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </th>
            <th class="mdl-data-table__cell--non-numeric mdl-data-table--th--nopadding" colspan="2">
              @helper.input(section("group")(csv.TERRITORY_HEADER_PREFIX), 'label -> csv.TERRITORY_HEADER_PREFIX, 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user @if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {mdl-textfield__input--readonly}" @{if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {"readonly"}} type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </th>
            <th class="mdl-data-table__cell--non-numeric mdl-data-table--th--nopadding" colspan="2">
              @helper.input(section("group")(csv.GROUP_EMAIL_HEADER_PREFIX), 'label -> csv.GROUP_EMAIL_HEADER_PREFIX, 'class -> "input-import-user") { (id, name, value, args) =>
                <input class="mdl-textfield__input input-import-user @if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {mdl-textfield__input--readonly}" @{if(section("group")("id").value.getOrElse(csv.deadbeef.toString) != csv.deadbeef.toString) {"readonly"}} type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
              }
            </th>
        } { }
    }
  }
}