@import models._
@import _root_.helper.MDLForms._
@(user: User)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, messagesProvider: MessagesProvider)

@main(user)("Conditions générales d'utilisations")  {
<style>
    .mdl-data-table td {
        padding: 0px 18px;
    }
    .invisible {
        display: none;
    }
</style>
}{
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h3 class="mdl-cell mdl-cell--12-col">@if(user.cguAcceptationDate.isDefined) {CGU} else {Validation des CGU pour continuer}</h3>
    @if(user.cguAcceptationDate.isEmpty) { <p>Pour accéder à la plateforme Administration+, vous devez valider les CGU suivantes : (si elles ne s'affichent pas, vous pouvez les télécharger plus bas sur cette page)</p>}
    <iframe src="@routes.Assets.versioned("html/CGU_13_mai_2019.html")" width="100%" height="400px"></iframe>
    <p><a href="@routes.Assets.versioned("pdf/CGU_13_mai_2019.pdf")" target="_blank" download="charte_3_octobre_2018.pdf">Si vous ne voyez pas les CGU cliquez-ici pour les télécharger.</a></p>
        @if(user.cguAcceptationDate.isEmpty) {
            @helper.form(action = routes.UserController.validateCGU(), args = 'class -> "mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing") {
                @helper.CSRF.formField
                @flash.get("redirect").map { redirect =>
                    <input name="redirect" value="@redirect"  style="display: none">
                }
            <div>
                <p><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-newsletter" style="height: unset;">
                    <input type="checkbox" id="checkbox-newsletter" name="newsletter" class="mdl-checkbox__input" value="true">
                    <span class="mdl-checkbox__label">J’accepte de recevoir la newsletter mensuelle d'Administration+ sur l’évolution de l’outil et de l’élargissement de la communauté.</span>
                </label><br>

                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-charte" style="height: unset;">
                    <input type="checkbox" id="checkbox-charte" name="validate" class="mdl-checkbox__input" value="true">
                    <span class="mdl-checkbox__label">J’atteste avoir pris connaissance des conditions générales d’utilisation et je m’engage à les respecter.</span>
                </label> </p>
                <button id="validation" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--10-col mdl-cell--1-offset" disabled>
                    Valider les CGU
                </button>
            </div>
        }
    }
</div>
    <script>
        var checkbox = document.querySelector("#checkbox-charte");

        checkbox.addEventListener('click', function() {
             if(checkbox.checked) {
                 document.querySelector("#validation").disabled = false;
             } else {
                 document.querySelector("#validation").disabled = true;
             }
        });
    </script>
}{
}
