@(user: User, area: Area)(users: List[User], application: Application, answers: List[Answer])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)
@import java.util.Locale

@main(user, area)(s"Demande : ${application.subject} ")  {
<style>
.mdl-list__item-primary-content {
    font-weight: bold;
}
.map__leaflet {
    height: 250px;
}
.application__key {
    width: 40%;
    font-weight: bold;
}
.application__value {
    width: 60%;
    white-space: pre-wrap;
}
.application {
    white-space: normal;
}

@@media screen and (max-width: 600px) {
    .mdl-data-table__cell--non-numeric {
        display: block;
        float: left;
        width: 100%;
        height: initial !important;
    }
}

div hr {
    width: 95%;
    margin: 0px auto;
}
div hr:last-child {
    display: none;
}


.mdl-tabs__tab-bar {
    border-bottom: 0px;
}

</style>
}{
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">@application.subject</h2>
            </div>
            @if((application.creatorUserId == user.id || user.admin) && application.status != "Terminé") {
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect do-not-print" onclick="confirmTerminate()">
                        Clore la demande
                    </button>
                </div>
            }
            <div class="mdl-card__supporting-text mdl-card--border do-not-print">
                <span><a href="mailto:contact&commat;aplus.beta.gouv.fr?subject=Aidez-moi%20avec%20A+"><i class="material-icons" style="vertical-align: middle;">help_outline</i> Besoin d'aide ? Contactez-nous</a> ( contact&commat;aplus.beta.gouv.fr )</span>
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                Etat: <b>@application.status</b> | Invités: <b>@application.invitedUsers.values.mkString(", ")</b> | Territoire: <b>@Area.all.find(_.id == application.area).get.name</b>
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                <h4>Informations de l'usager:</h4>
                <ul>
                @for((key, value) <- application.userInfos) {
                    <li>@key: <b>@value</b></li>

                }
                </ul>
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>@application.creatorUserName</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span>@application.creationDate.toString("E dd MMM YYYY - HH:mm", new Locale("fr"))</span>
                        </span>
                    </li>
                </ul>
                <p style="white-space: pre-line;">@application.description</p>
            </div>
            @for(answer <- answers){
                <div class="mdl-card__supporting-text mdl-card--border" id="answer-@answer.id">
                    <ul class="mdl-list">
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                                <span>@answer.creatorUserName</span>
                                <span class="mdl-list__item-sub-title"></span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                                <span>@answer.creationDate.toString("E dd MMM YYYY  - HH:mm", new Locale("fr"))</span>
                            </span>
                        </li>
                    </ul>
                    @if(user.instructor || answer.visibleByHelpers || answer.creatorUserID == user.id) {
                        <p style="white-space: pre-line;">@answer.message</p>
                    } else {
                        <b>Echange entre </b>
                    }
                    @if(answer.invitedUsers.nonEmpty) {
                        <b>Notifiés:</b>
                        @answer.invitedUsers.values.mkString(", ")
                    }
                    @if(answers.last == answer && ((application.creatorUserId == user.id || user.admin) && application.status != "Terminé")) {
                        <div class="info-box do-not-print">
                        Si l'agent a répondu à votre demande, vous pouvez clore la demande:<br><br>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect" onclick="confirmTerminate()" >
                                Clore la demande
                        </button> <br><br>
                        Sinon n'hésitez à le recontacter en utilisant </i><b>Répondre aux agents</b> si dessous.
                        </div>
                    }
                </div>
            }


            <div class="mdl-card__actions do-not-print mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        @if(user.instructor) {
                            <a href="#answer-helper" class="mdl-tabs__tab mdl-color-text--primary"><i class="material-icons">
                                reply</i> Répondre à l'aidant</a>
                        }
                        @if(application.invitedUsers.filterNot(_._1 == user.id).nonEmpty) {
                            <a href="#answer-agents" class="mdl-tabs__tab mdl-color-text--primary"><i class="material-icons">
                                reply_all</i> Répondre aux agents</a>
                        }
                        @if(user.instructor) {
                            <a href="#invite-agents" class="mdl-tabs__tab mdl-color-text--primary"><i class="material-icons">
                                person_add</i> Inviter un agent A+</a>
                        }
                    </div>

                    @if(user.instructor) {
                        <div class="mdl-tabs__panel" id="answer-helper">
                            <h3 class="mdl-cell mdl-cell--12-col"><i class="material-icons">reply</i> Répondre directement à l'aidant @application.creatorUserName</h3>
                            <form action="@routes.ApplicationController.answerHelper(application.id)" class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing" method="post">
                                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                                    <b>Votre réponse permet d'indiquer le statut des démarches et procédures en cours pour l'aidant @application.creatorUserName. L'aidant est en contact direct avec l'usager et pourra lui transmettre les informations. Merci d'utiliser vos outils habituels pour continuer l'instruction.</b>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                        <textarea class="mdl-textfield__input" type="text" rows= "5" id="sample5" style="width: 100%;" name="message"></textarea>
                                        <label class="mdl-textfield__label" for="sample5">Détaillez votre réponse ici...</label>
                                    </div>
                                    <button id="review-validation" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--12-col">
                                        Répondre à l'aidant
                                    </button>
                                </div>
                            </form>
                        </div>
                    }
                    @if(application.invitedUsers.filterNot(_._1 == user.id).nonEmpty) {
                    <div class="mdl-tabs__panel" id="answer-agents">
                        <h3 class="mdl-cell mdl-cell--12-col"><i class="material-icons">reply_all</i> Répondre aux agents invités à cette demande</h3>
                        <form action='@routes.ApplicationController.answerAgents(application.id)' class="mdl-cell mdl-cell--12-col" method="post">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric"></th>
                                    <th class="mdl-data-table__cell--non-numeric">Répondre à</th>
                                </tr>
                                <tbody>
                                @for((userId, userName) <- application.invitedUsers.filterNot(_._1 == user.id)) {
                                    <tr>
                                        <td>
                                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                                                <input type="checkbox" class="mdl-checkbox__input" name="users[]" value="@userId" checked>
                                            </label>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">@userName</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            @if(user.id == application.id) {
                                <div class="info-box">Les échanges entre les agents A+ ne seront pas visible par les aidants.</div>
                            }
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                <textarea class="mdl-textfield__input" type="text" rows= "5" id="sample5" style="width: 100%;" name="message"></textarea>
                                <label class="mdl-textfield__label" for="sample5">Laisser votre réponse ici...</label>
                            </div>
                            <button id="application-complete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--12-col">Répondre aux agents A+ sélectionnés</button>
                        </form>
                    </div>
                    }

                    @if(user.instructor) {
                        <div class="mdl-tabs__panel" id="invite-agents">
                            <h3 class="mdl-cell mdl-cell--12-col"><i class="material-icons">
                                person_add</i> Inviter un agent A+ sur cette demande</h3>
                            <form action='@routes.ApplicationController.invite(application.id)' class="mdl-cell mdl-cell--12-col" method="post">
                                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric"></th>
                                            <th class="mdl-data-table__cell--non-numeric">Qualité</th>
                                            <th class="mdl-data-table__cell--non-numeric">Nom</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @for(user <- users) {
                                        <tr>
                                            <td>
                                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                                                    <input type="checkbox" class="mdl-checkbox__input" name="users[]" value="@user.id">
                                                </label>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric">@user.qualite</td>
                                            <td class="mdl-data-table__cell--non-numeric">@user.name</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                                <h5>Ajouter un message</h5>
                                <div class="info-box">Les échanges entre les agents A+ ne seront pas visible par les aidants.</div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    <textarea class="mdl-textfield__input" type="text" rows= "5" id="sample5" style="width: 100%;" name="message"></textarea>
                                    <label class="mdl-textfield__label" for="sample5">Laisser ici le commentaire pour l'invitation...</label>
                                </div>
                                <button id="application-complete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--12-col">Inviter les agents A+ sélectionnés</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    <script>

            function confirmTerminate() {
                var ret = confirm("L'action suivante est définitive: êtes-vous sûr de vouloir clôre la demande ?");
                if(ret) {
                    document.location = '@routes.ApplicationController.terminate(application.id)';
                }
                return ret;
            }
    </script>
}
