@import _root_.helper.Time
@import _root_.helper.forms.MDLForms._
@import _root_.helper.BooleanHelper.not
@import cats.implicits.catsSyntaxEq
@import models.Answer.AnswerType
@import models.Authorization
@import serializers.Keys

@(currentUser: User, currentUserRights: Authorization.UserRights)(groupsWithUsersThatCanBeInvited: List[(UserGroup,List[User])], groupsThatCanBeInvited: List[UserGroup], application: Application, answerToAgentsForm: Form[_], openedTab: String, selectedArea: Area, userSignature: Option[String], attachments: List[FileMetadata], usersOrganisations: Map[java.util.UUID, List[Organisation.Id]])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader, mainInfos: MainInfos)


@main(currentUser, currentUserRights, modals = toHtml(views.application.closeApplicationModal(application.id)))(s"Demande de ${application.creatorUserName} - ${Area.fromId(application.area).get.name}")  {
<style>
.mdl-list__item-primary-content {
    font-weight: bold;
}
.map__leaflet {
    height: 250px;
}
.application__key {
    width: 40%;
    font-weight: bold;
}
.application__value {
    width: 60%;
    white-space: pre-wrap;
}
.application {
    white-space: normal;
}

@@media screen and (max-width: 600px) {
    .mdl-data-table__cell--non-numeric {
        display: block;
        float: left;
        width: 100%;
        height: initial !important;
    }
}

div hr {
    width: 95%;
    margin: 0px auto;
}
div hr:last-child {
    display: none;
}


.mdl-tabs__tab-bar {
    border-bottom: 0px;
}
.mdl-list__item-avatar {
    background-color: #e7e7e7;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

.input--sweet {
    display: none;
}
.input--sweet + label {
    position: relative;
    padding: 6px;
    border-radius: 2px;
    font-weight: bold;
    -ms-user-select: none;
    user-select: none;
    background-color: grey;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 85px;
    width: 70px;
    box-sizing: border-box;
    display: flex;
    line-height: 1.2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border: grey solid;
}


.input--sweet:checked + label {
    background-color: #fdfdfd;
    color: #555;
}

.input--sweet + label:hover {
    background-color: #ececec;
    color: #555;
}

.input--sweet:not(checked) + label > img {
    -webkit-filter: grayscale(10);
    filter: grayscale(10);
}
.input--sweet:checked + label > img, .input--sweet + label:hover > img {
    -webkit-filter: initial;
    filter: initial;
}
.input__icon {
    width: 36px;
    height: 36px;
}


.inputs--row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.mdl-button--nowrap {
     height: initial;
}
.mdl-card {
    min-height: 150px;
}

.mdl-textfield__input {
    border: 1px solid rgba(0,0,0,.12);
}

.answer {
    min-height: 112px;
}

.answer:target {
    border: 2px solid black;
}

.application__message {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.answer__message {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-left: 72px;
    margin-top: -20px;
}

.mdl-list__item-primary-content {
    font-weight: initial;
}

.mdl-card__supporting-text-without-transparency {
    color: #00234d;
}

</style>
}{

  @toHtml(views.application.answerFormError(answerToAgentsForm))


        @if(Authorization.canCloseApplication(application)(currentUserRights) && not(application.closed)) {
            <button id="archive-button-1" class="mdl-cell mdl-cell--3-col mdl-cell--9-offset-desktop mdl-cell--12-col-phone mdl-button mdl-button--raised mdl-button--primary mdl-js-button do-not-print">
                Archiver l’échange
            </button>
        }
        @if(Authorization.canOpenApplication(application)(currentUserRights) && application.closed) {
          @toHtml(views.application.reopenButton(application.id))
        }
        <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">@application.subject</h2>
                <div class="mdl-card__menu do-not-print">

                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-button--icon mdl-button--fab onclick-print">
                        <i class="material-icons">print</i>
                    </button>
                </div>
            </div>
            @if(currentUser.admin) {
                <div class="mdl-card__supporting-text mdl-card--border do-not-print">
                    <span class="do-not-print mdl-color-text--red single--font-weight-bold">
                        Référence interne pour les administrateurs : @application.internalId
                    </span>
                </div>
            }
            <div class="mdl-card__supporting-text mdl-card--border vertical-align--middle">
                <i class="material-icons icon--light">chat_bubble</i> <span class="application__anwsers"><b>@application.answers.length</b> messages </span> |
                <span class="application__age">Créée il y a @application.ageString (@Time.formatPatternFr(application.creationDate, "dd MMM YYYY - HH:mm")) </span> |
                    @for(area <- Area.fromId(application.area)){ @area.name}
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                <div class="info-box">
                    @for((key, value) <- application.userInfos) {
                        @key: <b>@value</b><br>
                    }
                    @for(answer <- application.answers) {
                        @for((key, value) <- answer.userInfos.getOrElse(Map())) {
                            @key: <b>@value</b> (ajouté le @Time.formatPatternFr(answer.creationDate, "E dd MMM YYYY"))</br>
                        }
                    }
                </div>
                <p class="application__message">@application.description</p>
                @for(mandatType <- application.mandatType) {
                    <span>
                        J’atteste avoir recueilli l’autorisation de l’usager
                        @mandatType match {
                            case Application.MandatType.Sms => {
                                par sms
                            }
                            case Application.MandatType.Phone => {
                                par téléphone (à l’oral)
                            }
                            case Application.MandatType.Paper => {
                                par mandat signé
                            }
                        }
                        @for(mandatDate <- application.mandatDate) { (@mandatDate) }
                    </span>
                }
                @toHtml(views.application.applicationFilesLinks(attachments, application, currentUser, currentUserRights, mainInfos.config))

            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-grid mdl-color--blue-grey-100 do-not-print">
            <div class="mdl-list mdl-cell mdl-cell--12-col">
                Créée par
                <div class="mdl-list__item">
                    <div class="mdl-list__item-primary-content">
                        @toHtml(views.application.organisationIcon(application.creatorUserId, application.creatorUserName, usersOrganisations))
                        <span>
                          @application.creatorUserName
                          @if(Authorization.isAdmin(currentUserRights)) {
                            <a class="mdl-navigation__link"
                               href="@routes.UserController.editUser(application.creatorUserId)"
                               target="_blank">
                              <i class="material-icons material-icons--small-postfix">open_in_new</i>
                            </a>
                          }
                        </span>
                    </div>
                </div>
                Participants à la discussion
                @for((userId, userName) <- application.invitedUsers) {
                    <div class="mdl-list__item">
                        <div class="mdl-list__item-primary-content">
                            @toHtml(views.application.organisationIcon(userId, userName, usersOrganisations))
                            <span>
                              @userName
                              @if(Authorization.isAdmin(currentUserRights)) {
                                <a class="mdl-navigation__link"
                                   href="@routes.UserController.editUser(userId)"
                                   target="_blank">
                                  <i class="material-icons material-icons--small-postfix">open_in_new</i>
                                </a>
                              }
                            </span>
                        </div>
                        <div class="mdl-list__item-secondary-content">
                            @application.seenByUsersMap.get(userId) match {
                              case None => {}
                              case Some(date) => {
                                <div id="seen-@userId" class="vertical-align--middle">
                                    <i class="material-icons">remove_red_eye</i>
                                </div>
                                <div class="mdl-tooltip" for="seen-@userId">
                                    Consultée par l’utilisateur (@Time.formatPatternFr(date.atZone(currentUser.timeZone), "dd MMM YYYY - HH:mm"))
                                </div>
                              }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        @toHtml(views.application.answerThread(application, attachments, currentUser, currentUserRights, usersOrganisations, mainInfos.config))



    @flash.get("answer-error").map { error =>
        <div class="mdl-cell mdl-cell--12-col" id="answer-error">
            <div class="notification notification--error"><b>@error</b><br>
                Si l’erreur persiste vous pouvez contacter l’équipe A+ : <a href="mailto:@Constants.supportEmail?subject=@error">@Constants.supportEmail</a>
            </div>
        </div>
    }

<div class="mdl-card mdl-cell mdl-cell--12-col do-not-print">
    <div class="mdl-cell mdl-cell--12-col mdl-tabs mdl-js-tabs mdl-js-ripple-effect single--margin-0px single--width-100pc">
        <div class="mdl-tabs__tab-bar mdl-tabs__tab-bar--align-left mdl-tabs__tab-bar--multiline-text mdl-color--grey-200">
            <a href="#answer" class="mdl-tabs__tab mdl-tabs__tab--multiline-text mdl-color-text--primary single--display-flex single--align-items-center @if(openedTab =="answer"){ is-active  }">
                <i class="material-icons single--margin-right-8px single--hidden-phone">reply_all</i>
                Ajouter une réponse
            </a>

            <a href="#invite" class="mdl-tabs__tab mdl-tabs__tab--multiline-text mdl-color-text--primary single--display-flex single--align-items-center @if(openedTab =="invite"){ is-active }">
              <i class="material-icons single--margin-right-8px single--hidden-phone">person_add</i>
              Inviter
            </a>

            <span class="single--flex-grow-1"></span>

            @if(Authorization.canCloseApplication(application)(currentUserRights) && not(application.closed)) {
                <div>
                    <button id="archive-button-3" class="mdl-button mdl-button--raised mdl-button--primary mdl-button--multiline-text mdl-js-button do-not-print">
                        Archiver l’échange
                    </button>
                </div>
            }

        </div>

        <div class="mdl-tabs__panel @if(openedTab =="answer"){ is-active  } " id="answer">
            <form action="@routes.ApplicationController.answer(application.id)" class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing single--margin-0px single--width-100pc aplus-protected-form" method="post" enctype="multipart/form-data">

                @helper.CSRF.formField
                <input type="hidden" name="answer-id" readonly value="@answerToAgentsForm("answer-id").value.getOrElse(java.util.UUID.randomUUID)">

                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                    @if(currentUser.instructor) {
                        <div class="info-box">Votre réponse permet d’indiquer le statut des démarches et procédures en cours pour l’aidant @application.creatorUserName et les personnes invitées sur la demande. L’aidant est en contact direct avec l’usager et pourra lui transmettre les informations. <b>Merci d’utiliser vos outils habituels pour continuer une instruction.</b></div>
                    }
                    @if(currentUser.id == application.creatorUserId) {
                        <h5 class="mdl-cell mdl-cell--12-col">Ajouter des informations concernant l’usager :</h5>
                        <div class="mdl-cell mdl-cell--12-col">
                            @helpers.usersInformations(answerToAgentsForm, Nil, false)
                        </div>
                    }

                </div>

                <hr class="single--width-100pc">

                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                    <h5 class="mdl-cell mdl-cell--12-col">Votre réponse :</h5>

                      @toHtml(views.application.noAnswerError(answerToAgentsForm))

                        @if(currentUser.instructor) {
                            <div class="mdl-cell mdl-cell--12-col single--display-flex single--flex-direction-column">
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" id="option-1-label" for="option-1">
                                    <input type="radio" id="option-1" class="mdl-radio__button" name="answer_type" value="workInProgress">
                                    <span class="mdl-radio__label">Je m’en occupe</span>
                                </label>


                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" id="option-3-label" for="option-3">
                                    <input type="radio" id="option-3" class="mdl-radio__button" name="answer_type" value="wrongInstructor">
                                    <span class="mdl-radio__label">Je ne suis pas le bon interlocuteur</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" id="option-4-label" for="option-4">
                                    <input type="radio" id="option-4" class="mdl-radio__button" name="answer_type" value="custom" checked>
                                    <span class="mdl-radio__label">Réponse personnalisée :</span>
                                </label>
                                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col single--padding-0px">
                                    <textarea id="custom-answer" class="mdl-textfield__input" type="text" rows="5" style="width: 100%;" name="message"></textarea>
                                </div>
                            </div>
                        }

                        @if(not(currentUser.instructor)) {
                            <input type="hidden" name="answer_type" value="custom" readonly>
                            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col single--padding-0px">
                                <textarea id="non-instructor-answer" class="mdl-textfield__input" type="text" rows= "5" style="width: 100%;" name="message"></textarea>
                            </div>
                        }


                    @if(currentUser.sharedAccount) {
                        <div class="mdl-cell mdl-cell--12-col">
                            Signature <span class="mdl-color-text--red-500">*</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            @helper.input(
                                answerToAgentsForm("signature"),
                                "label" -> "Renseignez ici votre : Prénom, NOM, service",
                                "class" -> "mdl-textfield--large"
                            ) { (id, name, value, args) =>
                            <input class="mdl-textfield__input"
                                   type="text"
                                   name="@name"
                                   id="@id"
                                   @if(currentUser.sharedAccount && value.isEmpty) {
                                       value="@{userSignature.getOrElse(value)}"
                                   } else {
                                       value="@value"
                                   }
                                   @toHtmlArgs(args)>
                            }
                        </div>
                    }

                                <div class="mdl-cell mdl-cell--12-col">
                                    <b>Ajouter un ou plusieurs fichiers ( 5Mo maximum au total ) :</b>
                                    <ul id="attachment-list">
                                        <li><input type="file" name="file[0]"></li>
                                    </ul>
                                </div>
                                @if(currentUser.instructor) {
                                    <div id="invalide-choice" class="mdl-cell mdl-cell--12-col">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events vertical-align--middle">
                                            <input type="checkbox" class="mdl-checkbox__input" name="irrelevant" value="true">
                                            <span class="mdl-checkbox__label">Cette demande dispose d’une procédure standard que l’aidant aurait pu utiliser</span> <i class="icon material-icons icon--light">info</i>
                                        </label>
                                    </div>
                                    <div class="mdl-tooltip" for="invalide-choice">
                                        La demande sera classée comme « non pertinente » dans les statistiques d’usage.
                                    </div>
                                }
                                @if(currentUser.instructor || currentUser.expert) {
                                    <div id="private-answer" class="mdl-cell mdl-cell--12-col">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events vertical-align--middle">
                                            <input type="checkbox" class="mdl-checkbox__input" name="privateToHelpers" value="true">
                                            <span class="mdl-checkbox__label">Restreindre le message aux instructeurs Administration+ </span> <i class="icon material-icons icon--light">info</i>
                                        </label>
                                    </div>
                                    <div class="mdl-tooltip" for="private-answer">
                                        Le message ne sera pas visible par l’aidant.
                                    </div>

                                }


                                @toHtml(views.application.applicationProcessedCheckbox(currentUser))


                                <div class="mdl-cell mdl-cell--12-col">
                                    <button class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-button--colored js-on-submit-disabled">
                                        Répondre
                                    </button>
                                </div>
                </div>
            </form>
        </div>


        <div class="mdl-tabs__panel @if(openedTab =="invite"){ is-active }" id="invite">
          @toHtml(views.application.inviteForm(currentUser, currentUserRights, groupsWithUsersThatCanBeInvited, groupsThatCanBeInvited, application, selectedArea))
        </div>

                </div>
        </div>
    <!--
    We use twemoji for emoji : https://github.com/twitter/twemoji
    -->
}{
}
