@import _root_.helper.Time

@(user: User, currentUserRights: Authorization.UserRights)(mandat: Mandat)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)

@main(user, currentUserRights)(s"""Mandat du ${Time.formatPatternFr(mandat.creationDate, "dd MMM YYYY - HH:mm")}""")  {

}{

<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--12-col">
        <h4>Mandat du @{Time.formatPatternFr(mandat.creationDate, "dd MMM YYYY - HH:mm")}</h4>
        <div class="mdl-grid">
            @mandat.applicationId.map { applicationId =>
            <div class="mdl-cell mdl-cell--12-col">
                <a href="@routes.ApplicationController.show(applicationId)">Demande liée</a>
            </div>
            }

            <div class="mdl-cell mdl-cell--12-col">
                Prénom : @mandat.usagerPrenom
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                Nom : @mandat.usagerNom
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                Date de naissance : @mandat.usagerBirthDate
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                Téléphone : @mandat.usagerPhoneLocal
            </div>
            @for(sms <- mandat.smsThread) {
            <div class="mdl-cell mdl-cell--12-col">
                Message du : @{Time.formatPatternFr(sms.creationDate, "dd MMM YYYY - HH:mm")}
                <br>
                @sms.body
            </div>
            }
        </div>
    </div>

</div>

}{
}
