@import _root_.helper.Time
@import _root_.helper.MDLForms._
@import _root_.helper.BooleanHelper.not
@import serializers.Keys


@(currentUser: User, currentUserRights: Authorization.UserRights)(groupsWithUsersThatCanBeInvited: List[(UserGroup,List[User])], application: Application, answerToAgentsForm: Form[_], openedTab: String, currentArea: Area, userSignature: Option[String], attachments: Iterable[String] = Nil)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, messagesProvider: MessagesProvider, request: RequestHeader)


@organisationIcon(creatorUserName: String) = {
    @Map("A+" -> "aplus",
         "Pôle Emploi".toUpperCase() -> "pe",
         "MSA" -> "msa",
         "CPAM" -> "cpam",
         "CRAM" -> "cpam",
         "CNAM" -> "cpam",
         "CAF" -> "caf",
         "CNAF" -> "caf",
         "CNAV" -> "cnav",
         "CARSAT" -> "cnav",
         "DGFIP" -> "dgfip",
         "DDFIP" -> "dgfip",
         "DRFIP" -> "dgfip",
         "Défenseur des droits".toUpperCase() -> "ddd"
    ).find(a => creatorUserName.toUpperCase.contains(a._1)) match {
        case Some((_,icon)) => {
            <img class="mdl-list__item-avatar" src="@routes.Assets.versioned("images/admin/"+icon+"-icon.png")">
        }
        case None => {
            <i class="material-icons mdl-list__item-avatar">person</i>
        }
    }
}


@main(currentUser, currentUserRights)(s"Demande de ${application.creatorUserName} - ${Area.fromId(application.area).get.name}")  {
<style>
.mdl-list__item-primary-content {
    font-weight: bold;
}
.map__leaflet {
    height: 250px;
}
.application__key {
    width: 40%;
    font-weight: bold;
}
.application__value {
    width: 60%;
    white-space: pre-wrap;
}
.application {
    white-space: normal;
}

@@media screen and (max-width: 600px) {
    .mdl-data-table__cell--non-numeric {
        display: block;
        float: left;
        width: 100%;
        height: initial !important;
    }
}

div hr {
    width: 95%;
    margin: 0px auto;
}
div hr:last-child {
    display: none;
}


.mdl-tabs__tab-bar {
    border-bottom: 0px;
}
.mdl-list__item-avatar {
    background-color: #e7e7e7;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

.input--sweet {
    display: none;
}
.input--sweet + label {
    position: relative;
    padding: 6px;
    border-radius: 2px;
    font-weight: bold;
    -ms-user-select: none;
    user-select: none;
    background-color: grey;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 85px;
    width: 70px;
    box-sizing: border-box;
    display: flex;
    line-height: 1.2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border: grey solid;
}


.input--sweet:checked + label {
    background-color: #fdfdfd;
    color: #555;
}

.input--sweet + label:hover {
    background-color: #ececec;
    color: #555;
}

.input--sweet:not(checked) + label > img {
    -webkit-filter: grayscale(10);
    filter: grayscale(10);
}
.input--sweet:checked + label > img, .input--sweet + label:hover > img {
    -webkit-filter: initial;
    filter: initial;
}
.input__icon {
    width: 36px;
    height: 36px;
}


.inputs--row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.mdl-button--nowrap {
     height: initial;
}
.mdl-card {
    min-height: 150px;
}

.mdl-textfield__input {
    border: 1px solid rgba(0,0,0,.12);
}

.answer:target {
    border: 2px solid black;
}

.application__message {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

.mdl-list__item-primary-content {
    font-weight: initial;
}
</style>
}{
    <dialog class="mdl-dialog" id="dialog-terminate">
        <h4 class="mdl-dialog__title">Est-ce que la réponse vous semble utile pour l'usager ?</h4>
        <div class="mdl-dialog__content">
            <div class="inputs--row">
            <input id="yes" class="input--sweet" type="radio" name="usefulness" value="Oui" onchange="enableYes()">
            <label for="yes"><img class="input__icon" src="@webJarsUtil.locate("1f600.svg").url.get">Oui</label>
            <input id="neutral" class="input--sweet" type="radio" name="usefulness" value="Je ne sais pas" onchange="enableYes()">
                <label for="neutral"><img class="input__icon" src="@webJarsUtil.locate("1f610.svg").url.get"><span style="width: 100%">Je ne sais pas</span></label>
            <input id="no" class="input--sweet" type="radio" name="usefulness" value="Non" onchange="enableYes()">
            <label for="no"><img class="input__icon" src="@webJarsUtil.locate("1f61e.svg").url.get">Non</label>
            </div><br>
            <b>Vous devez sélectionner une réponse pour clore la demande.</b>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-button--raised" onclick="closeDialog()">Quitter</button>
            <button type="button" disabled="disabled" class="mdl-button mdl-button--raised mdl-button--colored" id="close-dialog-terminate" onclick="confirmTerminate()">Clore</button>
        </div>
    </dialog>
        @if(application.canBeClosedBy(currentUser) && not(application.closed)) {
            <button class="mdl-cell mdl-cell--3-col mdl-cell--9-offset-desktop mdl-cell--12-col-phone mdl-button mdl-button--raised mdl-button--primary  mdl-js-button do-not-print" onclick="showDialog()">
                Clore la demande
            </button>
        }
        <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">@application.subject</h2>
                <div class="mdl-card__menu do-not-print">

                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-button--icon mdl-button--fab" onclick="window.print();">
                        <i class="material-icons">print</i>
                    </button>
                </div>
            </div>
            @if(currentUser.admin) {
                <div class="mdl-card__supporting-text mdl-card--border do-not-print">
                    <span style="font-weight: bold; color:red" class="do-not-print">
                        Référence interne pour les administrateurs : @application.internalId
                    </span>
                </div>
            }
            <div class="mdl-card__supporting-text mdl-card--border vertical-align--middle">
                <i class="material-icons icon--light">chat_bubble</i> <span class="application__anwsers"><b>@application.answers.length</b> messages </span> | 
                <span class="application__age">Créée il y a @application.ageString (@Time.formatPatternFr(application.creationDate, "dd MMM YYYY - HH:mm")) </span> | 
                    @for(area <- Area.fromId(application.area)){ @area.name}
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                <div class="info-box">
                    @for((key, value) <- application.userInfos) {
                        @key: <b>@value</b><br>
                    }
                    @for(answer <- application.answers) {
                        @for((key, value) <- answer.userInfos.getOrElse(Map())) {
                            @key: <b>@value</b> (ajouté le @Time.formatPatternFr(answer.creationDate, "E dd MMM YYYY"))</br>
                        }
                    }
                </div>
                <p class="application__message">@application.description</p>
                @for(mandatType <- application.mandatType) {
                    <span>
                        J’atteste avoir recueilli l’autorisation de l’usager
                        @mandatType match {
                            case Application.MandatType.Sms => {
                                par sms
                            }
                            case Application.MandatType.Phone => {
                                par téléphone (à l’oral)
                            }
                            case Application.MandatType.Paper => {
                                par mandat signé
                            }
                        }
                        @for(mandatDate <- application.mandatDate) { (@mandatDate) }
                    </span>
                }
                @for((filename, fileSize) <- application.files) {
                        <div class="vertical-align--middle" style="
                            color: #000000d6;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 16px;">
                            <i class="icon material-icons icon--light">attach_file</i>
                            @application.creatorUserName a ajouté le fichier @if(application.fileCanBeShowed(currentUser)) { <a href="@routes.ApplicationController.applicationFile(application.id, filename)" target="_blank">@filename</a> } else { @filename }
                            @application.filesAvailabilityLeftInDays match {
                                case None => { ( Fichier expiré et supprimé ) }
                                case Some(expirationInDays) => { ( Suppression du fichier dans @expirationInDays jours ) }
                            }
                        </div> <br>
                }
                @if(application.canBeClosedBy(currentUser) && not(application.closed)) {
                    <button class="mdl-button mdl-button--raised mdl-button--primary  mdl-js-button do-not-print" onclick="showDialog()" style="margin-right: 10px;">
                        Clore la demande
                    </button>
                }
            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-grid mdl-color--blue-grey-100 do-not-print">
            <div class="mdl-list mdl-cell mdl-cell--12-col">
                Créée par
                <div class="mdl-list__item">
                    <div class="mdl-list__item-primary-content">
                        @organisationIcon(application.creatorUserName)
                        <span>@application.creatorUserName</span>
                    </div>
                </div>
                Participants à la discussion
                @for((userId, userName) <- application.invitedUsers) {
                    <div class="mdl-list__item">
                        <div class="mdl-list__item-primary-content">
                            @organisationIcon(userName)
                            <span>@userName</span>
                        </div>
                        <div class="mdl-list__item-secondary-content">
                            @if(application.seenByUserIds.contains(userId)){
                                <div id="seen-@userId" class="vertical-align--middle">
                                    <i class="material-icons icon--light">remove_red_eye</i>
                                </div>
                                <div class="mdl-tooltip" for="seen-@userId">
                                    Consultée par l’utilisateur
                                </div>
                            }
                        </div>
                    </div>
                }
                @if(application.canHaveExpertsInvitedBy(currentUser) &&
                    not(application.closed) && not(application.expertInvited)) {
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <button class="mdl-button mdl-button--raised mdl-js-button do-not-print single--white-space-nowrap" onclick="document.location = '@routes.ApplicationController.inviteExpert(application.id)'">
                                Inviter un expert A+
                            </button>
                        </span>
                    </div>
                }
            </div>
        </div>

        @for(answer <- application.answers){
            @if(answer.invitedUsers) {
                <div class="mdl-cell mdl-cell--12-col vertical-align--middle" style="text-align: center; color: #000000d6; font-size: 14px; font-weight: 600; line-height: 16px;">
                    <i class="icon material-icons icon--light">people</i> @answer.creatorUserName a invité @answer.invitedUsers.values.mkString(", ") - <span id="date-inviteds-@answer.id" class="vertical-align--middle">
                    <span class="application__age"> Il y a @answer.ageString (@Time.formatPatternFr(answer.creationDate, "dd MMM YYYY - HH:mm"))</span>
                     </span>
                </div>
            }
            @if(currentUser.instructor || currentUser.admin || currentUser.groupAdmin || answer.visibleByHelpers || answer.creatorUserID == currentUser.id) {
                @if(answer.files.getOrElse(Map()).nonEmpty) {
                    @for((filename, fileSize) <- answer.files.getOrElse(Map())) {
                        <div class="mdl-cell mdl-cell--12-col vertical-align--middle" style="text-align: center;
                            color: #000000d6;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 16px;">
                            <i class="icon material-icons icon--light">attach_file</i>
                            @answer.creatorUserName a ajouté le fichier @if(application.fileCanBeShowed(currentUser, answer.id)) { <a href="@routes.ApplicationController.answerFile(application.id, answer.id, filename)" target="_blank">@filename</a> } else { @filename }
                            @answer.filesAvailabilityLeftInDays match {
                                case None => { ( Fichier expiré et supprimé ) }
                                case Some(expirationInDays) => { ( Suppression du fichier dans @expirationInDays jours ) }
                            }
                        </div>
                    }
                }
                @if(answer.message.nonEmpty) {
                    <div class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--12-col-phone @if(answer.creatorUserID == currentUser.id){ mdl-cell--2-offset mdl-cell--0-offset-phone } answer" id="answer-@answer.id">
                        <div class="mdl-card__supporting-text mdl-card--border @if(!answer.visibleByHelpers){ mdl-color--grey-50 }" >
                            @if(!answer.visibleByHelpers) {
                                <div id="reserved-@answer.id" class="vertical-align--middle">Réponse réservée aux instructeurs
                                    <i class="icon material-icons icon--light">info</i>
                                </div>
                                <div class="mdl-tooltip" for="reserved-@answer.id">
                                     L’aidant ne voit pas ce message
                                 </div>
                            }
                            <div class="mdl-list">
                                <div class="mdl-list__item">
                                    <div class="mdl-list__item-primary-content">
                                        @organisationIcon(answer.creatorUserName)
                                        <span>@answer.creatorUserName</span>@if(currentUser.admin){ <span style="font-weight: bold; color:red" class="do-not-print"> <a href="@routes.UserController.editUser(answer.creatorUserID)"> Voir fiche utilisateur</a></span>}
                                        <span class="mdl-list__item-sub-title"></span>
                                    </div>
                                    <div class="mdl-list__item-secondary-content">
                                        <div id="date-@answer.id" class="vertical-align--middle">
                                            <span class="application__age">Il y a @answer.ageString (@Time.formatPatternFr(answer.creationDate, "dd MMM YYYY - HH:mm"))</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if(answer.declareApplicationHasIrrelevant) {
                                <div class="info-box info-box--orange do-not-print">@answer.creatorUserName a indiqué qu’<b>il existe une procédure standard que vous pouvez utiliser pour cette demande</b>, vous aurez plus de détails dans sa réponse.</div>
                            }
                            @if(answer.userInfos.getOrElse(Map()).nonEmpty) {
                                <ul>
                                    @for((key, value) <- answer.userInfos.getOrElse(Map())) {
                                        <li>@key: <b>@value</b></li>
                                    }
                                </ul>
                            }
                            <p class="application__message">@answer.message</p>
                            @if(application.answers.last == answer && application.creatorUserId == currentUser.id && !application.closed && answer.creatorUserID != currentUser.id) {
                                <div class="info-box do-not-print">
                                Si l’instructeur a répondu à votre demande, vous pouvez clore la demande :<br><br>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect" onclick="showDialog()" >
                                        Clore la demande
                                </button> <br><br>
                                Sinon n’hésitez pas à recontacter la personne en utilisant </i><b>Ajouter une réponse</b> ci-dessous.
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        }

    @if(application.answers.isEmpty && currentUser.instructor){
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-card--border">

                <form class="do-not-print" action="@routes.ApplicationController.answer(application.id)" method="post">
                    @helper.CSRF.formField
                    Réponse rapide à l’aidant :                 <br>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                        <input type="radio" id="option-1" class="mdl-radio__button" name="message" value="Je m'en occupe" checked>
                        <span class="mdl-radio__label" style="font-weight: bold;">Je m’en occupe</span>
                    </label>            <br>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                        <input type="radio" id="option-2" class="mdl-radio__button" name="message" value="Je ne suis pas le bon interlocuteur">
                        <span class="mdl-radio__label" style="font-weight: bold;">Je ne suis pas le bon interlocuteur</span>
                    </label>         <br>
                    <button class="mdl-button mdl-button--primary mdl-button--raised mdl-js-button mdl-button--nowrap">
                        Envoyer
                    </button>
                </form>

            </div>
        </div>
    }
    @flash.get("answer-error").map { error =>
        <div class="mdl-cell mdl-cell--12-col" id="answer-error">
            <div class="notification notification--error"><b>@error</b><br>
                Si l’erreur persiste vous pouvez contacter l’équipe A+ : <a href="mailto:@Constants.supportEmail?subject=@error">@Constants.supportEmail</a>
            </div>
        </div>
    }

<div class="mdl-card mdl-cell mdl-cell--12-col do-not-print">
    <div class="mdl-cell mdl-cell--12-col mdl-tabs mdl-js-tabs mdl-js-ripple-effect single--margin-0px single--width-100pc">
        <div class="mdl-tabs__tab-bar mdl-tabs__tab-bar--align-left mdl-tabs__tab-bar--multiline-text mdl-color--grey-200">
            <a href="#answer" class="mdl-tabs__tab mdl-tabs__tab--multiline-text mdl-color-text--primary single--display-flex single--align-items-center @if(openedTab =="answer"){ is-active  }">
                <i class="material-icons single--margin-right-8px single--hidden-phone">reply_all</i>
                Ajouter une réponse
            </a>

            @if(groupsWithUsersThatCanBeInvited.nonEmpty || currentUser.expert) {
                <a href="#invite" class="mdl-tabs__tab mdl-tabs__tab--multiline-text mdl-color-text--primary single--display-flex single--align-items-center @if(openedTab =="invite"){ is-active }">
                    <i class="material-icons single--margin-right-8px single--hidden-phone">person_add</i>
                    Inviter une personne
                </a>
            }

            <span class="single--flex-grow-1"></span>

            @if(application.canBeClosedBy(currentUser) && not(application.closed)) {
                <div>
                    <button class="mdl-button mdl-button--raised mdl-button--primary mdl-button--multiline-text mdl-js-button do-not-print" onclick="showDialog()">
                        Clore la demande
                    </button>
                </div>
            }

        </div>

        <div class="mdl-tabs__panel @if(openedTab =="answer"){ is-active  } " id="answer">
            <form action="@routes.ApplicationController.answer(application.id)" class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing single--margin-0px single--width-100pc aplus-protected-form" method="post" enctype="multipart/form-data" onsubmit="document.getElementById('review-validation').disabled=true">

                @helper.CSRF.formField
                <input type="hidden" name="answer-id" readonly value="@answerToAgentsForm("answer-id").value.getOrElse(java.util.UUID.randomUUID)">

                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                    @if(currentUser.instructor) {
                        <div class="info-box">Votre réponse permet d’indiquer le statut des démarches et procédures en cours pour l’aidant @application.creatorUserName et les personnes invitées sur la demande. L’aidant est en contact direct avec l’usager et pourra lui transmettre les informations. <b>Merci d’utiliser vos outils habituels pour continuer une instruction.</b></div>
                    }
                    @if(currentUser.id == application.creatorUserId) {
                        <h5 class="mdl-cell mdl-cell--12-col">Ajouter des informations concernant l’usager :</h5>
                        <div class="mdl-cell mdl-cell--12-col">
                            @helpers.usersInformations(answerToAgentsForm, Nil, false, false)
                        </div>
                    }

                </div>

                <hr class="single--width-100pc">

                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                    <h5 class="mdl-cell mdl-cell--12-col">Votre réponse :</h5>

                    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col single--padding-0px">
                        <textarea class="mdl-textfield__input" type="text" rows= "5" id="helper-answer-message" style="width: 100%;" name="message" onkeyup="document.getElementById('review-validation').disabled=(this.value === '')"></textarea>
                    </div>

                    @if(currentUser.sharedAccount) {
                        <div class="mdl-cell mdl-cell--12-col">
                            Signature :
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            @helper.input(
                                answerToAgentsForm("signature"),
                                "label" -> "Renseignez ici votre : Prénom, NOM, service",
                                "class" -> "mdl-textfield--large"
                            ) { (id, name, value, args) =>
                            <input class="mdl-textfield__input"
                                   type="text"
                                   name="@name"
                                   id="@id"
                                   @if(currentUser.sharedAccount && value.isEmpty) {
                                       value="@{userSignature.getOrElse(value)}"
                                   } else {
                                       value="@value"
                                   }
                                   @toHtmlArgs(args)>
                            }
                        </div>
                    }

                                <div class="mdl-cell mdl-cell--12-col">
                                    <b>Ajouter un ou plusieurs fichiers ( 5Mo maximum au total ) :</b>
                                    <ul class="single--list-style-type-none">
                                        @for((attachment,index) <- attachments.zipWithIndex) {
                                        <li>
                                            <input type="checkbox" checked value="@attachment" id="pending-file[@index]" name="pending-file[@index]"><label for="pending-file[@index]">@attachment</label>
                                        </li>
                                        }
                                    </ul>
                                    <ul id="attachment-list">
                                        <li><input type="file" name="file[0]"></li>
                                    </ul>
                                </div>
                                @if(currentUser.instructor) {
                                    <div id="invalide-choice" class="mdl-cell mdl-cell--12-col">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events vertical-align--middle">
                                            <input type="checkbox" class="mdl-checkbox__input" name="irrelevant" value="true">
                                            <span class="mdl-checkbox__label">Cette demande dispose d’une procédure standard que l’aidant aurait pu utiliser</span> <i class="icon material-icons icon--light">info</i>
                                        </label>
                                    </div>
                                    <div class="mdl-tooltip" for="invalide-choice">
                                        La demande sera classée comme non-pertinente dans les statistiques d’usage. L’équipe recontactera l’aidant pour l’aider à la création des demandes.j
                                    </div>
                                }
                                @if(currentUser.instructor || currentUser.expert) {
                                    <div id="private-answer" class="mdl-cell mdl-cell--12-col">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events vertical-align--middle">
                                            <input type="checkbox" class="mdl-checkbox__input" name="privateToHelpers" value="true">
                                            <span class="mdl-checkbox__label">Restreindre le message aux instructeurs Administration+ </span> <i class="icon material-icons icon--light">info</i>
                                        </label>
                                    </div>
                                    <div class="mdl-tooltip" for="private-answer">
                                        Le message ne sera pas visible par l’aidant.
                                    </div>

                                }
                                <div class="mdl-cell mdl-cell--12-col">
                                    <button id="review-validation" class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-button--colored" disabled>
                                        Répondre
                                    </button>
                                </div>
                </div>
            </form>
        </div>

                    @if(groupsWithUsersThatCanBeInvited.nonEmpty || currentUser.expert) {
                        <div class="mdl-tabs__panel @if(openedTab =="invite"){ is-active }" id="invite">
                            <form action='@routes.ApplicationController.invite(application.id)' class="mdl-cell mdl-cell--12-col mdl-grid aplus-protected-form" method="post">

                                <input type="hidden"
                                       name="@{Keys.Application.areaId}"
                                       readonly
                                       value="@{currentArea.id}">

                                @if(currentUser.expert) {
                                    <div>
                                      Territoire concerné :
                                      @helpers.changeAreaSelect(currentArea, currentUser.areas.flatMap(Area.fromId), routes.ApplicationController.show(application.id))
                                    </div>
                                }
                                @helper.CSRF.formField
                                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col" style="border: none;">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric"></th>
                                            <th class="mdl-data-table__cell--non-numeric">Structure</th>
                                            <th class="mdl-data-table__cell--non-numeric">Nom</th>
                                            <th class="mdl-data-table__cell--non-numeric">Qualité</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @for((group, users) <- groupsWithUsersThatCanBeInvited.sortBy(_._1.name)) {
                                        @for(user <- users.sortBy(_.name)) {
                                            <tr>
                                                <td>
                                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                                                        <input type="checkbox" class="mdl-checkbox__input" name="users[]" value="@user.id">
                                                    </label>
                                                </td>
                                                <td class="mdl-data-table__cell--non-numeric">@group.name</td>
                                                <td class="mdl-data-table__cell--non-numeric">@user.name</td>
                                                <td class="mdl-data-table__cell--non-numeric">@user.qualite</td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    <textarea class="mdl-textfield__input" type="text" rows= "5" id="agents-invitation-message" style="width: 100%;" name="message"></textarea>
                                    <label class="mdl-textfield__label" for="agents-invitation-message"><i class="material-icons" style="vertical-align: middle;">message</i> Laisser ici un message pour l’invitation...</label>
                                </div>
                                @if(currentUser.instructor || currentUser.expert) {
                                    <div id="private-invitation">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events vertical-align--middle">
                                            <input type="checkbox" class="mdl-checkbox__input" name="privateToHelpers" value="true">
                                            <span class="mdl-checkbox__label"></span>Restreindre le message d’invitation aux Agents Administration+ <i class="icon material-icons icon--light">info</i>
                                        </label>
                                    </div>
                                    <div class="mdl-tooltip" for="private-invitation">
                                        Le message d’invitation ne sera pas visible par l’aidant.
                                    </div>
                                } else {
                                    <br>
                                }
                                <button id="application-complete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--12-col">Inviter les personnes sélectionnées</button>
                            </form>
                        </div>
                    }
                </div>
        </div>


    <script>
            var dialog = document.querySelector('#dialog-terminate');
            if (! dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }

            function enableYes() {
                document.getElementById("close-dialog-terminate").disabled = false;
            }
            
            function closeDialog() {
                dialog.close();
            }

            function showDialog() {
                Array.from(document.querySelectorAll("#dialog-terminate input")).forEach(function(input) {
                    input.checked = false;
                })
                dialog.showModal();
            }

            function confirmTerminate() {
                var usefulness = document.querySelector('input[name="usefulness"]:checked').value;
                document.location = '@routes.ApplicationController.terminate(application.id)?usefulness='+usefulness;
            }
    </script>
    <!--
    We use twemoji for emoji : https://github.com/twitter/twemoji
    -->
}{
    <script type="application/javascript" src="@routes.Assets.versioned("javascripts/application-attachment.js")"></script>
}
