@import scala.collection.immutable.ListMap
@import java.util.Locale
@import Time.dateTimeOrdering
@import extentions.Math
@(user: User, area: Area)(months: ListMap[String, String], allApplications: Map[Area, Seq[Application]], users: List[User])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)

@main(user, area)(s"Stats")  {
    <style xmlns="http://www.w3.org/1999/html">
        td {
            cursor: pointer;
        }
        #search-input {
            font-size: 17px;
            padding: 5px;
        }
        .usefulness__icon {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
        .mdl-data-table th {
            white-space: initial !important;
        }
        .chart-container {
            position: relative;
            margin: auto;
            height: 50vh;
            width: 100%;
        }
    </style>
    @webJarsUtil.locate("Chart.bundle.min.js").script()
}{
    <!-- New Stats -->

    @defining(allApplications.flatMap(_._2)) { all =>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
        <h6>Total de demandes</h6>
        <h1>@all.size</h1>
        <h5>@all.count(_.ageInDays <= 30) sur les 30 derniers jours</h5>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
        <h6>Total d'utilisateurs</h6>
        <h1>@users.length</h1>
        <h5>@users.count(_.ageInDays <= 30) sur les 30 derniers jours</h5>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
        <h6>Répartition des demandes</h6>
        <canvas id="applications-status-chart" style="height: 300px; with: 95%"></canvas>
        <script>
                new Chart(document.getElementById('applications-status-chart'), {
                    type: 'pie',

                    // The data for our dataset
                    data: {
                        labels: [@Html(all.groupBy(_.status).map(s => s"'${s._1} (${s._2.size})'").mkString(", "))],
                        datasets: [{
                            label: "Status",
                            data: [@Html(all.groupBy(_.status).map(_._2.size).mkString(", "))],
                            backgroundColor: [
                                "rgba(61, 149, 236, 1)",
                                "rgba(113, 176, 239, 1)",
                                "rgba(191, 220, 249, 1)",
                                "rgba(222, 238, 265, 1)",
                            ]
                        }]
                    },

                    // Configuration options go here
                    options: {
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true
                    }
                });
        </script>
        <h5>@all.count(a => a.ageInDays <= 30 && a.closed) clôturé sur les 30 derniers jours</h5>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
        <h6>Pertinences des demandes</h6>
        <canvas id="applications-relevant-chart" style="height: 300px; with: 95%"></canvas>
        <script>
                new Chart(document.getElementById('applications-relevant-chart'), {
                    type: 'pie',

                    // The data for our dataset
                    data: {
                        labels: ['Pertinante', 'Non Pertinante'],
                        datasets: [{
                            label: "Status",
                            data: [@all.count(!_.irrelevant),@all.count(_.irrelevant)],
                            backgroundColor: [
                                "rgba(61, 149, 236, 1)",
                                "red"
                            ]
                        }]
                    },

                    // Configuration options go here
                    options: {
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true
                    }
                });
        </script>
        <h5>@all.count(a => a.ageInDays <= 30 && a.irrelevant) non pertinante sur les 30 derniers jours</h5>
    </div>
    @defining(months.values.toSeq.map{ month:String => month -> all.filter(_.creationDate.toString("MMMM YYYY", new Locale("fr")) == month).toSeq  } ) { applicationsGroupByMonths: Seq[(String, Seq[Application])] =>
        @defining(months.values.toSeq.map { month: String => month -> all.filter(a => a.estimatedClosedDate != None && a.estimatedClosedDate.get.toString("MMMM YYYY", new Locale("fr")) == month).toSeq }) { applicationsGroupByMonthsClosed: Seq[(String, Seq[Application])] =>

            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
                <h6>Est-ce que la réponse vous semble utile pour l'usager ?</h6>
                <canvas id="satisfaction-chart" style="height: 300px;
                    with: 95%"></canvas>
                <script>
                        new Chart(document.getElementById('satisfaction-chart'), {
                            type: 'bar',

                            // The data for our dataset
                            data: {
                                labels: [@Html(applicationsGroupByMonthsClosed.map(s => s"'${s._1}'").mkString(", "))],
                                datasets: [{
                                    data: [@Html(applicationsGroupByMonthsClosed.map(a => if(a._2.count(_.usefulness.isDefined) == 0) { 0 } else { (a._2.count(_.usefulness.contains("Non"))*100)/a._2.count(_.usefulness.isDefined) }).mkString(", "))],
                                    label: "Non",
                                    backgroundColor: "red",
                                    borderColor: "red",
                                    stack: 'useful',
                                    fill: false
                                }, {
                                    data: [@Html(applicationsGroupByMonthsClosed.map(a => if(a._2.count(_.usefulness.isDefined) == 0) { 0 } else { (a._2.count(_.usefulness.contains("Je ne sais pas"))*100)/a._2.count(_.usefulness.isDefined) }).mkString(", "))],
                                    label: "Je ne sais pas",
                                    backgroundColor: "orange",
                                    borderColor: "orange",
                                    stack: 'useful',
                                    fill: false
                                }, {
                                    data: [@Html(applicationsGroupByMonthsClosed.map(a => if(a._2.count(_.usefulness.isDefined) == 0) { 0 } else { (a._2.count(_.usefulness.contains("Oui"))*100)/a._2.count(_.usefulness.isDefined) }).mkString(", "))],
                                    label: 'Oui',
                                    backgroundColor: "green",
                                    borderColor: "green",
                                    stack: 'useful',
                                    fill: false
                                }]
                            },

                            // Configuration options go here
                            options: {
                                scaleLabel: "<%=value%>%",
                                tooltips: {
                                    mode: 'index',
                                    intersect: false,
                                    callbacks: {
                                        label: (item) = > item.yLabel + " %",
                                },
                            },
                            responsive: true,
                        }
                        });
                </script>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
                <h6>Temps de résolution</h6>
                <canvas id="resolution-time-chart" style="height: 300px;
                    with: 95%"></canvas>
                <script>
                        new Chart(document.getElementById('resolution-time-chart'), {
                            type: 'bar',

                            // The data for our dataset
                            data: {
                                labels: [@Html(applicationsGroupByMonthsClosed.map(s => s"'${s._1}'").mkString(", "))],
                                datasets: [{
                                    data: [@Html(applicationsGroupByMonthsClosed.map{ apps =>
                                        if(apps._2.isEmpty) {
                                           0D
                                        } else {
                                           val resolutionTimes = apps._2.flatMap(_.resolutionTimeInHours).map(_.toDouble)
                                           Math.median(resolutionTimes)/24D
                                        }
                                    }.mkString(", "))],
                                    label: "Temps de résolution median (Jour)",
                                    backgroundColor: "black",
                                    type: 'line',
                                    borderColor: "black",
                                    fill: false
                                }, {
                                    data: [@Html(applicationsGroupByMonthsClosed.map{ apps =>
                                        if(apps._2.isEmpty) {
                                           0D
                                        } else {
                                           val resolutionTimes = apps._2.flatMap(_.resolutionTimeInHours)
                                           resolutionTimes.sum.toDouble / resolutionTimes.size.toDouble / 24D
                                        }
                                    }.mkString(", "))],
                                    label: "Temps de résolution moyen (Jour)",
                                    backgroundColor: "rgba(113, 176, 239, 1)"
                                }]
                            },

                            // Configuration options go here
                            options: {
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                responsive: true
                            }
                        });
                </script>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
                <h6>Demandes déposés</h6>
                <canvas id="new-applications-chart" style="height: 300px;
                    with: 95%"></canvas>
                <script>
                        var adminReceivedColors = ["#caff70","#caff70","#8b8970","#8b8970","#a2cd5a","#a2cd5a","#eea2ad","#eea2ad","#666666","#666666","#7a7a7a","#7a7a7a","#87ceff","#87ceff","#6ca6cd","#6ca6cd","#eedd82","#eedd82","#ee6a50","#ee6a50","#ee7942","#ee7942","#ff83fa","#ff83fa","#c9c9c9","#c9c9c9","#919191","#919191","#cd5c5c","#cd5c5c","#454545","#454545","#eee9bf","#eee9bf",];

                        new Chart(document.getElementById('new-applications-chart'), {
                            type: 'line',

                            // The data for our dataset
                            data: {
                                labels: [@Html(applicationsGroupByMonths.map(s => s"'${s._1}'").mkString(", "))],
                                datasets: [@for((area, apps) <- allApplications) {
                                        {
                                            label: "@if(user.admin){ @area.name } else { Mes agents }",
                                            lineTension: 0,
                                            borderColor: adminReceivedColors.pop(),
                                            backgroundColor: adminReceivedColors.pop(),
                                            data: [@Html(applicationsGroupByMonths.map(_._2.count(_.area == area.id)).mkString(", "))]
                                        }
                                    }]
                            },

                            // Configuration options go here
                            options: {
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    yAxes: [{
                                        stacked: true,
                                        beginAtZero: true,
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Value'
                                        }
                                    }]
                                },
                                responsive: true
                            }
                        });
                </script>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
                <h6>Demandes clôturé</h6>
                <canvas id="closed-applications-chart" style="height: 300px;
                    with: 95%"></canvas>
                <script>
                        new Chart(document.getElementById('closed-applications-chart'), {
                            type: 'bar',

                            // The data for our dataset
                            data: {
                                labels: [@Html(applicationsGroupByMonths.map(s => s"'${s._1}'").mkString(", "))],
                                datasets: [{
                                    data: [@Html(applicationsGroupByMonthsClosed.map(_._2.count(_.closed)).mkString(", "))],
                                    label: "Demandes clôturées",
                                    backgroundColor: "black",
                                    type: 'line',
                                    borderColor: "black",
                                    fill: false
                                }]
                            },

                            // Configuration options go here
                            options: {
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                responsive: true
                            }
                        });
                </script>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white" style="text-align: center">
                <h6>Demande par administration réceptrice</h6>
                <canvas id="applications-per-admin-chart" style="height: 300px; with: 95%"></canvas>
                <script>

                        var adminReceivedColors = ["#caff70","#caff70","#8b8970","#8b8970","#a2cd5a","#a2cd5a","#eea2ad","#eea2ad","#666666","#666666","#7a7a7a","#7a7a7a","#87ceff","#87ceff","#6ca6cd","#6ca6cd","#eedd82","#eedd82","#ee6a50","#ee6a50","#ee7942","#ee7942","#ff83fa","#ff83fa","#c9c9c9","#c9c9c9","#919191","#919191","#cd5c5c","#cd5c5c","#454545","#454545","#eee9bf","#eee9bf",];
                        @defining(applicationsGroupByMonths.flatMap(_._2).flatMap(_.administrations(users)).toSet.toList) { admins =>
                            new Chart(document.getElementById('applications-per-admin-chart'), {
                                type: 'pie',

                                // The data for our dataset
                                data: {
                                    datasets: [@for(admin: String <- admins) {
                                            {
                                                label: "@Html(admin)",
                                                fill: false,
                                                borderColor: adminReceivedColors.pop(),
                                                backgroundColor: adminReceivedColors.pop(),
                                                lineTension: 0,
                                                data: [@Html(applicationsGroupByMonths.map(_._2.count(_.administrations(users).contains(admin))).mkString(", "))]
                                            },
                                        }
                                    ]
                                },

                                // Configuration options go here
                                options: {
                                    tooltips: {
                                        mode: 'index',
                                        intersect: false
                                    },
                                    responsive: true
                                }
                            });
                        }
                </script>
                <h5>@all.count(a => a.ageInDays <= 30 && a.closed) clôturé sur les 30 derniers jours</h5>
            </div>
        }
        }
    }

    @if(user.admin) {
    <!-- all -->
    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing mdl-shadow--2dp mdl-color--white">
        <h6 style="text-align: center">Demandes par territoire</h6>
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
        @defining(allApplications.flatMap(_._2).flatMap(_.administrations(users)).toSet.toList) { admins =>
            <table class="mdl-data-table mdl-js-data-table pem-table" style="white-space: normal;">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Territoire</th>
                        <th>Total</th>
                        <th>Total clôturé</th>
                        <th>Total Non Pertinante</th>
                        <th><img class="usefulness__icon" src="@webJarsUtil.locate("1f600.svg").url.get"> Oui</th>
                        <th><img class="usefulness__icon" src="@webJarsUtil.locate("1f610.svg").url.get"> Je ne sais pas</th>
                        <th><img class="usefulness__icon" src="@webJarsUtil.locate("1f61e.svg").url.get"> Non</th>
                        <th>?</th>
                    </tr>
                </thead>
                <tbody>
                    @for((area, applications) <- allApplications) {
                        <tr class="application-row">
                            <td class="mdl-data-table__cell--non-numeric">@area.name</td>
                            <td>@applications.length</td>
                            <td>@applications.count(_.closed)</td>
                            <td>@applications.count(_.irrelevant)</td>
                            <td>@applications.count(_.usefulness.contains("Oui")) <img class="usefulness__icon" src="@webJarsUtil.locate("1f600.svg").url.get"></td>
                            <td>@applications.count(_.usefulness.contains("Je ne sais pas")) <img class="usefulness__icon" src="@webJarsUtil.locate("1f610.svg").url.get"></td>
                            <td>@applications.count(_.usefulness.contains("Non")) <img class="usefulness__icon" src="@webJarsUtil.locate("1f61e.svg").url.get"></td>
                            <td>@applications.count(_.usefulness.isEmpty) ?</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        </div>
    </div>

    <!-- Old Stats --> 
    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        @for((area, applications) <- allApplications) {
            <h4 class="mdl-cell mdl-cell--12-col">@area.name</h4>
            @defining(months.keys.toSeq.map{ month:String => month -> applications.filter(a => a.estimatedClosedDate.isDefined && f"${a.estimatedClosedDate.get.getYear}/${a.estimatedClosedDate.get.getMonthOfYear}%02d" == month) }) { closedApplicationsPerMonth: Seq[(String, Seq[Application])] =>

            @defining(months.keys.toSeq.map{ month:String => month -> applications.filter(a => f"${a.creationDate.getYear}/${a.creationDate.getMonthOfYear}%02d" == month) } ) { newApplicationsPerMonth: Seq[(String, Seq[Application])] =>
                <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white mdl-grid">
                    <canvas class="mdl-cell mdl-cell--12-col" id="application-chart-@area.name" style="height: 300px"></canvas>
                    <script>
                        new Chart(document.getElementById('application-chart-@area.name'), {
                            // The type of chart we want to create
                            type: 'bar',

                            // The data for our dataset
                            data: {
                                labels: [@Html(newApplicationsPerMonth.map(_._1).flatMap(months.get).map(day => s"'$day'").mkString(", "))],
                                datasets: [{
                                    label: "Nouvelles demandes",
                                    backgroundColor: '#3f51b5',
                                    borderColor: '#3f51b5',
                                    stack: 'new',
                                    data: [@Html(newApplicationsPerMonth.map(_._2.length).mkString(", "))]
                                }, {
                                    label: "Demandes clôturées non évalué",
                                    backgroundColor: 'gray',
                                    borderColor: 'gray',
                                    stack: 'useful',
                                    data: [@Html(closedApplicationsPerMonth.map(_._2.count(_.usefulness.isEmpty)).mkString(", "))],
                                },{
                                    label: "Demandes clôturées non utiles",
                                    backgroundColor: 'orange',
                                    borderColor: 'orange',
                                    stack: 'useful',
                                    data: [@Html(closedApplicationsPerMonth.map(_._2.count(_.usefulness.contains("Non"))).mkString(", "))],
                                }, {
                                    label: "Demandes clôturées utilité inconnue",
                                    backgroundColor: 'yellow',
                                    borderColor: 'yellow',
                                    stack: 'useful',
                                    data: [@Html(closedApplicationsPerMonth.map(_._2.count(_.usefulness.contains("Je ne sais pas"))).mkString(", "))],
                                },{
                                    label: "Demandes clôturées utiles",
                                    backgroundColor: 'green',
                                    borderColor: 'green',
                                    stack: 'useful',
                                    data: [@Html(closedApplicationsPerMonth.map(_._2.count(_.usefulness.contains("Oui"))).mkString(", "))]
                                }, {
                                    label: "Demandes clôturées non pertinentes",
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    stack: 'irrelevant',
                                    data: [@Html(closedApplicationsPerMonth.map(_._2.count(_.irrelevant)).mkString(", "))]
                                }]
                            },

                            // Configuration options go here
                            options: {
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                },
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                        stacked: true,
                                    }],
                                    yAxes: [{
                                        stacked: true,
                                        ticks: {"beginAtZero":true, fixedStepSize: 1}
                                    }]
                                }
                            }
                        });
                    </script>
                    <details class="mdl-cell mdl-cell--12-col">
                        <summary>Détail des demandes reçues par les agents d'administrations </summary>

                        @defining(newApplicationsPerMonth.flatMap(_._2).flatMap(_.administrations(users)).toSet.toList) { admins =>
                            <div class="chart-container">
                                <canvas id="admin-received-chart-@area.name"></canvas>
                            </div>
                            <script>
                                    var adminReceivedColors = ["#caff70","#caff70","#8b8970","#8b8970","#a2cd5a","#a2cd5a","#eea2ad","#eea2ad","#666666","#666666","#7a7a7a","#7a7a7a","#87ceff","#87ceff","#6ca6cd","#6ca6cd","#eedd82","#eedd82","#ee6a50","#ee6a50","#ee7942","#ee7942","#ff83fa","#ff83fa","#c9c9c9","#c9c9c9","#919191","#919191","#cd5c5c","#cd5c5c","#454545","#454545","#eee9bf","#eee9bf",];
                                    new Chart(document.getElementById('admin-received-chart-@area.name'), {
                                        // The type of chart we want to create
                                        type: 'line',
                                        // The data for our dataset
                                        data: {
                                            labels: [@Html(newApplicationsPerMonth.map(_._1).flatMap(months.get).map(day => s"'$day'").mkString(", "))],
                                            datasets: [
                                                @for(admin: String <- admins) {
                                                {
                                                    label: "@Html(admin)",
                                                    fill: false,
                                                    borderColor: adminReceivedColors.pop(),
                                                    backgroundColor: adminReceivedColors.pop(),
                                                    lineTension: 0,
                                                    data: [@Html(newApplicationsPerMonth.map(_._2.count(_.administrations(users).contains(admin))).mkString(", "))]
                                                },
                                                }
                                            ]
                                        },

                                        // Configuration options go here
                                        options: {
                                            maintainAspectRatio: false,
                                            "scales":{
                                                yAxes: [{
                                                    ticks: {"beginAtZero":true,fixedStepSize: 1}
                                                }]
                                            }
                                        }
                                    });
                            </script>
                            <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric">Semaine</th>
                                                <th>Nouvelle</th>
                                                @for(admin: String <- admins) {
                                                    <th>@admin</th>
                                                }
                                                </tr>
                                        </thead>
                                        <tbody>
                                        @for((month, applications) <- newApplicationsPerMonth.reverse) {
                                            <tr class="application-row">
                                                <td class="mdl-data-table__cell--non-numeric">@months(month) (@month)</td>
                                                <td>@applications.length</td>
                                                @for(admin: String <- admins) {
                                                    <td>@applications.count(_.administrations(users).contains(admin))</td>
                                                }
                                            </tr>
                                        }
                                        </tbody>

                            </table>
                        }
                    </details>
                    <details class="mdl-cell mdl-cell--12-col">
                        <summary>Détail des demandes faites par des structures aidantes</summary>
                        @defining(newApplicationsPerMonth.flatMap(_._2).flatMap(_.creatorUserQualite(users)).toSet.toList) { admins =>
                        <div class="chart-container">
                            <canvas id="helper-admin-chart-@area.name"></canvas>
                        </div>
                        <script>
                                var adminReceivedColors = ["#caff70","#caff70","#8b8970","#8b8970","#a2cd5a","#a2cd5a","#eea2ad","#eea2ad","#666666","#666666","#7a7a7a","#7a7a7a","#87ceff","#87ceff","#6ca6cd","#6ca6cd","#eedd82","#eedd82","#ee6a50","#ee6a50","#ee7942","#ee7942","#ff83fa","#ff83fa","#c9c9c9","#c9c9c9","#919191","#919191","#cd5c5c","#cd5c5c","#454545","#454545","#eee9bf","#eee9bf",];
                                new Chart(document.getElementById('helper-admin-chart-@area.name'), {
                                    // The type of chart we want to create
                                    type: 'line',
                                    // The data for our dataset
                                    data: {
                                        labels: [@Html(newApplicationsPerMonth.map(_._1).flatMap(months.get).map(day => s"'$day'").mkString(", "))],
                                        datasets: [
                                            @for(admin: String <- admins) {
                                            {
                                                label: "@Html(admin)",
                                                fill: false,
                                                lineTension: 0,
                                                borderColor: adminReceivedColors.pop(),
                                                backgroundColor: adminReceivedColors.pop(),
                                                data: [@Html(newApplicationsPerMonth.map(_._2.count(_.creatorUserQualite(users).contains(admin))).mkString(", "))]
                                            },
                                            }
                                        ]
                                    },

                                    // Configuration options go here
                                    options: {
                                        maintainAspectRatio: false,
                                        responsive: true,
                                        "scales":{
                                            yAxes: [{
                                                ticks: {"beginAtZero":true, fixedStepSize: 1}
                                            }]
                                        }
                                    }
                                });
                        </script>
                        <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Semaine</th>
                                    <th>Nouvelle</th>
                                    @for(admin: String <- admins) {
                                        <th>@admin</th>
                                    }
                                    </tr>
                            </thead>
                            <tbody>
                            @for((month, applications) <- newApplicationsPerMonth.reverse) {
                                <tr class="application-row">
                                    <td class="mdl-data-table__cell--non-numeric">@months(month) (@month)</td>
                                    <td>@applications.length</td>
                                    @for(admin: String <- admins) {
                                        <td>@applications.count(_.creatorUserQualite(users).contains(admin))</td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                        }
                    </details>
                   <details class="mdl-cell mdl-cell--12-col">
                    <summary>Détail des demandes clôturées</summary>
                    <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Semaine</th>
                            <th>Clôturé</th>
                            <th>Non Pertinante</th>
                            <th><img class="usefulness__icon" src="@webJarsUtil.locate("1f600.svg").url.get"> Oui</th>
                            <th><img class="usefulness__icon" src="@webJarsUtil.locate("1f610.svg").url.get"> Je ne sais pas</th>
                            <th><img class="usefulness__icon" src="@webJarsUtil.locate("1f61e.svg").url.get"> Non</th>
                            <th>?</th>
                            </tr>
                    </thead>
                    <tbody>
                    @for((month, applications) <- closedApplicationsPerMonth.reverse) {
                        <tr class="application-row">
                            <td class="mdl-data-table__cell--non-numeric">@months(month) (@month)</td>
                            <td>@applications.length</td>
                            <td style="color: red; font-weight: bold">@applications.count(_.irrelevant)</td>
                            <td>@applications.count(_.usefulness.contains("Oui")) <img class="usefulness__icon" src="@webJarsUtil.locate("1f600.svg").url.get"></td>
                            <td>@applications.count(_.usefulness.contains("Je ne sais pas")) <img class="usefulness__icon" src="@webJarsUtil.locate("1f610.svg").url.get"></td>
                            <td>@applications.count(_.usefulness.contains("Non")) <img class="usefulness__icon" src="@webJarsUtil.locate("1f61e.svg").url.get"></td>
                            <td>@applications.count(_.usefulness.isEmpty) ?</td>
                        </tr>
                    }
                    </tbody>
                    </table>
                   </details>
                </div>
            }
            }
        }
    </div>
    }
}
