@(data: views.stats.StatsData.ApplicationAggregates)

<canvas id="satisfaction-chart" class="chart--default-size"></canvas>
<script>
  new Chart(document.getElementById('satisfaction-chart'), {
      type: 'bar',

      // The data for our dataset
      data: {
          labels: [@Html(data.closedApplicationsGroupedByMonth.map(s => s"'${s._1}'").mkString(", "))],
          datasets: [{
              data: [@Html(data.closedApplicationsGroupedByMonth.map(a => if(a._2.count(_.usefulness.isDefined) == 0) { 0 } else { (a._2.count(_.usefulness.contains("Non"))*100)/a._2.count(_.usefulness.isDefined) }).mkString(", "))],
              label: "Non",
              backgroundColor: "red",
              borderColor: "red",
              stack: 'useful',
              fill: false
          }, {
              data: [@Html(data.closedApplicationsGroupedByMonth.map(a => if(a._2.count(_.usefulness.isDefined) == 0) { 0 } else { (a._2.count(_.usefulness.contains("Je ne sais pas"))*100)/a._2.count(_.usefulness.isDefined) }).mkString(", "))],
              label: "Je ne sais pas",
              backgroundColor: "orange",
              borderColor: "orange",
              stack: 'useful',
              fill: false
          }, {
              data: [@Html(data.closedApplicationsGroupedByMonth.map(a => if(a._2.count(_.usefulness.isDefined) == 0) { 0 } else { (a._2.count(_.usefulness.contains("Oui"))*100)/a._2.count(_.usefulness.isDefined) }).mkString(", "))],
              label: 'Oui',
              backgroundColor: "green",
              borderColor: "green",
              stack: 'useful',
              fill: false
          }]
      },

      // Configuration options go here
      options: {
          scaleLabel: "<%=value%>%",
          tooltips: {
              mode: 'index',
              intersect: false,
              callbacks: {
                  label: (item) => item.yLabel + " %",
              },
          },
          responsive: true,
      }
  });
</script>
