@(data: views.stats.StatsData.ApplicationAggregates)

<canvas id="applications-per-admin-chart" class="chart--500px-height"></canvas>
<script>

  var adminReceivedColors = ["#caff70","#8b8970","#a2cd5a","#eea2ad","#666666","#7a7a7a","#87ceff","#6ca6cd","#eedd82","#ee6a50","#ee7942","#ff83fa","#c9c9c9","#919191","#cd5c5c","#454545","#eee9bf",];
  new Chart(document.getElementById('applications-per-admin-chart'), {
      type: 'pie',
      // The data for our dataset
      data: {
          labels: [@Html(data.administrations.map(a => s"'${a.replaceAll("'", "`")}'").mkString(", "))],
          datasets: [
              {
                  label: "Demandes",
                  fill: false,
                  backgroundColor: [
                      @for(admin: String <- data.administrations) {
                          adminReceivedColors.pop(),
                      }
                  ],
                  lineTension: 0,
                  data: [@data.applicationsCountByAdministrations.mkString(",")]
              },
          ]
      },

      // Configuration options go here
      options: {
          tooltips: {
              mode: 'index',
              intersect: false
          },
          responsive: true
      }
  });
</script>
