@(data: views.stats.StatsData)

<canvas id="applications-status-chart" class="chart--default-size"></canvas>
<script>
  new Chart(document.getElementById('applications-status-chart'), {
      type: 'pie',

      // The data for our dataset
      data: {
          labels: [@Html(data.allApplications.groupBy(_.status).map(s => s"'${s._1} (${s._2.size})'").mkString(", "))],
          datasets: [{
              label: "Status",
              data: [@Html(data.allApplications.groupBy(_.status).map(_._2.size).mkString(", "))],
              backgroundColor: [
                  "rgba(61, 149, 236, 1)",
                  "rgba(113, 176, 239, 1)",
                  "rgba(191, 220, 249, 1)",
                  "rgba(222, 238, 265, 1)",
              ]
          }]
      },

      // Configuration options go here
      options: {
          tooltips: {
              mode: 'index',
              intersect: false
          },
          responsive: true
      }
  });
</script>
