@(data: views.stats.StatsData)

<table class="mdl-data-table mdl-data-table--initial-white-space mdl-js-data-table pem-table mdl-data-table--normal-white-space">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Territoire</th>
            <th>Total</th>
            <th>Total archivées</th>
            <th>Total non pertinentes</th>
            <th><img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f600.svg")"> Oui</th>
            <th><img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f610.svg")"> Je ne sais pas</th>
            <th><img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f61e.svg")"> Non</th>
            <th>?</th>
        </tr>
    </thead>
    <tbody>
        @for(areaData <- data.aggregatesByArea) {
            <tr class="application-row">
                <td class="mdl-data-table__cell--non-numeric">@areaData.area.name</td>
                <td>@areaData.aggregates.applications.length</td>
                <td>@areaData.aggregates.applications.count(_.closed)</td>
                <td>@areaData.aggregates.applications.count(_.irrelevant)</td>
                <td>@areaData.aggregates.applications.count(_.usefulness.contains("Oui")) <img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f600.svg")"></td>
                <td>@areaData.aggregates.applications.count(_.usefulness.contains("Je ne sais pas")) <img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f610.svg")"></td>
                <td>@areaData.aggregates.applications.count(_.usefulness.contains("Non")) <img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f61e.svg")"></td>
                <td>@areaData.aggregates.applications.count(_.usefulness.isEmpty) ?</td>
            </tr>
            }
    </tbody>
</table>
