@import _root_.helper.Math

@(data: views.stats.StatsData)

<canvas id="resolution-time-chart" class="chart--default-size"></canvas>
<script>
  new Chart(document.getElementById('resolution-time-chart'), {
      type: 'bar',

      // The data for our dataset
      data: {
          labels: [@Html(data.applicationsGroupByMonthsClosed.map(s => s"'${s._1}'").mkString(", "))],
          datasets: [{
              data: [@Html(data.applicationsGroupByMonthsClosed.map{ apps =>
                     if(apps._2.isEmpty) {
                         0D
                     } else {
                         val resolutionTimes = apps._2.flatMap(_.resolutionTimeInMinutes).map(_.toDouble)
                         Math.median(resolutionTimes)/24D / 60D
                     }
                     }.mkString(", "))],
              label: "Temps median de résolution (Jour)",
              backgroundColor: "black",
              type: 'line',
              borderColor: "black",
              fill: false
          }, {
              data: [@Html(data.applicationsGroupByMonthsClosed.map{ apps =>
                     if(apps._2.isEmpty) {
                         0D
                     } else {
                         val resolutionTimes = apps._2.flatMap(_.resolutionTimeInMinutes)
                         resolutionTimes.sum.toDouble / resolutionTimes.size.toDouble / 24D / 60D
                     }
                     }.mkString(", "))],
              label: "Temps moyen de résolution (Jour)",
              backgroundColor: "rgba(113, 176, 239, 1)"
          }, {
              data: [@Html(data.applicationsGroupByMonthsClosed.map{ apps =>
                     if(apps._2.isEmpty) {
                         0D
                     } else {
                         val resolutionTimes = apps._2.flatMap(_.firstAnswerTimeInMinutes)
                         resolutionTimes.sum.toDouble / resolutionTimes.size.toDouble / 24D / 60D
                     }
                     }.mkString(", "))],
              label: "Temps moyen pour la première réponse (Jour)",
              backgroundColor: "Blue"
          },
          ]
      },

      // Configuration options go here
      options: {
          tooltips: {
              mode: 'index',
              intersect: false
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          },
          responsive: true
      }
  });
</script>
