@import java.util.UUID

@import _root_.helper.Time
@(isAdmin: Boolean)(data: views.stats.StatsData, users: List[User])


<div class="mdl-cell mdl-cell--12-col">
    <br>
    <span>Dernière mise à jour : @{Time.formatPatternFr(Time.nowParis(), "dd MMM YYYY - HH:mm:ss")}</span>
</div>

<!-- New Stats -->
<div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
    <h6>Total de demandes</h6>
    <h1>@data.all.count</h1>
    <h5>@data.all.countLast30Days sur les 30 derniers jours</h5>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
    <h6>Total d’utilisateurs</h6>
    <h1>@users.length</h1>
    <h5>@users.count(_.ageInDays <= 30) sur les 30 derniers jours</h5>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
    <h6>Répartition des demandes</h6>
    @applicationsStatusPieChart(data.all)
    <h5>@data.all.countClosedLast30Days archivées sur les 30 derniers jours</h5>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
    <h6>Pertinence des demandes</h6>
    @applicationsRelevantPieChart(data.all)
    <h5>@data.all.countIrrelevantLast30Days non pertinentes sur les 30 derniers jours</h5>
</div>

<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
    <h6>Est-ce que la réponse vous semble utile pour l’usager ?</h6>
    @applicationsUsefulnessFeedbackBarChart(data.all)
</div>

<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
    <h6>Temps de résolution</h6>
    @applicationsResolutionTimeBarChart(data.all)
</div>

<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
    <h6>Demandes déposées et archivées</h6>
    <div class="single--margin-right-16px">
        @newAndClosedApplicationsBarChart(data.all, "all")
    </div>
</div>

@if(isAdmin) {
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white typography--text-align-center">
        <h6>Demandes déposées par type de mandat</h6>
        <div class="single--margin-right-16px">
            @mandatTypeBarChart(data.all, "mandat-type")
        </div>
    </div>
}

@if(isAdmin) {
    <!-- all -->
    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing mdl-shadow--2dp mdl-color--white">
        <h6>Demandes par territoire</h6>
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            @applicationsByAreaTable(data)
        </div>
    </div>

    <!-- Old Stats -->
    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        @for(areaData <- data.aggregatesByArea) {
            <h4 class="mdl-cell mdl-cell--12-col">@areaData.area.name</h4>
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white mdl-grid">
                @stats.newAndClosedApplicationsBarChart(areaData.aggregates, areaData.area.id.toString)
                <details class="mdl-cell mdl-cell--12-col">
                    <summary>Détail des demandes faites par des structures aidantes</summary>
                    <div class="chart-container">
                        @conditionalTimeSeriesPlot(
                            areaData.aggregates.applicationsCountGroupedByCreatorQualiteThenByMonth,
                            s"toto-helper-admin-chart-${areaData.area.id}"
                        )
                    </div>
                    @conditionalTimeSeriesTransposedTable(
                        areaData.aggregates.applicationsCountGroupedByCreatorQualiteThenByMonth,
                        "Mois",
                        "Total"
                    )
                </details>
                <details class="mdl-cell mdl-cell--12-col">
                    <summary>Détail des demandes archivées</summary>
                    @closedApplicationsTable(areaData.aggregates)
                </details>
            </div>
        }
    </div>
}
