@(data: views.stats.StatsData)

<canvas id="closed-applications-chart" class="chart--default-size"></canvas>
<script>
  new Chart(document.getElementById('closed-applications-chart'), {
      type: 'bar',

      // The data for our dataset
      data: {
          labels: [@Html(data.applicationsGroupByMonths.map(s => s"'${s._1}'").mkString(", "))],
          datasets: [{
              data: [@Html(data.applicationsGroupByMonthsClosed.map(_._2.count(_.closed)).mkString(", "))],
              label: "Demandes clôturées",
              backgroundColor: "black",
              type: 'line',
              borderColor: "black",
              fill: false
          }]
      },

      // Configuration options go here
      options: {
          tooltips: {
              mode: 'index',
              intersect: false
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          },
          responsive: true
      }
  });
</script>
