@(data: views.stats.StatsData.ApplicationAggregates)

<table class="mdl-data-table mdl-data-table--initial-white-space  mdl-js-data-table mdl-cell mdl-cell--12-col">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Semaine</th>
            <th>Archivées</th>
            <th>Non Pertinentes</th>
            <th><img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f600.svg")"> Oui</th>
            <th><img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f610.svg")"> Je ne sais pas</th>
            <th><img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f61e.svg")"> Non</th>
            <th>?</th>
        </tr>
    </thead>
    <tbody>
        @for((month, applications) <- data.closedApplicationsGroupedByMonth.reverse) {
            <tr class="application-row">
                <td class="mdl-data-table__cell--non-numeric">@month</td>
                <td>@applications.length</td>
                <td class="mdl-color-text--red mdl-typography--font-bold">@applications.count(_.irrelevant)</td>
                <td>@applications.count(_.usefulness.contains("Oui")) <img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f600.svg")"></td>
                <td>@applications.count(_.usefulness.contains("Je ne sais pas")) <img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f610.svg")"></td>
                <td>@applications.count(_.usefulness.contains("Non")) <img class="usefulness__icon" src="@routes.Assets.versioned("images/twemoji/1f61e.svg")"></td>
                <td>@applications.count(_.usefulness.isEmpty) ?</td>
            </tr>
        }
    </tbody>
</table>
