@(allSeries: views.stats.StatsData.ConditionalTimeSeries, timeColumnHeader: String, sumColumnHeader: String)

<table class="mdl-data-table mdl-data-table--initial-white-space  mdl-js-data-table mdl-cell mdl-cell--12-col">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">@timeColumnHeader</th>
            <th>@sumColumnHeader</th>
            @for(condition <- allSeries.conditions) {
                <th>@condition.label</th>
            }
        </tr>
    </thead>
    <tbody>
        @for((timePoint, valuesByCondition) <- allSeries.transpose.reverse) {
            <tr class="application-row">
                <td class="mdl-data-table__cell--non-numeric">@timePoint</td>
                <td>@valuesByCondition.map(_._2).sum</td>
                @for((_, count) <- valuesByCondition) {
                    <td>@count</td>
                }
            </tr>
        }
    </tbody>
</table>
