@(allSeries: views.stats.StatsData.ConditionalTimeSeries, chartId: String)

<canvas id="@chartId"></canvas>
<script>
  var adminReceivedColors = ["#caff70","#caff70","#8b8970","#8b8970","#a2cd5a","#a2cd5a","#eea2ad","#eea2ad","#666666","#666666","#7a7a7a","#7a7a7a","#87ceff","#87ceff","#6ca6cd","#6ca6cd","#eedd82","#eedd82","#ee6a50","#ee6a50","#ee7942","#ee7942","#ff83fa","#ff83fa","#c9c9c9","#c9c9c9","#919191","#919191","#cd5c5c","#cd5c5c","#454545","#454545","#eee9bf","#eee9bf",];
  new Chart(document.getElementById('@chartId'), {
      // The type of chart we want to create
      type: 'line',
      // The data for our dataset
      data: {
          labels: [@Html(allSeries.timeAxis.map(point => s"'${point.label}'").mkString(", "))],
          datasets: [
              @for((condition, series) <- allSeries.series) {
                  {
                      label: "@Html(condition.label)",
                      fill: false,
                      lineTension: 0,
                      borderColor: adminReceivedColors.pop(),
                      backgroundColor: adminReceivedColors.pop(),
                      data: [@Html(series.points.map(_._2).mkString(", "))]
                  },
              }
          ]
      },

      // Configuration options go here
      options: {
          maintainAspectRatio: false,
          responsive: true,
          "scales":{
              yAxes: [{
                  ticks: {"beginAtZero":true, fixedStepSize: 1}
              }]
          }
      }
  });
</script>
