@import scala.collection.immutable.ListMap

@(areaData: views.stats.StatsData.AreaAggregates, months: ListMap[String, String])

<canvas class="mdl-cell mdl-cell--12-col chart--default-size" id="application-chart-@areaData.area.id"></canvas>
<script>
  new Chart(document.getElementById('application-chart-@areaData.area.id'), {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels: [@Html(areaData.aggregates.newApplicationsPerMonth.map(_._1).flatMap(months.get).map(day => s"'$day'").mkString(", "))],
          datasets: [{
              label: "Nouvelles demandes",
              backgroundColor: '#3f51b5',
              borderColor: '#3f51b5',
              stack: 'new',
              data: [@Html(areaData.aggregates.newApplicationsPerMonth.map(_._2.length).mkString(", "))]
          }, {
              label: "Demandes clôturées non évalué",
              backgroundColor: 'gray',
              borderColor: 'gray',
              stack: 'useful',
              data: [@Html(areaData.aggregates.closedApplicationsPerMonth.map(_._2.count(_.usefulness.isEmpty)).mkString(", "))],
          },{
              label: "Demandes clôturées non utiles",
              backgroundColor: 'orange',
              borderColor: 'orange',
              stack: 'useful',
              data: [@Html(areaData.aggregates.closedApplicationsPerMonth.map(_._2.count(_.usefulness.contains("Non"))).mkString(", "))],
          }, {
              label: "Demandes clôturées utilité inconnue",
              backgroundColor: 'yellow',
              borderColor: 'yellow',
              stack: 'useful',
              data: [@Html(areaData.aggregates.closedApplicationsPerMonth.map(_._2.count(_.usefulness.contains("Je ne sais pas"))).mkString(", "))],
          },{
              label: "Demandes clôturées utiles",
              backgroundColor: 'green',
              borderColor: 'green',
              stack: 'useful',
              data: [@Html(areaData.aggregates.closedApplicationsPerMonth.map(_._2.count(_.usefulness.contains("Oui"))).mkString(", "))]
          }, {
              label: "Demandes clôturées non pertinentes",
              backgroundColor: 'red',
              borderColor: 'red',
              stack: 'irrelevant',
              data: [@Html(areaData.aggregates.closedApplicationsPerMonth.map(_._2.count(_.irrelevant)).mkString(", "))]
          }]
      },

      // Configuration options go here
      options: {
          tooltips: {
              mode: 'index',
              intersect: false
          },
          responsive: true,
          scales: {
              xAxes: [{
                  stacked: true,
              }],
              yAxes: [{
                  stacked: true,
                  ticks: {"beginAtZero":true, fixedStepSize: 1}
              }]
          }
      }
  });
</script>
