@(areaData: views.stats.StatsData.AreaAggregates, users: List[User], admins: List[String])

<canvas id="admin-received-chart-@areaData.area.id"></canvas>
<script>
 var adminReceivedColors = ["#caff70","#caff70","#8b8970","#8b8970","#a2cd5a","#a2cd5a","#eea2ad","#eea2ad","#666666","#666666","#7a7a7a","#7a7a7a","#87ceff","#87ceff","#6ca6cd","#6ca6cd","#eedd82","#eedd82","#ee6a50","#ee6a50","#ee7942","#ee7942","#ff83fa","#ff83fa","#c9c9c9","#c9c9c9","#919191","#919191","#cd5c5c","#cd5c5c","#454545","#454545","#eee9bf","#eee9bf",];
  new Chart(document.getElementById('admin-received-chart-@areaData.area.id'), {
      // The type of chart we want to create
      type: 'line',
      // The data for our dataset
      data: {
          labels: [@Html(areaData.aggregates.applicationsGroupedByMonth.map(_._1).map(day => s"'$day'").mkString(", "))],
          datasets: [
              @for(admin: String <- admins) {
                  {
                      label: "@Html(admin)",
                      fill: false,
                      borderColor: adminReceivedColors.pop(),
                      backgroundColor: adminReceivedColors.pop(),
                      lineTension: 0,
                      data: [@Html(areaData.aggregates.applicationsGroupedByMonth.map(_._2.count(_.administrations(users).contains(admin))).mkString(", "))]
                  },
              }
          ]
      },

      // Configuration options go here
      options: {
          maintainAspectRatio: false,
          "scales":{
              yAxes: [{
                  ticks: {"beginAtZero":true,fixedStepSize: 1}
              }]
          }
      }
  });
</script>
