@(currentUser: User, currentUserRights: Authorization.UserRights)(formUrl: Call, result: Html, form: views.internalStats.SelectionForm)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash, request: RequestHeader, mainInfos: MainInfos)

@main(currentUser, currentUserRights)(s"Stats")  {
}{
    <div class="mdl-cell mdl-cell--12-col">
        @helper.form(formUrl, "method" -> "post") {
            Département :
            <select id="area-selector" name="areas[]">
                <option @if(form.selectedAreaIds.isEmpty) { selected } value>Tous les départements</option>
                @for(area <- form.areasThatCanBeFilteredBy) {
                    <option value="@area.id" @if(form.selectedAreaIds.contains(area.id)) { selected }>@area</option>
                }
            </select>
            @if(form.canFilterByOrganisation) {
                <select id="organisation-selector" name="organisations[]">
                    <option @if(form.selectedOrganisationIds.isEmpty){ selected } value >Tous les organismes</option>
                    @for(organisation <- form.organisationsThatCanBeFilteredBy) {
                        <option value="@organisation.id.id" @if(form.selectedOrganisationIds.contains(organisation.id)){ selected } >@organisation.name</option>
                    }
                </select>
            }
                <select id="groups-selector" name="groups[]">
                    <option @if(form.selectedGroupIds.isEmpty){ selected } value>Tous les groupes du département</option>
                    @for(group <- form.groupsThatCanBeFilteredBy) {
                        <option value="@group.id" @if(form.selectedGroupIds.contains(group.id)){ selected }>@group.name</option>
                    }
                </select>

            <br>
            Création des demandes entre le : <input name="creationMinDate" value="@form.creationMinDate" type="date">
            et le : <input name="creationMaxDate" value="@form.creationMaxDate" type="date">
            <button>Filtrer</button>
        }
    </div>
    @result
}{
}
