name: Lint

on:
  push:
    branches-ignore:
      - master
      - prod
  pull_request:

jobs:
  lint-scala:
    name: Scala
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Formatting
        run: sbt scalafmtSbtCheck scalafmtCheck test:scalafmtCheck
      - name: Scalafix
        run: sbt "scalafixAll --check"
