name: Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: harmon758/postgresql-action@v1
      with:
         postgresql version: '10'
         postgresql db: 'aplus'
         postgresql user: 'aplus'
         postgresql password: 'mysecretpassword'
    - name: Compile test
      run: sbt compile:test
    - name: Run test
      run: sbt coverage test coverageReport
      env:
        GEOPLUS_HOST: geoplus.aplus.beta.gouv.fr
    - name: Upload Coverage to codacy
      run: |
         if [ "$CODACY_PROJECT_TOKEN" != "" ]; then
            sbt codacyCoverage
         fi
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
