name: Tests

on: [push, pull_request]

jobs:
  scala-build:
    name: Scala Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - uses: harmon758/postgresql-action@v1
      with:
         postgresql version: '10'
         postgresql db: 'aplus'
         postgresql user: 'aplus'
         postgresql password: 'mysecretpassword'

    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: '14'
    - name: Install npm dependencies
      run: npm install
    - name: Hack TS source to please HTMLUnit
      run: sed -e "/autolinker/s/^/\/\/ /" -i typescript/src/index.ts
    # Note that the polyfill commented below is needed for IE...
    - name: Hack TS source to please HTMLUnit (again)
      run: sed -e "/es2015-promise/s/^/\/\/ /" -i typescript/src/index.ts
    - name: Build the JS blob
      run: npm run build

    # We compile the tests here so the test command can run faster
    - name: Compile tests
      run: "sbt Test/compile"
    # Due to transient errors thrown by HTMLUnit, we try
    # to run the tests a few times
    - name: Run tests
      run: "sbt coverage test coverageReport || sbt coverage test coverageReport || sbt coverage test coverageReport"
    - name: Run codacy-coverage-reporter
      uses: codacy/codacy-coverage-reporter-action@v1
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
      if: ${{ env.CODACY_PROJECT_TOKEN }}
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: target/scala-2.13/coverage-report/cobertura.xml

  ts-build:
    name: TypeScript Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        node-version: '14'
    - name: Install npm dependencies
      run: npm install
    - name: Build the JS blob
      run: npm run build
