name: Tests

on: [push, pull_request]

jobs:
  scala-build:
    name: Scala Build

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: harmon758/postgresql-action@v1
      with:
         postgresql version: '10'
         postgresql db: 'aplus'
         postgresql user: 'aplus'
         postgresql password: 'mysecretpassword'
    # We compile the tests here so the test command can run faster
    - name: Compile tests
      run: "sbt test:compile"
    # Due to transient errors thrown by HTMLUnit, we try
    # to run the tests a few times
    - name: Run tests
      run: "sbt coverage test coverageReport || sbt coverage test coverageReport || sbt coverage test coverageReport"
    - name: Upload Coverage to codacy
      run: |
         if [ "$CODACY_PROJECT_TOKEN" != "" ]; then
            sbt codacyCoverage
         fi
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  ts-build:
    name: TypeScript Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node 10
      uses: actions/setup-node@v2.1.5
      with:
        node-version: '10.x'
    - name: Install npm dependencies
      run: npm install
    - name: Build the JS blob
      run: npm run build
