name: Tests

on: [push, pull_request]

jobs:
  scala-build:
    name: Scala Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: harmon758/postgresql-action@v1
      with:
         postgresql version: '10'
         postgresql db: 'aplus'
         postgresql user: 'aplus'
         postgresql password: 'mysecretpassword'

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '14'
    - name: Install npm dependencies
      run: npm install
    - name: Build the JS blob
      run: npm run build

    - name: Display geckodriver and firefox versions
      run: |
        which geckodriver
        geckodriver --version
        which firefox
        firefox --version

    # We compile the tests here so the test command can run faster
    - name: Compile tests
      run: "sbt Test/compile"

    - name: Run tests
      run: "sbt coverage test"
      env:
        GECKO_DRIVER: /usr/bin/geckodriver

    - name: Generate coverage report
      run: "sbt coverageReport"

    - name: Run codacy-coverage-reporter
      uses: codacy/codacy-coverage-reporter-action@v1
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
      if: ${{ env.CODACY_PROJECT_TOKEN }}
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: target/scala-2.13/coverage-report/cobertura.xml

  ts-build:
    name: TypeScript Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '14'
    - name: Install npm dependencies
      run: npm install
    - name: Build the JS blob
      run: npm run build
